/*
*******************************************************************
FAQ Page styles Start
*******************************************************************
*/
@font-face {
  font-family: avenirnext_reguler;
     src: url('/fonts/avnier/AvenirNextLTPro-Regular.otf');  
     
}
@font-face {
  font-family: avenirnext_demi;
     src: url('/fonts/avnier/AvenirNextLTPro-Demi.otf');   
}
@font-face {
  font-family: avenirnextitalic;
     src: url('/fonts/avnier/AvenirNextLTPro-It.otf');   
}
@font-face {
  font-family: avenirnext_demi;
     src: url('/fonts/avnier/AvenirNextLTPro-Demi.otf');  
     
}
@font-face {
  font-family: ralewayextralightextra;
     src: url('/fonts/Raleway-ExtraLight.eot');
     src: url('/fonts/Raleway-ExtraLight.ttf') ;         
}
.railwaylightfontfamily{
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}
.avenirnext_demi{
	font-family: avenirnext_demi;
}
.avenirnext_italic{
	font-family: avenirnextitalic;
}
.sitesocialmediaicon li, .maintopbarsearchtext, .headerprofiletext{
	color: #7b858e;
}
.sitemainmenuul li a{
	color: #060606;
	transition: all 0.3s ease 0s;
}
.sitetextblue{
color: #7b858e;
}
.siteoptionpaneltext {
    font-size: 1.357em;
}
.sitetextgray{
	color: #9d9d9d;
}
.commontitlefontsize{
	margin-left: 1px;
	margin-right: 1px;
}
.maincontentp {
    line-height: 30px;
}
.maincontetul li a{
	font-size: 0.9em;
}
.sitetextbluelight{
	color: #305e7d;
}
.titleh2fonts{
	font-size: 2.429em;
}
.sitecontentaccodian .sitepanel-default a{
	font-size: 2.556em;
}
.sitecontentaccodian .sitepanel-default .panel-body a {font-size: 1em;}
.sitecontentaccodian .maincontentp{
	font-size: 1.214em;
}
.readmorebox{
	background: #74a883;
}
.sitetabcontentsec li a, .sitetabcontentsec li.active a{
 color: #060606;
}
.caruncelcontent{
	background: #7b858e;
}
.tabcontentdiv{
	background: #fafafa;
}
.sitetabcontentsec li.active a, .sitetabcontentsec > li.active > a:focus, .sitetabcontentsec > li.active > a:hover{
	background: #fafafa;color: #060606
}
.sitetabcontentsec li, .sitetabcontentsec{
	background: #edeeef;
}
.footerwraptopbg{
	background: #74a883;
}
.footercontentbottomwrapcont {
    font-size: 1em;
    letter-spacing: normal;
}
.footercontentbottomwrap{
	background: #7b858e;
}
.dottedborderleft{
	border-left: 2px dotted #9098a0;
}
.ralewayextralightextra
{
	font-family: ralewayextralightextra;
}
.contsidebartitle{
 color: #5b5b5b;
}
.contsidebartext
{
	font-family: avenirnextitalic;
}
.sitecommentcount{
	background: url("../images/faqicon.png") no-repeat scroll center left; 
	padding-left: 34px;
}
.sitecontentaccodianfaq{
	margin-bottom: 0px;
    margin-top: 20px;
}
.sitecontentaccodianfaq .panel-heading{
	background: #959da5;
	height: 69px;
	padding: 0;
	border-left: 0;
}
.sitecontentaccodianfaq .panel-heading a{
	font-size: 1.143em;
	text-align: center;
	line-height: 69px;
	letter-spacing: 0.2em;
}
.sitecontentaccodianfaq .panel-heading a span{
	color: #ffffff;
}
.sitecontentaccodianfaq .sitepanelicon{
	background: none;
	color: #ffffff;
	font-size: 35px;
}
.sitepanelicon{
	font-size: 35px;
}
.sitecontentaccodianfaq span.accodianpanel{
	background: url("../images/faqaccicon.png") no-repeat scroll center left; 
	padding-left: 30px;
}
.sitecontentaccodianfaq .panel-body{
	background: #fafafa;
	padding-top: 24px;
	padding-left: 21px;
	padding-right: 21px;
}
.sitecontentaccodianfaq .panel-body h3{
	color: #305e7d;
	font-size: 1.429em;
	padding-bottom: 16px;
}
.sitecontentaccodianfaq .panel-body p.maincontentp{
	color: #717171;
	font-size: 1.214em;
	margin-bottom: 45px;
}
.faqquestionwrap{
	padding-left: 21px;
	padding-right: 21px;
	padding-bottom: 17px;
	padding-top: 24px;
	background: #fafafa;
}
.faqquestionwrap h3{
	color: #5c8ba5;
	font-size: 1em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.faqquestionleft{
	width: 32%;
	float: left;
	box-sizing: border-box;
	padding: 18px 18px 0 0;
}
.faqquestionright{
	width: 68%;
	float: left;
	box-sizing: border-box;
	padding-top: 18px;
}
.faqspecial{
	margin-bottom: 18px;
}
.faqquestionright .form-control
{
	 min-height: 138px;
}
.fullcitedboxcontent{
	background: #fafafa;
	margin-top: 18px;
}
.contentpaddingtopnews{
	margin-top: 15px;
}
.sitecontentaccodianfaqtop span.accodianpanel{
background: none;
}
.sitecontentaccodianfaqtop .panel-heading{
background: #7b858e;
}
.footerwraptopbg{
	margin-top: 0;
}
.footeradres{
	color: #4d4d4d;
}
.footertexttiltetext{
	color: #5c8ba5;
}
.sitesignuptext .btn{
	background: #74a883 none repeat scroll 0 0;
}
.willnesspage .btn{
	background: #77905a none repeat scroll 0 0 !important;
}
.willnesspage .form-control{
 border: 1px solid #dee0e3 !important;
}
.signupform .form-control
{
	color: #305e7d;
	font-size: 0.857em;
}
.tab-content > .active{
	padding: 15px 5px !important;
}
.titleh3fonts{
	margin-top: 10px;
}
.sitecontentaccodianfaq .panel-body h3 {   
    padding-bottom: 5px;
}
.sitecontentaccodianfaq .panel-body p.maincontentp {
    margin-bottom: 30px;
}