/*Main tempalte Reset Styles start*/
.maintopmainmenu {
    border-bottom: 0;
}
.footerwraptopbg{
	display: none;
}
.imagezoombtn:hover{
	background-color: #48905e;
	-webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.sitesignuptext .btn{
background: #74a883 none repeat scroll 0 0;
}