/*Responsive For Mobile*/
@media (max-width: 767px) {
body{
	font-size: 12px;
}
.maintopbarwrap, .footerdiv, .fbLogin, .educaterlogindivright ul, .skintabdivleft img, .skintabdivright img{
	text-align: center;
}
.imgHover{
	width: 300px !important;
}
.stecheckbox {
    margin-left: 0;
    padding-top: 0;
}
.stpcontentsec .panel-body {
    margin-left: 20px;
    margin-right: 20px;
}
.stpcontentsec .stpcontenttitle {
    font-size: 14px;
    }
.stpcl3maintitle {
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;

}
.skincolorselecter ul li{
	margin-bottom: 6px;
}
.skincolorselecter{
	margin-top: 0;
	margin-bottom: 0;
}
.educateraccodian .educatenextbtnprev{
	width: auto;
}
.authorpopover{
 min-width: 200px;
 left: 0 !important;
 top: 14px;
}
.authorpopover .popover-content span, .authorpopover .popover-content h3{
	font-size: 14px;
}
.prevespecmob{
	margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.skineduprevespecmob{
	margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
}
.beauty.sitecontentaccodianfaq ul li img{
	height: auto;
}
.homesitetabcontentsec li.active a, .homesitetabcontentsec li.active a:hover, .homesitetabcontentsec li.active a:focus{
	border-top:0;
	background: #e9ebe5;
}
.tab-content .slick-slide{
 height: auto;
}
.nextprvbtnul li{
	display: block;
}
.caruncelimg {
    width: auto;
}
.educationrstxt{
	min-height: auto;
}
.usermanagementsec .pagination{
  margin: 10px;
}
.usermanagementsec .createuser{
	margin-left: 0px;
}
.educaterlogindivright ul li {
    font-size: 13px;
    }

.sitebannersection{
	max-height: none;
}
.floatleftxsedu{
	float: right;
}
.ourstorycontent h2, .ourstorycontent h3 {
    font-size: 16px;
    padding-top: 10px;
}
.ourstorycontent .paddingtopbottom{
				padding: 0;
			}
.ourstorycontent p{
 font-size: 16px;
 padding-bottom: 20px;
}
.detailaccodiancontent p{
	line-height: 22px;
}
.dottetedborder h3{
	   line-height: 2.3em;
}
.content-push, .content-push-para, .sitetopbarsocial, .educaterresulttpdivright, .skinresulttabcont .profileresbtndiv, .profileresbtndiv, .paddingleftcls,
.dottedborderleft, .educaterresulttpdiv .resultborder
{
	padding-left: 0;
}
.paddingleftnone {
    padding-left: 15px;
}
.paddingrightnone{
	padding-right: 15px;
}
.sitefooterpading, .educaterfinel .col-xs-8{
	padding: 0px;
}
.sitetopbarsocial, .sitesocialmediaicondiv, .faqquestionleft, .skinresulttabcont .skintabsecright, .mainArticle, .subArticle, .educaterresulttpdiv .resultborder
{
 	padding-right: 0;
}
.educaterselecterbg{
 padding-right: 0;
}
.sitemainmenuul li, .nextbtnli{
	margin: 0;
}
.sliderimg, .fbLogin{
	display: block;
    height: auto;
    max-width: 100%;
}
.siteopouthname, .educaterresulttpdiv .resultborder{
	border-right: 0;
}
.iconscrollermenu, .sitefullscreendiv, .sitefontadjustdiv, .footerborderdot, .dottedborderleft, .educaterresulttpdiv .resultborder{
	border-left: 0;
}
.scrollermenuwrap{
	padding-left:0;
	min-height: 10px;
}
.sitefullscreendiv, .sitefontadjustdiv{
    margin-left: 0;
    padding-left: 0;
}
.sitesidebar, .educaterlogindivright, .educaterlogindivright .memberclick{
	margin-top: 20px;
}
.educaterdiv .educaterlogindivright
{
	border-top: 2px dotted #dadfdf !important;
	padding-top: 20px !important;
}
.footerul, .medicinetypetabsul, .dottedborderleft{
	margin-left: 0;
}
.faqquestionright .form-control.beautyfaq {
    min-height: auto;
}
.actionbarsocialmedia .sitesocialmediaicon li {
    display: inline-block;
    float: none;
    margin-left: 5px;
}
.actionbarsocialmedia .sitesocialmediaicon li a{
	padding-top: 7px;
}
.shareicons a{
	margin: 0 5px;
}
.sitecontentaccodian .sitepanel-default a{
	font-size: 1.2em;
}
.sitepanelicon{
	height: auto;
}
.sitemainmenuul li a:hover, .sitemainmenuul li a.active, .sitemainmenuul li.open a.dropdown-toggle:hover {
    background: rgba(0, 0, 0, 0) url("../images/menuhovermob.png") no-repeat scroll center left;
}
.mega-dropdown-menu{
	position: relative;
	border: 0;
	box-shadow: none;
}
.sitemainmenuul li a, .sticky .sitemainmenuul li a{
	padding-bottom:5px;
    padding-top: 5px;
    padding-left: 15px;
}
.checkboxdivsleft, .checkboxdivsright, .faqquestionleft, .skintabsecleft, .skintabsecright, .signupleft, .signupright{
	float: none;
}
.userprofiletabs ul.nav-tabs li a{
	line-height: normal;
	letter-spacing: normal;
	padding-top: 19px;
}
.borderclasstab a, .borderclasstabfirst a{
	padding-top: 13px !important;
}
.educaterresulttpdiv{
	margin-bottom: 20px;
	display: block;
}
.educaterresulttpdivleft, .educaterresulttpdivlmiddle {
    margin-bottom: 15px;
}
.educaterresulttpdivlmiddle, .educaterresulttpdivleft, .checkboxdivsleft, .checkboxdivsright,
.mega-dropdown-menu, .faqquestionleft, .fotterabout, .educaterresulttpdivright, .educaterresultbox, .skintabsecleft, .skintabsecright, .skindiscribediv .filterdropdown-toggle,
.educateraccodian .educatenextbtn, .imageuploadersec .btn-file, a.startover, a.saveprofile, .educaterlogindivright .memberclick, .fbLogin, .educaterdiv .educaterlogindivleft, .beauty.sitecontentaccodianfaq ul li img, .footerdivsignup,
.mainArticle,.subArticle, .signupleft, .signupright, .usermanagementreguser .signupleft, .usermanagementreguser .signupright
{
	width: 100%;
}
.signupleft, .signupright{
	margin-right: 0;
}
/*.educaterresulttpdiv h3{
	margin-bottom: 15px !important;
}*/
.educaterresultbox .divbg{
	margin-bottom: 0;
	background-position: center top !important;
}
.educaterresultboxmargin, .paddingtopcallssres, .skinmeterrightdiv .skinmeterimg, .medicinetypetabcontent, .educaterlogindiv, .educaterlogindivright ul, .educatermiddle, .educaterresultbox{
 	margin: 0;
}
.startoveredit{
	width: 100% !important;
}
.textmobpad{
	padding-top: 10px;
	padding-bottom: 10px;
}
.skintabcontent, .skindiscribediv, .imageuploadersec, .sitecontentaccodianmob .panel-body, .educatermiddle, .educaterlast{
	padding-left: 20px;
	padding-right: 20px;
}
.educaterfinel{
	padding-left: 20px !important;
	padding-right: 20px !important;
}
.sitecontentaccodianmob .panel-body .educaterleft{
 padding-top: 0;
 padding-bottom: 0;
}
.skinresulttabcont .skintabwrapsec{
	display: block;
}
.skintabsecleft{
	border: 0;
}
.skintabdivleft img{
	width: 58px;
	height: 58px;
}
.skintabdivright img{
	width: 150px;
}
.skintabdivleft h4, .skintabdivright h4{
 	font-size: 18px;
}
.skintabsecleft {
    padding: 20px 0 0;
    border-bottom: 2px dotted #d9dede;
}
.medicinetypetabsul {
    margin-bottom: 25px;
    margin-top: 20px;
}
.medicinetypetabsul li a{
	padding-top: 0 !important;
}
.medicinetypetabsul li{
	margin-left: 10px !important;
}
.modal-dialog, .modal::before {
    display: inherit;
}
.modal::before {
    height: auto;
    margin-right: auto;
}
.signupdiv h2, .educaterdiv h2{
 	font-size: 18px;
    padding-top: 15px;
}
.signupdiv h3, .educaterdiv h3{
	margin-bottom: 25px;
    margin-top: 25px;
}
.signupdiv h1, .educaterdiv h1{
	font-size: 35px;
	padding-top: 20px;
}
h2.educatertitlemob{
	letter-spacing: 1px !important;
}
h1.educatertitlemob{
	font-size: 28px !important;
}
.signuppagebg, .educaterbg{
	padding-top: 8px;
}
.signupforminner, .profiletabcontent .signupforminner, .educaterlogindiv, .educaterleft{
	padding:20px;
}
.mobilecheckboxpad{
	padding-left: 20px;
}
.signupforminner .dashedborderspace, .educaterdiv .educaterlogindivleft p, .educaterdiv .educaterlogindivright p {
    margin-bottom: 20px;
    margin-top: 20px;
}
.signupleft{
	margin-bottom: 15px;
}
.checkboxstyleswrap, .profiletabcontent .checkboxstyleswrap {
    margin-bottom: 20px;
    padding: 0;
}
.favoritessectionwrap {
    margin: 12px 20px;
}
.favoritesbookmarkdiv{
	padding-left: 8px;
	background: none;
}
.bookmarkemail{
	margin-right: 5px;
}
.loginforminner input, .forgetpassinner input, .signupforminner input, .educaterforminner input, .signupforminner select, .skindiscribediv .filterdropdown-toggle{
	height: 40px;
}
.skindiscribediv .filterdropdown-toggle{
	line-height: 40px;
}
.skindiscribediv .filterdropdown-toggle .caret{
	top: 15px;
}
.loginbtn{
	height: 38px;
}
.profileinpusdis, .profiletabcontent .signupforminner .propaddingtop {
    margin-bottom: 10px;
}
.educateraccodian{
	margin-top: 22px;
}
.educateraccodian .sitecontentaccodian .panel-body{
	padding-top: 20px;
}
.skindiscribediv h4{
	font-size: 17px;
}
.educateraccodian .educatenextbtn, .nextprvbtnul{
	margin-top: 17px;
}
.skindiscribediv ul.dropdown-menu {
    left: auto;
    margin-left: auto;
    width: 100%;
}
.educaterselecter ul.dropdown-menu li a, .skindiscribediv ul.dropdown-menu li a, .educateraccodian .sitepanel-default .panel-heading a{
	font-size: 14px !important;
}
.educateraccodian .accodianno {
    display: inline;
    line-height: normal;
    padding-left: 0;
    position: relative;
    padding-right: 2px;
}
.skindiscribediv .filterdropdown-toggle{
	font-size: 12px;
	padding-left: 10px;
}
.skindiscribediv .filterdropdown-toggle .caret{
	right: 5px;
}
.educateraccodian .accodianselected, .educateraccodian .sitepanel-default .panel-heading.accodianselected .collapsed{
	background-image: none !important;
}
.sitecontentaccodian{
	margin-bottom: 0;
}
h2.educatesubtitle{
	font-size: 18px !important;
	margin-top: 20px;
}
a.saveprofile{
	margin-left: 0
}
.profileresbtndiv {
    margin-bottom: 25px;
    margin-top: 25px;
}
.profileresbtndiv a.startover, .loginforminner input{
	margin-bottom: 10px;
}
.educaterdiv .educaterlogindivleft, .educaterdiv .educaterlogindivright{
	padding: 0;
	border: 0;
}
.educaterlogindivleft p br, .educaterlogindivright p br{
	display: none;
}
.educaterlogindivright ul li{
	background: none;
	list-style-image: url('../images/listbullet.png');
	padding: 0;
}
/*.sitemainmenuul li.open .dropdown-toggle{
	background: url("../images/mobdropdownarrow.png") no-repeat scroll 4px center !important;
}*/
.contentarticlesort .beauty.sitecontentaccodianfaq .quesImg{
  width: 100%;
}
.contentarticlesort .beauty.sitecontentaccodianfaq .quesImg img{
 width: auto;
}
.contentarticlesort .beauty.sitecontentaccodianfaq .quesDetail{
  width: 100%;
  float: none;
  padding-left: 0;
}
.sitemainmenuul li a, .sticky .sitemainmenuul li a{
    padding-left: 20px !important;
}
.mobiledivwidth{
    width: 50%;
}
.symselectmob .checkboxstyles label{
	padding-left: 20px;
	letter-spacing: 1px;
}
.symselectmob .educatenextbtn{
	margin-left: 20px;
	margin-right: 20px;
	width: auto !important;
}
.skinimgmob{
	margin: 0 auto;
	margin-bottom: 20px;
}
.skindroselecter{
    float: none;
    clear: both;
}
.skinimgmob img{
	margin-bottom: auto;
}
.maintitlebg {margin: 50px 13px;text-align: center;}
.maintitlebg h1 {padding: 11px 0}
.titleHeader h1 {font-size: 40px;}
.featuredtitle h2 {font-size:20.86px}
.titleHeader p {font-size: 14px}
.featuredtitle {padding-right: 15px;}
.wilnessesbox .allformbtn, .beautyboxmob .allformbtn{
    font-size: 12.5px;
    letter-spacing: 0.175em;
    padding:0 10px;
}
.bdTitle h3 {padding: 8px 0 7px;font-size: 40px}
.mainArticle .titleLink h4 {font-size: 11px;}
.mainArticle .titleLink a {padding: 0 11px;font-size: 12px}
.mainArticle .discription {font-size: 14px}
.mainArticle .viewAll {margin: 0 0 15px;font-size: 12px;letter-spacing: .2em}
.subArticle .discription p {
    line-height: 22px;
    font-size: 14px;
    margin-top: -5px
}

.articleGroup h3 {font-size: 40px}
.subArticle .image {
    width: 41.5%;
}
.sitecontentaccodianfaq.beauty .panel-heading a {letter-spacing: 0.05em;font-size: 24px;line-height: 50px}
.sitecontentaccodianfaq .panel-heading {height: 50px !important}
.beauty.sitecontentaccodianfaq ul li {padding: 15px 0 }
.beauty.sitecontentaccodianfaq .quesImg {
    width: 48%;
}
.sitecontentaccodianfaq .panel-body, .articlepaginate ul, .faqquestionwrap {
    background: #fff !important;
}
.willnesscatgorydisp span, .willnesscatgorydisp a{font-size: 12px !important}
.faqquestionwrap h3 {font-size: 12px;line-height: 18px;margin: 0 -21px;padding:15px 21px;background:#fafafa  }
.faqquestionright {width: 100% !important;padding-top: 0 !important; }
.faqquestionwrap {
    padding: 17px 21px !important;
}
.footerborderdot {margin-top: 35px;min-height: initial;}
.footertexttiltetext {
    color: #7b858e !important;font-size: 14px
}
.articlepaginate ul {border-bottom: 0}
.sitecontentsec {
    padding-bottom: 5px;
}
.footerdiv {
    padding-top: 2px;
}
.footerwrap {
    padding: 25px 0 0;
}
.educaterdropdown_toggle, .educaterdropdown_toggle:hover, .educaterdropdown_toggle:focus, .educaterdropdown_toggle.focus{
 border-top: 1px solid #cecece;
 margin-top: 50px;
 font-size: 12px;

}
.educaterselecter .btn-group{
	width: calc(100% - 95px);
}
.educaterdropdown_toggle span.selectlabel{
	padding-left: 0;
}
.educaterselecterbg {
    background: rgba(0, 0, 0, 0) url("../images/educaterbgselectmob.jpg") no-repeat 21px;
    height: 160px;
    width: 95px;
     -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.educater_focal{
    background-position: 21px center !important;
}
.educater_diffuse{
    background-position: -68px center !important;
}
.educater_liner{
    background-position: -147px center !important;
}
.educater_singlelesion{
    background-position: -227px center !important;
}
.educater_manylesion{
    background-position: -306px center !important;
}
.educaterselecter{
 max-width: 100%;
}
/*.scrollermenuwrap a{
	float: none;
}*/
.filterbtndiv .btn{
	padding: 0;
	letter-spacing: 1px;
}
.filterbtndiv .btn .caret{
	right: 6px;
}
.filterbtndivlabel{
	font-size: 13px;
	min-width: auto;
	letter-spacing: 1px;
}
.filterbtndiv .dropdown-menu li a {
    letter-spacing: 1px;
    padding: 5px 0 5px 20px;
}
.mainbannrdivtitle h1 {
    font-size: 25px;
    line-height: normal;
}
.mainbannrdivtitle{
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	top: 10% !important;
}
.mainsearchform input.searchcontentkey, .searchcontenttopic{
 width: 100%;
 margin: 0;
 padding: 0;
 text-align: center;
}
.searchcontenttopicbtn, .mainsearchform select.inputfontstyle
{
	margin-top: 10px;
}
.searchcontenttopicbtn{
 width: 100% !important;
}
.hometopboxarea .homeboxpaddingleft {
    padding-left: 0;
    padding-right: 0;
}
.hometopboxarea .homeboxpaddingright {
    display: block;
    padding-left: 0;
    padding-right: 0;
}
.homeboxlefttopboxborderleftgray {
    border-left: 0 none;
    margin-top: 0;
}
.flexcontentdiv {
    display: block;
}
.hometopboxarea .homeboxlefttopbox {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    height: auto;
    line-height: normal;
}
.homeboxcontentarealeft {
    padding-left: 20px;
}
.homeboxcontentarealeft h2 {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 20px;
}
.homeboxmorebtn, .homeboxmorebtnright {
    font-size: 20px;
    height: auto;
    line-height: normal;
    margin: 20px 0 17px 0;
    position: relative;
    width: 100%;
    display: block;
    background-image: none;
    padding: 10px;
}
.homeboxmorebtn:hover, .homeboxmorebtnright:hover{
	 background-image: none;
}
.homeboxdinamicdiv{
 margin: 0;
}
.homeboxcontentarearight {
    padding-bottom: 0;
    padding-top: 8px;
    text-align: center;
    padding-right: 20px;
}
.homeboxcontentarearight img{
	width: 70px;
}
.homeboxcontentarealeft p{
    font-size: 15px;
    padding-top: 20px;
}
.homeboxcontentarealeft ul li{
	font-size: 15px;
}
.homesitetabcontentsec li:first-child a {
    padding: 9px;
}
.homesitetabcontentsec li a {
    font-size: 12px;
    padding: 10px;
}
.tabcaruncelhome .slick-list {
    margin: 0 30px !important;
}
.tabcaruncelhome .tabcurcontent{
	width: 100%;
	padding: 0 10px;
}
.homeaccodianwrapdivtext p{
 font-size: 14px;
 line-height: 25px;
}
.tabcurcontent h2{
	text-align: center;
}
.homebottomboxriteborder{
	border: 0;
}
.homebottomboxwrapinner .col-md-3, .contentpanelhelth .homebottomboxwrapinner .col-md-3{
	padding: 0;
}
.imageboxposition{
 width: 100%;
 height: 115px;
}
.imageboxposition .original, .imageboxposition .hoverimage {
   left: 50%;
    margin-left: -50px;
    width: 100px;
}
.homebottomboxwrapinner h3{
	font-size: 18px;
	min-height: 40px;
}
.homebottomboxwrapinner .tabcaruncelhomelearnmore{
	width: 100%;
	margin-bottom: 20px;
    margin-top: 20px;
}
.paddinleftmob{
	padding-left: 5px !important;
}
.paddinrightmob{
	padding-right: 5px !important;
}
.homemoddlescroller {
    background: #ffffff url("../images/homescrollermob.png") no-repeat scroll center center;
    display: block;
    height: 52px;
}
.homescrollermenu{
	margin: 0 auto;
    width: 55px;
}
.homebottomboxwrap{
	padding-bottom: 0;
}
.homebottomsignupwrap {
    padding-bottom: 26px;
}
.mainsearchform input.searchcontentkey::-webkit-input-placeholder{
	font-size: 10px;
}
.mainsearchform input.searchcontentkey:-moz-placeholder{
	font-size: 10px;
}
.mainsearchform input.searchcontentkey::-moz-placeholder{
	font-size: 10px;
}
.thankyoutextdiv h2 br{
	display: none;
}
.contentpanelhelth .colequalleft{
 width: 100%;
 padding-right: 0;
}
.contentpanelhelth .colequalright{
 width: 100%;
 padding-left: 0;
}
	.homebottomboxwrapinner h3{
	margin: 0;
}
.sitefaqmob .sitebannersection{
	padding-bottom: 15px;
}
h1.bannertitle{
	line-height: 100%;
	text-align: center;
}
.sitefaqmob .siteoptionpaneltext{
	margin-top: 0;
	font-size: 13px;
	margin-right: 10px;
}
.sitefaqmob .sitecommentcount{
	background: none;

	padding: 0;
}
.sitefaqmob .scrollermenuwrap{
	text-align: center;
}
.sitefaqmob .sitecontentaccodian {
	margin-top: 20px;
}
.sitefaqmob .sitecontentaccodian span.accodianpanel{
 display: block;
}
.sitefaqmob .sitecontentaccodian .panel-heading{
	min-height: 60px;
}
.sitefaqmob .readmorebox{
	font-size: 10px;
}
.sitefaqmob .sitecontentaccodianfaq .panel-heading a{
	font-size: 20px;
	letter-spacing: 1px;
}
.sitefaqmob .faqquestionleft .form-control{
	margin-bottom: 18px;
}
.sitefaqmob .fullcitedboxcontent{
	margin-top: 0;
	padding-top: 0;
}
.sitefaqmob .tabcaruncel .controw{
 display: block !important;
}
.sitefaqmob .tabcaruncel .caruncelcontent{
	width: 100%;
}
.sitefaqmob .sitetabcontentsec li a{
	font-size: 10px;
	padding-left: 8px;
	padding-right: 8px;
}
.sitefaqmob .contentpaddingtopnews {
    margin-top: 0;
}
.validationerrorbox{
height: auto;
padding: 10px;
line-height: normal;
font-size: 13px;
margin-right: 20px;
  margin-left: 20px;
}
.searchgroup input.form-control{
	font-size: 14px;
}
.modalpopupaddfav .modalbuttons{
width: 100%;
}
.modalpopupaddfav h2{
  font-size: 18px;
}
.detailaccodiancontent img{
	float: none !important;
	margin: 0 !important;
	max-width: 100%;
	margin-bottom: 10px !important;
}
.detailaccodiancontent ol{
	padding-left: 15px;
}
.detailaccodiancontent ol li{
	padding-bottom: 6px;
}
}
/*
*******************************************************************************************
Responsive For IPAD & Mobile
*******************************************************************************************
*/
@media (max-width: 1024px) {
.sitemainmenuul li a, .sticky .sitemainmenuul li a{
	height: 45px;
}
.maintopmainmenu .navbar{
	min-height: 100%;
}
.sitesidebarrightvideo{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.featuredvidwrap{
  margin-top: 0px;
  margin-bottom: 20px;
  padding-right: 0px;
}
.sitesocialmediaicondiv {
    border-right: 0 none;
    height: auto;
    margin-right: 0;
    margin-left: 10px;
}
.sitebrand {
    padding-bottom: 26px;
    transition: all 0.3s ease 0s;
    }
 .sitemaintopwrap {
    margin-top: 0px;
}
.sitemaintopwrapmobile {
    margin-top: 50px;
}
	.tablefiltermob{
	margin-top: 10px;
}
.ourstorycontent .skinconditiondiv{
				margin-top: 20px;
			}
.mainArticle .titleLink h4{
	font-size: 13px;
}
.profiledropdown .dropdown-menu{
  left: auto;
  right: 0;
  text-align: left;
  text-transform: uppercase;
  padding-top: 5px;
}
	.searchresultpage .searchgroup{
width: 100%;
padding-bottom: 20px;
}
.skindiscribediv .filterdropdown-toggle{
	letter-spacing: 0px;
}
	.sitefaqmob .sitecontentaccodianfaq .panel-body{
padding-left: 0;
padding-right: 0;
padding-bottom: 0;
	}
.sitefaqmob .sitecontentaccodianfaq span.accodianpanel{
	padding-left: 0;
}
.sitefaqmob .sitecontentaccodianfaq span.accodianpanel{
	background:none;
}
.sitefaqmob .sitecontentaccodianfaq .panel-heading{
	height: auto !important;
}
.sitefaqmob .bredcrumbtext{
display: block;

}
.sitefaqmob .sitecontentaccodian .sitepanelicon	{
	background: none;
	width: 30px;
}
.sitefaqmob .sitecommentcount{
	margin: 0;
}
.sitefaqmob .sitecontentleftpad{
	padding-left: 0;
	padding-top: 5px;
}
.sitefaqmob .sitecontainer{
	padding: 0 15px;
	padding-bottom: 15px;
}

.sitefaqmob .paddingtopbottomoptionpanl {
    padding: 0;
    padding-top: 15px;
}
.sitefaqmob .paddingtopbottomoptionpanl .col-md-8, .sitefaqmob .paddingtopbottomoptionpanl .col-md-8 .col-md-7 {
    padding: 0;
    }
h1.bannertitle{
	border-left: 0 none;
    font-size: 40px;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 20px;
}
.bannercontent {
    border-left: 0 none;
    font-size: 18px;
    line-height: 30px;
}
.contentpanelhelth .homebottomboxwrapinner {
    margin-top: 20px;
    padding: 0;
    padding-top: 20px;
    margin-bottom: 0;
}
	.mainsearchform select.inputfontstyle {
    background: #ffffff url("../images/mainseachselectarrowmob.png") no-repeat scroll right 5px center;
}
.contentpanelhelth .skinconditiondiv{
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	background: none;
}
.contentpanelhelth .skinconditiondiv a{
	font-size: 16px;
	line-height: 30px;
}
.thankyoutextdiv{
	padding-bottom: 30px;
}
.homebottomsignupwrap p{
	padding: 20px;
	font-size: 18px;
}
.homebottomboxriteborder{
 border: 0;
}
.homebottomboxwrapinner .tabcaruncelhomelearnmore{
 margin-bottom: 20px;
}
.homebottomboxwrapinner{
	margin-top: 20px;
}
.homebottomboxwrapdiv p{
	padding-bottom: 20px !important;
}

	.mainsearchform input.searchcontentkey, .searchcontenttopic, .mainsearchform .searchcontenttopicbtn{
	height: 40px;
}
.mainsitesearchdiv{
	height: auto;
}
	.sitecontainer {
    padding: 0 12px;
}
.floatright, .floatleft{
	float: none;
}
.sitemainmenuul .mega-dropdown-menu{
	min-width: auto;
}
.mega-dropdown-menu{
	top: auto;
}
.mega-dropdown-menu li a, .mega-dropdown-menu li a:hover{
	height: auto;
    line-height: normal;
    border: 0;
    background: none;
}
.addpadcontrol .maintopbardivsearch{
	float: none !important;
}
.seachboxmaintop{
	height: 29px;
}
.maintopbarwrap .container{
	padding:0; }
/*site Header style start*/
.navbar-toggle{
display: block;
}
.sticky .mega-dropdown-menu{
 top: auto;
}
.maintopbardiv {
	padding-left: 11px;
	padding-right: 7px;
}
.beauty.sitecontentaccodianfaq ul li .quesDetail h4.beutymob{
	height: auto;
	padding-top: 0;
}
.navbar-toggle .icon-bar{
	background: #b0b6bb none repeat scroll 0 0;
}
.navbar-toggle .icon-bar{
	height: 6px;
	width: 30px;
}
.navbar-toggle{
	margin: 0;
	padding: 0;
	margin-top: 9px;
}
.navbar-collapse.in {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1100;
    background: #ffffff;
    box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.47);
}
.navbar-collapse.collapsing {
  -webkit-transition: height 0.01s;
  -moz-transition: height 0.01s;
  -ms-transition: height 0.01s;
  -o-transition: height 0.01s;
  transition: height 0.01s;
}
.footercopyrite{
	margin-bottom: 0;
}
.searchbox-open{
height: 45px !important;
border-left:0 !important;
width: 100%;
}
.sitemainmenuul li a, .sticky .sitemainmenuul li a{
	padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
}
.beautyboxmob, .wilnessesbox {
	margin-bottom: 16px;
}
.sitemainmenuul li a:hover > span, .sitemainmenuul li a.active > span{
border-bottom: 0;
}
.addpadcontrol .maintopbardiv, .maintopbarwrap .container{
 padding: 0;
}
.searchbox-open .searchbox-input{
	font-size: 1em;
    height: 46px;
    letter-spacing: 1px;
}
.seachboxmaintop{
	height: 29px;
	background: rgba(0, 0, 0, 0) url("../images/searchmob.png") no-repeat scroll right center;
}
.floatleftxs{
	float: left !important;
}
.floatrightxs{
	float: right !important;
}
.addfavfont{
	display: inline-block;
	background: rgba(0, 0, 0, 0) url("../images/faviritemob.png") no-repeat scroll 0 0;
	padding: 0;
	width: 27px;
	height: 25px;
	margin: 11px 0px 0 10px;
}
.addfavfont:hover{
	background: url("../images/faviritemobhover.png") no-repeat !important;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
 .addfavfontclick, .addfavfont:focus{
    background: url("../images/faviritemobhov.png") no-repeat !important;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.sitesocialmediaicon li a{
	background: #dfdfdf;
}
.sitesocialmediaicon li{
	margin-top: 11px;
	margin-right: 1px;
	margin-left: 0;
}
.searchbox-open .seachboxmaintop{
	 height: 45px;
}
.searchbox-icon, .searchbox-submit{
	padding-top: 9px;
}
.searchbox-open .searchbox-icon, .searchbox-open .searchbox-submit{
	padding-top: 0px;
	width: auto;
}
.sitesocialmediaicon li a.facebook, .sitesocialmediaicon li a.inkedin{
	background: #d3d3d3;
}
.headerprofile{
	margin-top: 0;
}
.headerprofilediv{
	padding-left: 0;
	border: 0;
	padding-top: 2px;
}
.searchbox{
 min-width: 37px;
 border-left: 2px dotted #f0f0f0;
 height: 43px;
}
.sitebrand, .faqquestionwrap h3{
	text-align: center;
}
.sticky .headerprofile {
    margin-top: 0;
}
.sticky .navbar-header{
	display: none;
}

.sticky .maintopbarwrap {
    border-bottom: 0;
}
/*site Header style End*/
.sitecontentaccodianfaq .panel-body, .faqquestionwrap{
	background: none;
}
.sitecontentaccodianfaq {
    margin-top: 12px;
}
.articlepaginate ul {
    background: none;
    border-bottom: 0;
}
.faqquestionwrap h3{
	padding: 15px 5px;
	background: #fafafa;
}
.sitecontentsec {
    padding-bottom: 5px;
}
.userprofiletabs{
    margin-top: 20px;
}
.checkboxstyles input[type="radio"]:checked + label::before{
	line-height: 13px;
}
.signupmob, .signinmob{
	width: 25px;
	height: 25px;
	display: block;
	float: left;
	margin-left: 5px;
    margin-top: 10px;
}
.signinmob{
	background: url("../images/signin.png") no-repeat scroll center;
}
.signupmob{
	background: url("../images/signup.png") no-repeat scroll center;
}
.popover{
 	right: 0 !important;
}
.popover.bottom > .arrow{
	right: 14px;
}
.footerwidthmobi .allformbtn, .footerdivsignup .allformbtn, .faqquestionright .allformbtn{
	width: 100%;
	float: none;
}
.footerdivsignup .allformbtn{
    background: #7bb1c8 none repeat scroll 0 0;
}
 .sitesidebarright, .sitesocialmediaicontext, .bredcrumbtext, .actionsidebarmob {display: none;}
 .maintopbarwrap {
    border-top-color: #a9a9a9;
}
.sitecontentsecdiv {
    width:100%;
}
.bdTitle {
    margin-left: 0;
}
.sitemiddlecontent {
    padding-left: 0;
}
.mainArticle .viewallmob{
	font-size: 10px;
    letter-spacing: 1px;
}
.willnessarticlegroup .subArticle .discription a, .subArticle .discription a.beautymore {color: #7bb1c8;text-transform: lowercase;position: static;letter-spacing: 0;font-size: 14px}
.willnessarticlegroup .subArticle .discription a::before, .subArticle .discription a.beautymore::before {content: "("}
.willnessarticlegroup .subArticle .discription a::after, .subArticle .discription a.beautymore::after {content: ")"}

.willnessarticlegroup .subArticle .discription a.articlediscription::before{content: ""}
.willnessarticlegroup .subArticle .discription a.articlediscription::after{content: ""}


.beauty.sitecontentaccodianfaq ul li button {
    float: left;
    position: static;;
    font-size: 12.5px;
}
.willnesscatgorydisp {float: left;margin: 0px 0 0 16px;}
.sitetopbarcontent {;background: #7b858e;margin: 21px -15px 0;padding: 30px 30px 45px;}
.copyritelinks {width: 100%;text-align: center;top: -30px;}
.footercopyritetext {letter-spacing: 0.1em;font-size: 12px}
.sitetopbarcontent .footertexttiltetext {
    color: #fff !important;font-size: 13.4px;letter-spacing: 0.204em
}
.signupform.footerdivsignup .form-control {
    font-size:14px;
}
.contentarticlesort .colorbgdiv, .contentpanelhelth .colorbgdiv, .searchresultpage .colorbgdiv{
    min-height: auto;
}
.logoalighclass, .contentarticlesort .sitecontainer{
	padding-left: 20px;
	padding-right: 20px;
}
.colorbgdiv h1{
	line-height: normal;
}
.articlefilterwrap{
	margin-top: 0;
}
.imageswitcher {
    letter-spacing: 0.215em;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.contentarticlesort .sitecontentsecdiv{
	width: 100%;
}
.contentarticlesort .articlepaginate ul{
	text-align: center;
}
.contentarticlesort .beauty.sitecontentaccodianfaq ul li .quesDetail h4{
	 height: auto;
    padding-top: 0;
}
.contentarticlesort .willnesscatgorydisp{
	margin-left: 0;
}
.categorypage .colorbgdiv h1, .contentpanelhelth .colorbgdiv h1, .searchresultpage .colorbgdiv h1{
font-size: 34px;
margin-left: auto;
text-align: center;
}
.contentarticlesort .colorbgdiv h1, .contentpanelhelth .colorbgdiv h1, .searchresultpage .colorbgdiv h1{
	padding-top: 10px;
	padding-bottom: 5px;
}
.contentpanelhelth .colorbgdiv h2{
	 font-size: 24px;
}
.contentpanelhelth .imgbgdiv{
	padding-top: 20px;
	min-height: auto;
	margin-bottom: 20px;
}
.contentrightbox .homeboxcontentarealeft p {
    padding-bottom: 10px;
}
.contentrightbox .extramargintoppanel{
	margin-top: 20px;
}
.contentpanelhelth .newscontentrightbg{
	background: none;
}
.contentpanelhelth .willnesscatgorydisp{
	margin: 0;
}
.contentpanelhelth .beauty.sitecontentaccodianfaq ul li .quesDetail h4{
  height: auto;
    padding-top: 0;
}
.contentpanelhelth .textstylebox{
	font-size: 15px;
}
.contentpanelhelth .articlepaginate ul{
	text-align: center;
}
.contentpanelhelth .extramargintop{
	margin-top: 0px;
}
.contentpanelhelth h3.innerpagelefttitle{
 font-size: 30px;
 line-height: normal;
}
.contentpanelhelth .imgbgdiv a.firstclass {
	margin-left: 10px;
}
.contentpanelhelth .imgbgdiv ul li a{
 font-size: 20px;
}
.contentpanelhelth .imgbgdiv ul li a.pageselect {
    height: 34px;
    line-height: 35px;
    width: 34px;
}
.colorbgdiv h2 {
    font-size: 28px;
    line-height: normal;
    padding-bottom: 10px;
    text-align: center;
}
.contentarticlesort .filterbtngroup {
	width: 60%;
}
.filterbtndivlabel{
	width: 40%;
}
.filterbtndiv .btn{
	min-width: 100%;
}
.mainbannrdiv{
	height: auto;
}
.mainsitesearchdiv{
	position: relative;
}
.mainbannrdivtitle{
 top:20%;
}
.mainsearchform select.inputfontstyle, .mainsearchform input.inputfontstyle{
	font-size: 13.5px;
	line-height: 25px;
}
.homeaccodianwrapdivtext{
	padding-left: 20px;
	padding-right: 20px;
}
.homeaccodianwrapdivtext h2{
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 24px;
}
.homeaccodianwrapdivtext p{
 padding: 0;
}
.homeaccodianwrapdivtext .dottetedborder{
	margin-top: 40px;
	margin-bottom: 40px;
}


.homesitetabcontentsec li a {
    height: auto;
    line-height: normal;
}
.tabcurcontent h2{
	margin:0;
}
.homesitetabcontentsec{
 height: auto;
}
.tabcaruncelhome .tabcurcontent p br{
	display: none;
}
.subArticle .image, .subArticle .discription {
    height: auto;
    }
.subArticle .image img {
    height: auto;
}
}
/*Responsive For Only IPAD*/
@media only screen and (min-width:768px) and (max-width:1024px){
	.sitefaqmob .scrollermenuwrap{
	text-align: right;
    padding-left: 0;
}
.tabcurimage canvas{
	width: 100% !important;
}
.mainbannrdivtitle h1{
	font-size: 48px;
}
/*.educatermiddle {
    margin-left: 60px;
    margin-right: 36px;
}*/
.sitefaqmob .sitecontentaccodianfaq .panel-heading a {
    font-size: 20px !important;
}
.sitefaqmob .sitecontentaccodian .sitepanel-default a.accodianheadding {
    font-size: 28px;
}
.sitefaqmob .content-push, .sitefaqmob .content-push-para{
	padding-left: 0;
}
	.sitefaqmob .paddingleftnone{
		padding-left: 15px;
	}
	.homebottomboxwrapinner h3{
	margin: 0;
	padding: 0;
	border: 0;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	font-size: 23px;
}
	.homeaccodianwrapdivtext p{
 font-size: 17px;
}
	.tabcaruncelhome .slick-list {
    margin: 0 50px !important;
}
	.homesitetabcontentsec li a {
    font-size: 16px;
    padding: 20px;
}
	.homesitetabcontentsec li:first-child a{
	padding: 20px;
}
.floatleftxs{
	float: left !important;
}
.maintopmainmenu .navbar-collapse .sitemainmenuul{
display: none;
}
.maintopmainmenu .in .sitemainmenuul{
display: block !important;
}
.headerprofilediv {
    padding-left: 8px;}
.hidden-sm {
    display: none !important;
}
.sitesocialmediaicondiv {
    border-right: 0;
}
.searchbox {
    border-left: 0;
}
.maintopmainmenu .navbar-header, .footerdiv .col-md-4{
	float: none;
}
.wilnessesbox .maintitlebg, .beautyboxmob .maintitlebg{
	padding: 0;
	width: 100%;
}
.wilnessesbox h1, .beautyboxmob h1{
	text-align: center;
	font-size: 40px;
	margin-top: 41px;
	padding: 11px 0;
	background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
	margin-bottom: 17px;
}
.maintitlebg{
	background: none;
}
.bdTitle h3, .articleGroup h3{
	font-size: 40px;
}
.sitecontentaccodianfaq.beauty .panel-heading a{
	font-size: 24px;
	line-height: 50px;
}
.sitecontentaccodianfaq .panel-heading{
	height: 50px;
}
.featuredtitle{
 margin: 0 13px 41px 13px;
 padding: 22px 0px 0 24px;
 width: auto;
 left: auto;
}
.wilnessesbox h2{
 font-size: 20px;
 padding-top: 0;
}
.titleHeader p{
	font-size: 14px;
	padding-right: 24px;
}
.mainArticle{
 width: 51%;
}
.subArticle{
width: 49%;
}
.subArticle .image {
    width: 42%;
}
.mainArticle{
padding-right: 25px;
}
.footerwidthmobi{
	border: 0;
	margin: 0 auto;
    width: 37% !important;
    margin-top: 45px;
    text-align: center;
    left: auto;
}
.footerdivsignup{
	width: 37%;
}
.footerborderdot{
    border-left: 0;
    min-height: auto;
}
.faqquestionright .form-control.beautyfaq{
	 min-height: 138px;
}
.faqquestionwrap{
 padding-left: 0;
 padding-right: 0;
}
.footerwrap, .sitefooterpading{
	padding: 0;
}
.beauty.sitecontentaccodianfaq ul li{
padding: 12px 0 12px 0;
}
.mainArticle .viewAll{
	margin: 0;
}
.articles .articleGroup {
    border-bottom: 0;
}
.paddingleftcls{
padding-left: 10px;
}
.quesDetail h4{
	padding-top: 45px;
}
.willnesscatgorydisp{
	padding-top: 9px;
}
.footerdiv .col-md-3{
	width: 100%;
	float: none;
}
.footerdiv .col-md-pull-3{
	right: auto;
}
.symselectmobdivcon .col-xs-6, .symselectmobdivcon .col-xs-12, .footerdiv .col-md-4{
 width: auto;
}
.mainsearchform input.searchcontentkey{
width: calc(100% - 18%);
}
.searchcontenttopic, .mainsearchform input.searchcontentkey{
padding-left: 10px;
}
.searchcontenttopic{
 width: 20%;
}
.hometopboxarea .homeboxlefttopbox{
	font-size: 24px;
}
.homeboxcontentarealeft{
	padding-left: 20px;
}
.homeboxcontentarealeft h2{
 margin-top: 40px;
}
.homeboxcontentarealeft p, .homeboxcontentarealeft ul li{
	font-size: 16px;
}
.homeboxmorebtn, .homeboxmorebtnright{
	font-size: 18px;
}
.homeboxcontentarearight img {
    width: 100px;
}
.homeboxmorebtn{
 position: relative;
 display: block;
 width: auto;
}
.homeboxdinamicdiv {
    margin-bottom: 0;
}
}
/*Responsive For Only IPAD Landscape*/
@media only screen and (min-width:768px) and (max-width:1024px) and (orientation: landscape){
	.floatleftxs{
	float: left !important;
}
	.footerwrap .col-md-3, .footerwrap .col-md-4, .footerwrap .col-md-12{
 width: 100%;
 padding-left: 0;
  padding-right: 0;
  float: none;
}
.footerwrap .col-md-push-4, .footerwrap .col-md-pull-3 {
    left: auto;
    right: auto;
}
.sitetopbarcontent{
	 margin: 21px 0 0;
}
.subArticle .image {
    width: 36.5%;
}
.subArticle .discription{
	width: 61.5%;
}
.sitefaqmob .paddingtopbottomoptionpanl .col-md-8{
	width: 100%;
}
}
/*Responsive For Anroid Tabs & small desktop Devices */
@media only screen and (min-width:1025px) and (max-width:1210px){
.sitemainmenuul li {
    margin-left: 13px;
    margin-right: 13px;
}
.mega-dropdown-menu li{
	margin: 0;
}
.hidden-lg, .navbar-toggle{
	display: none !important;
}
.titleHeader h1 {
    font-size: 67px;
}
.contsidebartitle{
	font-size:16px;
}
.sitefullscreendiv, .sitefontadjustdiv {
    margin-left: 5px;
    padding-left: 5px;
}
.headerprofilediv{
	 margin-left: 8px;
    padding-left: 8px;
}
.sitemainmenuul li a {
    font-size: 12px;
}
.footerlogo img{
	width: 215px;
}
.sitetopbarsocial {
    padding: 10px;
}
.footerdivsignup {
    width: 89.5%;
}
.fotterabout {
    width: 46%;
}
.searchbox-open{
width: 100%;
}
.addpadcontrol .maintopbardiv, .addpadcontrol .maintopbardivsearch {
	float: none !important;
}

.addfavfont{
 font-size: 12px;
    padding-left: 38px;
}
.sitesidebarright {
    width: 30.5%;
}
.usersiginbtn, .usersignubtn{
	width: 100px;
}
.mainsearchform .searchcontenttopicbtn {
    width: 16.4%;
}
.homesitetabcontentsec li a{
	font-size: 14px;
}
.sitefaqmob .scrollermenuwrap{
	padding-left: 0;
}
.sitefaqmob .siteoptionpaneltext{
	font-size: 16px;
	margin-right: 7px;
}
.scrollermenuwrap a {
    margin-right: 13px;
}
.sitefaqmob .sitecommentcount {
    margin-left: 0;
}
.sitefaqmob .paddingtopbottomoptionpanl .col-md-8 .col-md-7{
	padding-right: 0;
}
.sitefaqmob .sitecontentaccodian .sitepanel-default a.accodianheadding {
    font-size: 1.143em
}
.sitetoplogout, .headerprofiletext{
font-size: 1em;
}
}
/*Responsive For Anroid Tabs & small desktop Devices */
@media only screen and (min-width:1025px) and (max-width:1350px){
.addfavfont {
    font-size: 12px;
    padding-left: 38px;
}
.mainArticle .titleLink h4{
	font-size: 15px;
}
.subArticle .image, .subArticle .discription {
    height: auto;
    }
.subArticle .image img {
    height: auto;
}
.sitefullscreendiv, .sitefontadjustdiv {
    margin-left: 5px;
    padding-left: 5px;
}
.subArticle .discription a{
	position: static;
}
.mainArticle .viewallmob {
    letter-spacing: 1px;
}
.mainsitesearchdiv{
position: relative;
}
.mainsearchform input.searchcontentkey{
width: calc(100% - 18.5%);
}
.searchcontenttopic, .mainsearchform input.searchcontentkey{
padding-left: 10px;
}
.searchcontenttopic{
 width: 20%;
}
.mainbannrdiv{
height: auto;
}
.mainsearchform select.inputfontstyle, .mainsearchform input.inputfontstyle {
    font-size: 18px;
}
.mainsearchform .searchcontenttopicbtn{
	width: 16.5%;
}
.homebottomboxwrapinner h3{
	font-size: 20px;
	min-height: 50px;
}
.contentpanelhelth .imgbgdiv {
    padding-top: 25px;
}
.addpadcontrol .maintopbardiv, .addpadcontrol .maintopbardivsearch{
 float: none;
}
.searchbox-open{
width: 100%;
}
.homesitetabcontentsec li a {
    font-size: 13.5px;
}
.tabcurimage canvas{
	width:100% !important;
}
}
/*iphone 6 Style*/
@media only screen and (min-width:667px) and (max-width:767px){
.hidden-iphone6{
	display: none;
}
.show-iphone6{
	display: block !important;
}
.educaterselecter {
    margin: 0 auto;
    max-width: 574px;
}
.educaterdropdown_toggle, .educaterdropdown_toggle:hover, .educaterdropdown_toggle:focus, .educaterdropdown_toggle.focus {
    margin-top: 0px;
}
.educaterselecter .btn-group{
	width: 100%;
	 margin-bottom: 15px;
}
.symselectmobdivcon .educaterleft, .symselectmobdivcon .educatermiddle, .symselectmobdivcon .skindroselecter {
	width: 33%;
}
.symselectmobdivcon .skindroselecter {
    clear: none;
    float: left;
}
.nextprvbtnul li{
	display: inline-block;
}
.educateraccodian .educatenextbtnprev, .nextprvbtnul .educatenextbtn{
    width: 165px !important;
}
.nextprvbtnul .educatenextbtn, .nextprvbtnul .prevespecmob{
	margin-left: 0;
	margin-right: 0;
}
.nextbtnli {
    margin-left: 5px;
}
.educaterresultbox {
	width: 30%;
	margin-left: 9px;
    margin-right: 9px;
}
.educationrstxt {
    font-size: 14px;
    min-height: 65px;
}
.educaterresulttpdivleft, .educaterresulttpdivlmiddle, .educaterresulttpdivright{
	width: 33%;
}
.mainbannrdivtitle {
    top: 26% !important;
}
}
/*iphone 6 Style*/
@media only screen and (min-width:480px) and (max-width:667px){
.mainbannrdivtitle {
	 top: 24% !important;
}
}