<!DOCTYPE html>
<html lang="en" ng-app="dermvedaApp">

<head>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-75233028-1', 'auto');
        ga('send', 'pageview');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=0">
    <meta name="description" content="{{ metaservice.metaDescription() }}" />
    <meta name="title" content="{{ metaservice.metaTitle() }}" />
    <meta name="keywords" content="{{metaKeywords}}">
    <meta name="author" content="{{metaAuthor}}">

    <title ng-bind="title +' - DERMVEDA'"></title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/sweetalert.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet">
    <link href="css/jquery.bxslider.css" rel="stylesheet" />
    <link href="css/slick-theme.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/faqstyle.css" rel="stylesheet">
    <link href="css/fileuploader.css" rel="stylesheet">
    <link href="css/cropper.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link rel="icon" href="fav.ico" type="image/ico" />


    <!--[if lt IE 9]>
  <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="app.css"> -->

    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
    <script src="js/ng-csv.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.0/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-cookies.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.7/angular-strap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.7/angular-strap.tpl.min.js"></script>
    <script src="js/angular-validation.min.js"></script>
    <script src="js/angular-validation-rule.min.js"></script>

    <script src="app.js"></script>
    <script src="js/webcam.js"></script>
    <!-- <script src="app-services/authentication.service.js"></script>
  <script src="app-services/flash.service.js"></script> -->
    <!--[if lte IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/Base64/0.3.0/base64.min.js"></script>
  <![endif]-->
    <script src="controllers/DocumentsController.js"></script>
    <script src="controllers/HomeController.js"></script>
    <script src="controllers/HealthController.js"></script>
    <script src="controllers/BeautyController.js"></script>
    <script src="controllers/WellnessController.js"></script>
    <script src="controllers/ProfileController.js"></script>
    <script src="controllers/LoginController.js"></script>
    <script src="controllers/LogoutController.js"></script>
    <script src="controllers/SignupController.js"></script>
    <script src="controllers/SearchController.js"></script>
    <script src="controllers/PreloaderController.js"></script>
    <script src="controllers/SkinTypeController.js"></script>
    <script src="controllers/FeaturedGuestsController.js"></script>
    <script src="controllers/FeaturedGuestViewController.js"></script>
    <script src="controllers/SkinProfilerController.js"></script>
    <script src="controllers/EducatorController.js"></script>
    <script src="controllers/DisclaimerController.js"></script>
    <script src="controllers/CareersController.js"></script>
    <script src="controllers/ContributorsController.js"></script>
    <script src="controllers/AdvertiseController.js"></script>
    <script src="controllers/ContactController.js"></script>
    <script src="controllers/AdminController.js"></script>
    <script src="controllers/SearchBarController.js"></script>
    <script src="controllers/TermsController.js"></script>
    <script src="controllers/OurStoryController.js"></script>
    <script src="controllers/PrivacyController.js"></script>
    <script src="controllers/CategoryResultsController.js"></script>
    <script src="controllers/TagResultsController.js"></script>
    <script src="controllers/ForgotPasswordController.js"></script>
    <script src="controllers/NavbarController.js"></script>

    <script src="services/documentService.js"></script>
    <script src="services/loginServices.js"></script>
    <script src="services/userServices.js"></script>
    <script src="services/commonServices.js"></script>
    <script src="services/urlService.js"></script>

    <script src="directives/directives.js"></script>
    <script src="filters/filters.js"></script>
    <script src="modules/slick-mod-angular.js"></script>

</head>

<body>
    <header>
        <div class="maintopbarwrap">
            <div id="searcwithcont" class="container sitecontainer">
                <div class="maintopbardiv floatright">
                    <button type="button" class="navbar-toggle floatleftxs mobileserchhide hidden-lg" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="floatright rightbordersite hidden-lg floatleftxs mobileserchhide" ng-show="showMobFavIcon">

                        <div>
                            <a ng-hide="isFavoriteItem" ng-click="addFavourite(0);" class="sitetextgray addfavfont railwaylightfontfamily" href="javascript:void(0);"></a>
                            <a class="sitetextgray addfavfont" ng-show="isFavoriteItem" ng-class="{'addfavfontclick':isFavoriteItem==true}" ng-click="removeFavorite(0);" href="javascript:void(0);"></a>
                        </div>

                    </div>
                    <div class="floatleft sitesocialmediaicondiv floatleftxs">
                        <ul class="list-inline sitesocialmediaicon">
                            <li class="railwaylightfontfamily fontletterspasing sitesocialmediaicontext hidden-xs hidden-sm">CONNECT WITH US</li>
                            <li><a target="_blank" class="facebook" href="http://www.facebook.com/dermveda"><i class="fa fa-facebook"></i></a></li>
                            <li><a target="_blank" href="http://twitter.com/dermveda"><i class="fa fa-twitter"></i></a></li>
                            <li><a target="_blank" class="inkedin" href="http://www.linkedin.com/company/dermveda"><i class="fa fa-linkedin"></i></a></li>
                            <li><a target="_blank" href="http://plus.google.com/107263644809435040330"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                    <div class="headerprofile floatright hidden-lg floatrightxs mobileserchhide" ng-controller="LoginController" ng-show="isLogged">
                        <!-- <div class="headerprofilediv">
                                <a class="profileoiclink" href="profile.html">
                                <img alt="profile picture" src="images/profilemob.png"></a>
                              </div>  -->
                        <div class="headerprofilediv" ng-controller="ProfileController">
                            <a class="profileoiclink" href="#/profile">
                                <!-- <span class="anvirategulerdemi sitetextgreen headerprofiletext" id="profilename">YOUR PROFILE</span></a>
                                    <div class="dropdown profiledropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown"><img alt="profile picture" src="images/profile1.png" style = "height:50px;width:50px;"></a>
                                    <ul class="dropdown-menu">
                                         <li><a href="#/signout">Log Out</a></li>
                                    </ul>

                                    </div>
                                    <div class="clearfix"></div> -->

                                <div class="dropdown profiledropdown">
                                    <a ng-show="profileImage" class="dropdown-toggle" data-toggle="dropdown"><img alt="profile picture" ng-src="{{profileImage}}" style="height:40px;width:40px;border-radius: 50%;"></a>
                                    <a ng-hide="profileImage" class="dropdown-toggle" data-toggle="dropdown"><img alt="profile picture" src="images/profile1.png" style="height:40px;width:40px;border-radius: 50%;"></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#/profile">YOUR PROFILE</a></li>
                                        <li><a href="#/signout">Log Out</a></li>
                                    </ul>

                                </div>
                                <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="floatrightxs signupmobile hidden-lg" ng-controller="LoginController" ng-hide="isLogged">
                        <a href="#/signup" class="railwayboldfont signupmob"></a>
                        <a href="javascript:void(0)" class="railwayboldfont signinmob" id="loginformclickmob" data-original-title="" title=""></a>
                    </div>

                    <div class="maintopbardivsearch floatleft railwaylightfontfamily floatrightxs" ng-controller="SearchBarController">

                        <form class="searchbox" name="headerSerachForm">
                            <input type="search" ng-model="searchForm.searchItem" ng-keypress="submitSearch($event)" placeholder="Search our Library of Skin Health, Beauty, and Wellness Content" id="menusearchbar" name="search" class="searchbox-input">
                            <div class="maintopbarsearchtext maridprofontfamily searchbox-icon fontletterspasing">
                                <a id="topsearchbox" class="seachboxmaintop" href="javascript:void(0)" ng-click="submitSearchBtnHeader()"><span class="searchtoptext hidden-xs hidden-sm">SEARCH</span></a>
                            </div>
                        </form>
                    </div>


                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
        <div class="maintopmainmenu sitepaddingcontrol sitecontainer">
            <nav class="navbar">
                <div class="navbar-static-top">
                    <div class="navbar-header hidden-xs">
                        <div class="sitebrand">
                            <a href="#/"><img alt="Skin Health Education | Dermveda" src="images/Dermveda_Logo.svg"></a>
                        </div>
                    </div>
                    <div class="navbar-collapse collapse floatright">
                        <ul class="nav navbar-nav sitemainmenuul railwaylightfontfamily" ng-controller="NavbarCtrl">
                            <li class="dropdown mega-dropdown"><a ng-class="{'active': isActive('/')}" href="#/" class="dropdown-toggle" data-toggle="dropdown"><span class="mainmenuwidth">Home</span></a>
                            <!-- Sub Menu Start  -->
                             <ul class="dropdown-menu mega-dropdown-menu">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bhoechie-tab-menu">
                                          <div class="list-group">
                                            <a href="#/tag/Emerging%20Research/page/1/filter/mr" class="list-group-item active">
                                              Emerging Research
                                            </a>
                                            <a href="#/categoryResults/featured-guests" class="list-group-item">
                                              Featured Guests
                                            </a>
                                            <a href="#/educator-symptoms-disclaimer" class="list-group-item">
                                              Symptom Educator
                                            </a>
                                            <a href="#/skin-type-profiler" class="list-group-item">
                                              Skin Type Profiler
                                            </a>
                                            <a href="#/c66a2fb8-b398-49da-bb3f-4737203319c3" class="list-group-item">
                                              Ayurvedic Medicine
                                            </a>
                                            <a href="#/4904bea0-678d-4db3-81d0-3db11dd308f3" class="list-group-item">
                                              Naturopathic Medicine
                                            </a>
                                            <a href="#/bafbf956-9f7a-47c1-81af-e27bf3ca4883" class="list-group-item">
                                              Traditional Chinese Medicine
                                            </a>
                                             <a href="#/2bc8c364-f9d2-4093-b424-eb8f4b416928" class="list-group-item">
                                              Western Medicine
                                            </a>
                                        </div>
                                </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs bhoechie-tab paddingleftnone paddingrightnone spandisplay">
                            <div class="bhoechie-tab-content active">
                                             <a class="submenuclicble" href="#/tag/Emerging%20Research/page/1/filter/mr">
                                             <img alt="emerging-research" class="megamenoing img-responsive" src="images/submenu/emerging-research_sebmenu_cropped.jpg"/>
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Learn about the cutting edge of skin research
                                             </span>
                                             </a>
                                            <a href="#/tag/Emerging%20Research/page/1/filter/mr" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                            <div class="bhoechie-tab-content">
                                             <a class="submenuclicble" href="#/categoryResults/featured-guests">
                                             <img alt="featured-guests" class="megamenoing img-responsive" src="images/submenu/featured-guests_submenu_cropped.jpg"/>
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Hear experts talk about skin care
                                             </span>
                                             </a>
                                            <a href="#/categoryResults/featured-guests"class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                            <div class="bhoechie-tab-content">
                                             <a class="submenuclicble" href="#/educator-symptoms-disclaimer">
                                             <img alt="symptom-educator" class="megamenoing img-responsive" src="images/submenu/symptom educator_submenu_cropped.jpg"/>
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Target your education based on your symptoms
                                             </span>
                                             </a>
                                            <a href="#/educator-symptoms-disclaimer" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                            <div class="bhoechie-tab-content">
                                              <a class="submenuclicble" href="#/skin-type-profiler">
                                             <img alt="skin-profiler" class="megamenoing img-responsive" src="images/submenu/skinprofiler.jpg"/>
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Uncover your skin type 
                                             </span>
                                             </a>
                                            <a href="#/skin-type-profiler" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                            <div class="bhoechie-tab-content">
                                            <a class="submenuclicble" href="#/c66a2fb8-b398-49da-bb3f-4737203319c3">
                                             <img alt="ayurvedic-medicine" class="megamenoing img-responsive" src="images/submenu/ayurvedicmedicine.jpg"/>
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Read our primer on Ayurvedic medicine for the skin
                                             </span>
                                             </a>
                                            <a href="#/c66a2fb8-b398-49da-bb3f-4737203319c3" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                                  <div class="bhoechie-tab-content">
                                            <a class="submenuclicble" href="#/4904bea0-678d-4db3-81d0-3db11dd308f3">
                                             <img alt="naturopathic-medicine" class="megamenoing img-responsive" src="images/submenu/naturopathicmedicine.jpg"/>
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Read our primer on Naturopathic medicine for the skin 
                                             </span>
                                             </a>
                                            <a href="#/4904bea0-678d-4db3-81d0-3db11dd308f3" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                                  <div class="bhoechie-tab-content">
                                            <a class="submenuclicble" href="#/bafbf956-9f7a-47c1-81af-e27bf3ca4883">
                                             <img alt="traditional-chinese-medicine" class="megamenoing img-responsive" src="images/submenu/traditionalchinesemedicine.jpg"/>
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Read our primer on traditional Chinese medicine for the skin
                                             </span>
                                             </a>
                                            <a href="#/bafbf956-9f7a-47c1-81af-e27bf3ca4883" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                                  <div class="bhoechie-tab-content">
                                            <a class="submenuclicble" href="#/2bc8c364-f9d2-4093-b424-eb8f4b416928">
                                             <img alt="western-medicine" class="megamenoing img-responsive" src="images/submenu/westernmedicine.jpg"/>
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Read our primer on the conventional medical approach for skin care
                                             </span>
                                             </a>
                                            <a <a href="#/2bc8c364-f9d2-4093-b424-eb8f4b416928" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                                </div>
                                        </div>
                            </ul>
                            <!-- Sub Menu End  -->
                            </li>

                            <li class="dropdown mega-dropdown"><a ng-class="{'active': isActive('/health')}" class="dropdown-toggle" data-toggle="dropdown" href="#/health"><span class="mainmenuwidth">Health</span></a>
                            <!-- Sub Menu Start  -->
                             <ul class="dropdown-menu mega-dropdown-menu healthdropd">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bhoechie-tab-menu01">
                                          <div class="list-group">
                                            <a href="#/educator-symptoms-disclaimer" class="list-group-item active">
                                              Symptom Educator
                                            </a>
                                            <a href="#/health" class="list-group-item">
                                              Skin Conditions A-Z
                                            </a>
                                            <a href="#/health/#deepen_your_knowledge" class="list-group-item">
                                              Deepen Your Knowledge
                                            </a>
                                            <a href="#/categoryResults/acne" class="list-group-item lastchildlink">
                                                Acne
                                            </a>
                                            <a href="#/categoryResults/eczema" class="list-group-item lastchildlink">
                                              Eczema
                                            </a>
                                            <a href="#/categoryResults/melasma" class="list-group-item lastchildlink">
                                              Melasma
                                            </a>
                                            <a href="#/categoryResults/rosacea" class="list-group-item lastchildlink">
                                              Rosacea
                                            </a>
                                             <a href="#/categoryResults/psoriasis" class="list-group-item lastchildlink">
                                               Psoriasis
                                            </a>
                                            <a href="#/categoryResults/skin%20cancer" class="list-group-item lastchildlink">
                                               Skin Cancer
                                            </a>
                                            <a href="#/tag/Sun%20Protection/page/1/filter/mr" class="list-group-item">
                                               Sun Protection
                                            </a>
                                        </div>
                                </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs bhoechie-tab01 paddingleftnone paddingrightnone spandisplay">
                            <div class="bhoechie-tab-content01 active">
                                             <a class="submenuclicble" href="#/educator-symptoms-disclaimer">
                                            <img class="megamenoing img-responsive" src="images/submenu/symptom educator_submenu_cropped.jpg" alt="skin-profiler">
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Target your education based on your symptoms
                                             </span>
                                             </a>
                                            <a href="#/educator-symptoms-disclaimer" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                            <div class="bhoechie-tab-content01">
                                             <a class="submenuclicble" href="#/health">
                                             <img alt="skin-conditions" class="megamenoing img-responsive" src="images/submenu/skin-conditions-atoz_submenu_cropped.jpg"/>
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Learn about many different skin conditions  
                                             </span>
                                             </a>
                                            <a href="#/health" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                                   <div class="bhoechie-tab-content01">
                                             <a class="submenuclicble" href="#/health/#deepen_your_knowledge">
                                             <img alt="deepen-your-knowledge" class="megamenoing img-responsive" src="images/submenu/deepen-your-knowledge_submenu_cropped.jpg"/>
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Delve deeper into a skin condition
                                             </span>
                                             </a>
                                            <a href="#/health/#deepen_your_knowledge" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                                        <div class="bhoechie-tab-content01">
                                             <a class="submenuclicble" href="#/categoryResults/acne">
                                             <img alt="deepen-your-knowledge" class="megamenoing img-responsive" src="images/submenu/deepen-your-knowledge_submenu_cropped.jpg"/>
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             A skin condition with pimples and deep nodules on the face, chest, and back that can lead to scarring
                                             </span>
                                             </a>
                                            <a href="#/categoryResults/acne" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                                               <div class="bhoechie-tab-content01">
                                             <a class="submenuclicble" href="#/categoryResults/eczema">
                                             <img alt="deepen-your-knowledge" class="megamenoing img-responsive" src="images/submenu/deepen-your-knowledge_submenu_cropped.jpg"/>
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             A skin condition with scaling and itching that affects children and adults
                                             </span>
                                             </a>
                                            <a href="#/categoryResults/eczema" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                                               <div class="bhoechie-tab-content01">
                                             <a class="submenuclicble" href="#/categoryResults/melasma">
                                             <img alt="deepen-your-knowledge" class="megamenoing img-responsive" src="images/submenu/deepen-your-knowledge_submenu_cropped.jpg"/>
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             A condition with blotchy dark spots on the face
                                             </span>
                                             </a>
                                            <a href="#/categoryResults/melasma" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                                               <div class="bhoechie-tab-content01">
                                             <a class="submenuclicble" href="#/categoryResults/rosacea">
                                             <img alt="deepen-your-knowledge" class="megamenoing img-responsive" src="images/submenu/deepen-your-knowledge_submenu_cropped.jpg"/>
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             An inflammatory skin condition that can affect the face and eyes
                                             </span>
                                             </a>
                                            <a href="#/categoryResults/rosacea" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                                               <div class="bhoechie-tab-content01">
                                             <a class="submenuclicble" href="#/categoryResults/psoriasis">
                                             <img alt="deepen-your-knowledge" class="megamenoing img-responsive" src="images/submenu/deepen-your-knowledge_submenu_cropped.jpg"/>
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             An inflammatory condition that can affect the skin and joints
                                             </span>
                                             </a>
                                            <a href="#/categoryResults/psoriasis" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                                               <div class="bhoechie-tab-content01">
                                             <a class="submenuclicble" href="#/categoryResults/skin%20cancer">
                                             <img alt="deepen-your-knowledge" class="megamenoing img-responsive" src="images/submenu/deepen-your-knowledge_submenu_cropped.jpg"/>
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Abnormal growths in the skin that can be disfiguring and deadly
                                             </span>
                                             </a>
                                            <a href="#/categoryResults/skin%20cancer" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                            <div class="bhoechie-tab-content01">
                                             <a class="submenuclicble" href="#/tag/Sun%20Protection/page/1/filter/mr">
                                             <img alt="sun-protection" class="megamenoing img-responsive" src="images/submenu/sunprotection_Woman-at-beach-with-white-hat_submenu_cropped.jpg"/>
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Protecting from sun overexposure is key to maintaining healthy skin
                                             </span>
                                             </a>
                                            <a href="#/tag/Sun%20Protection/page/1/filter/mr" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                                </div>
                                        </div>
                             </ul>
                            <!-- Sub Menu End  -->
                            </li>
                            <li class="beauty dropdown mega-dropdown"><a ng-class="{'active': isActive('/beauty')}" class="dropdown-toggle" data-toggle="dropdown" href="#/beauty"><span class="mainmenuwidth">beauty</span></a>
                            <!-- Sub Menu Start  -->
                             <ul class="dropdown-menu mega-dropdown-menu beautydropd">
                                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
                                        <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12 bhoechie-tab-menu02">
                                          <div class="list-group">
                                            
                                            <a href="#/categoryResults/featured-guests" class="list-group-item">
                                               Featured Guests
                                            </a>
                                             <a href="#/beauty/#natural_skincare" class="list-group-item">
                                               Natural Skincare
                                            </a>
                                            <a href="#/beauty/#beauty_skintervention" class="list-group-item">
                                               Skintervention
                                            </a>
                                            <a href="#/tag/Sunscreen%20101/page/1/filter/mr" class="list-group-item lastchildlink lastchildlink">
                                               Sunscreen 101
                                            </a>
                                                  <a href="#/tag/Hair%20&%20Nails/page/1/filter/mr" class="list-group-item lastchildlink lastchildlink">
                                                Hair & Nails
                                            </a>
                                                  <a href="#/tag/Skin%20Deep/page/1/filter/mr" class="list-group-item lastchildlink">
                                               Skin Deep: Topical Skincare
                                            </a>
                                                  <a href="#/tag/Injectables%20Lasers%20Devices/page/1/filter/mr" class="list-group-item lastchildlink">
                                                 Injectables, Lasers, Devices
                                            </a>
                                                  <a href="#/tag/Makeup/page/1/filter/mr" class="list-group-item lastchildlink">
                                               Makeup
                                            </a>
                                                   <a href="#/beauty/#dear_dermveda" class="list-group-item">
                                               Dear Dermveda
                                            </a>
                                        </div>
                                </div>
                        <div class="col-lg-6 col-md-12 col-sm-6 hidden-xs bhoechie-tab02 paddingleftnone paddingrightnone spandisplay">
                            <div class="bhoechie-tab-content02 active">
                                            <a class="submenuclicble" href="#/categoryResults/featured-guests">
                                            <img class="megamenoing img-responsive" src="images/submenu/featured-guests_submenu_cropped.jpg" alt="featured-guests">
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Hear experts talk about skin care
                                             </span>
                                             </a>
                                            <a href="#/categoryResults/featured-guests" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                            <div class="bhoechie-tab-content02">
                                            <a class="submenuclicble" href="#/beauty/#natural_skincare">
                                            <img class="megamenoing img-responsive" src="images/submenu/natural-skincare_submenu_cropped.jpg" alt="natural-skincare">
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Natural options for beautiful skin
                                             </span>
                                             </a>
                                            <a href="#/beauty/#natural_skincare" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                                      <div class="bhoechie-tab-content02">
                                            <a class="submenuclicble" href="#/beauty/#beauty_skintervention">
                                            <img class="megamenoing img-responsive" src="images/submenu/skintervention_submenu_cropped.jpg" alt="skintervention">
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Learn about skin care topics and tips
                                             </span>
                                             </a>
                                            <a href="#/beauty/#beauty_skintervention" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                                                 <div class="bhoechie-tab-content02">
                                            <a class="submenuclicble" href="#/tag/Sunscreen%20101/page/1/filter/mr">
                                            <img class="megamenoing img-responsive" src="images/submenu/skintervention_submenu_cropped.jpg" alt="skintervention">
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Master your knowledge of sunscreens
                                             </span>
                                             </a>
                                            <a href="#/tag/Sunscreen%20101/page/1/filter/mr" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                                                       <div class="bhoechie-tab-content02">
                                            <a class="submenuclicble" href="#/tag/Hair%20&%20Nails/page/1/filter/mr">
                                            <img class="megamenoing img-responsive" src="images/submenu/skintervention_submenu_cropped.jpg" alt="skintervention">
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Look your best with hair and nail care
                                             </span>
                                             </a>
                                            <a href="#/tag/Hair%20&%20Nails/page/1/filter/mr" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                                                       <div class="bhoechie-tab-content02">
                                            <a class="submenuclicble" href="#/tag/Skin%20Deep/page/1/filter/mr">
                                            <img class="megamenoing img-responsive" src="images/submenu/skintervention_submenu_cropped.jpg" alt="skintervention">
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Learn about topical treatment options for your skin
                                             </span>
                                             </a>
                                            <a <a href="#/tag/Skin%20Deep/page/1/filter/mr" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                                                       <div class="bhoechie-tab-content02">
                                            <a class="submenuclicble" href="#/tag/Injectables%20Lasers%20Devices/page/1/filter/mr">
                                            <img class="megamenoing img-responsive" src="images/submenu/skintervention_submenu_cropped.jpg" alt="skintervention">
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             The dermatologist is IN
                                             </span>
                                             </a>
                                            <a <a href="#/tag/Injectables%20Lasers%20Devices/page/1/filter/mr" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                                                       <div class="bhoechie-tab-content02">
                                            <a class="submenuclicble" href="#/tag/Makeup/page/1/filter/mr">
                                            <img class="megamenoing img-responsive" src="images/submenu/skintervention_submenu_cropped.jpg" alt="skintervention">
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Put your best face forward
                                             </span>
                                             </a>
                                            <a <a href="#/tag/Makeup/page/1/filter/mr" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                                            <div class="bhoechie-tab-content02">
                                            <a class="submenuclicble" href="#/beauty/#dear_dermveda">
                                            <img class="megamenoing img-responsive" src="images/submenu/dear-dermveda_submenu_cropped.jpg" alt="dear-dermveda">
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Ask our experts an educational question about skin 
                                             </span>
                                             </a>
                                            <a <a href="#/beauty/#dear_dermveda" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                                </div>
                                        </div>
                            </ul>
                            <!-- Sub Menu End  -->

                            </li>

                            <li class="wellness dropdown mega-dropdown" ><a ng-class="{'active': isActive('/wellness')}" href="#/wellness" class="dropdown-toggle" data-toggle="dropdown"><span class="mainmenuwidth">wellness</span></a>
                            <!-- Sub Menu Start  -->
                             <ul class="dropdown-menu mega-dropdown-menu wellnessdropd">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bhoechie-tab-menu03">
                                          <div class="list-group">
                                            
                                            
                                            <a href="#/categoryResults/featured-guests" class="list-group-item">
                                               Featured Guests
                                            </a>
                                            <a href="#/wellness/#life_style" class="list-group-item">
                                               Lifestyle
                                            </a>
                                               <a href="#/tag/Exercise%20and%20Fitness/page/1/filter/mr" class="list-group-item lastchildlink">
                                               Exercise and Fitness
                                            </a>
                                                  <a href="#/tag/Aging/page/1/filter/mr" class="list-group-item lastchildlink lastchildlink">
                                               Aging
                                            </a>
                                                  <a href="#/wellness/#diet_nutrition" class="list-group-item">
                                                Diet and Nutrition
                                            </a>
                                                  <a href="#/tag/Diet%20and%20Supplements/page/1/filter/mr" class="list-group-item lastchildlink">
                                               Diet and Supplements
                                            </a>
                                                  <a href="#/tag/Recipes/page/1/filter/mr" class="list-group-item lastchildlink">
                                                 Recipes
                                            </a>
                                                  <a href="#/wellness/#herbal_corner" class="list-group-item">
                                               Herbal Corner
                                            </a>
                                                  
                                        </div>
                                </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 hidden-xs bhoechie-tab03 paddingleftnone paddingrightnone spandisplay">
                            <div class="bhoechie-tab-content03 active">
                                            <a class="submenuclicble" href="#/categoryResults/featured-guests">
                                            <img class="megamenoing img-responsive" src="images/submenu/featured-guests_submenu_cropped.jpg" alt="featured-guests">
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Hear experts talk about skin care
                                             </span>
                                             </a>
                                            <a href="#/categoryResults/featured-guests" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                             <div class="bhoechie-tab-content03">
                                            <a class="submenuclicble" href="#/wellness/#life_style">
                                            <img class="megamenoing img-responsive" src="images/submenu/lifestyle_submenu_cropped.jpg" alt="lifestyle">
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             What you do matters to your skin 
                                             </span>
                                             </a>
                                            <a href="#/wellness/#life_style" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                                 <div class="bhoechie-tab-content03">
                                            <a class="submenuclicble" href="#/tag/Exercise%20and%20Fitness/page/1/filter/mr">
                                            <img class="megamenoing img-responsive" src="images/submenu/lifestyle_submenu_cropped.jpg" alt="lifestyle">
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Stay healthy to look your best
                                             </span>
                                             </a>
                                            <a href="#/tag/Exercise%20and%20Fitness/page/1/filter/mr" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                             <div class="bhoechie-tab-content03">
                                            <a class="submenuclicble" href="#/tag/Aging/page/1/filter/mr">
                                            <img class="megamenoing img-responsive" src="images/submenu/lifestyle_submenu_cropped.jpg" alt="lifestyle">
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Aging changes your skin and learn how to keep it youthful
                                             </span>
                                             </a>
                                            <a href="#/tag/Aging/page/1/filter/mr" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                             <div class="bhoechie-tab-content03">
                                            <a class="submenuclicble" href="#/wellness/#diet_nutrition">
                                            <img class="megamenoing img-responsive" src="images/submenu/diet-and-nutrition_submenu_cropped.jpg" alt="diet-and-nutrition">
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Healthful eating habits for your skin 
                                             </span>
                                             </a>
                                            <a href="#/wellness/#diet_nutrition" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                                     <div class="bhoechie-tab-content03">
                                            <a class="submenuclicble" href="#/tag/Diet%20and%20Supplements/page/1/filter/mr">
                                            <img class="megamenoing img-responsive" src="images/submenu/diet-and-nutrition_submenu_cropped.jpg" alt="diet-and-nutrition">
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Eating your way to healthy skin 
                                             </span>
                                             </a>
                                            <a href="#/tag/Diet%20and%20Supplements/page/1/filter/mr" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                                     <div class="bhoechie-tab-content03">
                                            <a class="submenuclicble" href="#/tag/Recipes/page/1/filter/mr">
                                            <img class="megamenoing img-responsive" src="images/submenu/diet-and-nutrition_submenu_cropped.jpg" alt="diet-and-nutrition">
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Recipes for healthy eating and skin 
                                             </span>
                                             </a>
                                            <a href="#/tag/Recipes/page/1/filter/mr" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                                    <div class="bhoechie-tab-content03">
                                            <a class="submenuclicble" href="#/wellness/#herbal_corner">
                                            <img class="megamenoing img-responsive" src="images/submenu/herbal-corner_submenu_cropped.jpg" alt="diet-and-nutrition">
                                             <span class="megamenutext railwaylightfontfamily spandisplay">
                                             Learn about herbs and how they can be used on the skin
                                             </span>
                                             </a>
                                            <a <a href="#/wellness/#herbal_corner" class="tabcaruncelredmore megamenureadmore">MORE</a>
                            </div>
                                  
                                </div>
                                        </div>
                            </ul>
                            <!-- Sub Menu End  -->

                            </li>
                        </ul>
                        <div id="signupContainer" class="headerprofile floatright hidden-xs hidden-sm" ng-controller="LoginController">
                            <div class="headerprofilediv">
                                <a class="usersignubtn railwayboldfont" href="#/signup">SIGN UP</a>
                                <a id="loginformclick" data-toggle=popover class="usersiginbtn railwayboldfont" href="javascript:void(0)">SIGN IN</a>

                                <div id="loginform" class="hide">
                                    <div id="loginformdiv" class="loginforminner">
                                        <form name="loginForm" ng-submit="clickSignIn()" novalidate>
                                            <input name="username" class="form-control proximalightfontfamily" type="text" placeholder="YOUR EMAIL ADDRESS" ng-model="username" required ng-class="{'error':(submitted && loginForm.firstName.$invalid)}">
                                            <input name="password" class="form-control proximalightfontfamily" type="password" placeholder="YOUR PASSWORD" ng-model="password" required ng-class="{'error':(submitted && loginForm.password.$invalid)}">
                                            <span class="loginError" id="loginError" ng-bind-html="loginFormMsg"></span>
                                            <input id="loginbtn" class="btn loginbtn railwayboldfont" type="submit" value="GO">
                                        </form>
                                        <span>or ...</span>
                                        <a class="fbLogin" href="" ng-click="loginWithFacebook()"><img alt="Login with facebook" src="images/fb.png"></a>
                                        <a id="forgetpasslink" class="avenirnext_italic forgetpass" href="javascript:void(0)">(Trouble logging in? Click here.)</a>


                                    </div>

                                    <div id="forgetpassdiv" class="forgetpassinner" style="display: none;">
                                        <h3 class="anvirategulerdemi">Forgot your password?</h3>
                                        <span class="anvirateguler">Enter your email below & you <br/>will be sent a link to reset it</span>
                                        <form name="resetForm">
                                            <input name="forget_email" ng-model="resetEmail" id="forget_email" required class="form-control proximalightfontfamily" type="email" placeholder="YOUR EMAIL ADDRESS">
                                            <button ng-show="resetForm.forget_email.$valid && resetEmail != ''" class="btn loginbtn railwayboldfont" type="button" ng-click="resetPassword()">SEND LINK</button>
                                            <span class="resetError" id="resetError" style="padding:10px" ng-bind-html="resetMsg"></span>
                                            <a id="loginformlink" class="avenirnext_italic forgetpass" href="">(Go back to login screen...)</a>
                                        </form>

                                    </div>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>




                        <div id="profileContainer" style="display:none" class="headerprofile headerprofileactive floatright hidden-xs hidden-sm">
                            <div class="headerprofilediv" ng-controller="ProfileController">
                                <div class="floatleft">
                                    <a ng-show="profileImage" class="dropdown-toggle" data-toggle="dropdown" href="#/profile"><img alt="profile picture" ng-src="{{profileImage}}" style="height:50px;width:50px;border-radius: 50%;"></a>
                                    <a ng-hide="profileImage" class="dropdown-toggle" data-toggle="dropdown" href="#/profile"><img alt="profile picture" src="images/profile1.png" style="height:50px;width:50px;border-radius: 50%;"></a>

                                </div>
                                <a id="profilename" class="profileoiclink anvirategulerdemi headerprofiletext" href="#/profile">
                                    PROFILE</a>
                                <a class="profileoiclink anvirategulerdemi sitetoplogout" href="#/signout">LOG OUT</a>

                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>

                </div>
            </nav>
        </div>
    </header>
    <div class="maintopmainmenu sitemaintopwrapmobile sitepaddingcontrol sitecontainer hidden-lg">
        <div class="sitebrand">
            <a href="#/"><img alt="Skin Health Education | Dermveda" src="images/Dermveda_Logo.svg"></a>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="sitefullwrap sitemaintopwrap">

        <div ng-view autoscroll="true"></div>


        <div class="clearfix"></div>

        <footer>
            <div class="footerwraptopbg"></div>
            <div class="footerwrap">
                <div class="col-md-12 footerdiv">
                    <div class="col-md-3 text-center">
                        <a href="/web/#/" class="footerlogo"><img alt="Skin Health Education | Dermveda" src="images/Dermveda_Logo.svg"></a>
                        <div class="marginclass"></div>
                        <span class="sitetextblue railwaylightfontfamily">
                <span class="footeradres">Dermveda Inc.</span>
                        <!--  <span class="footeradres">Sacramento, CA</span> -->
                        </span>
                    </div>
                    <div class="col-md-2 footerborderdot hidden-xs hidden-sm">
                        <ul class="footerul railwaylightfontfamily">
                            <li><a href="/#/">HOME</a></li>
                            <li><a href="#/ourstory">OUR STORY</a></li>
                            <li><a href="#/health">HEALTH</a></li>
                            <li><a href="#/beauty">BEAUTY</a></li>
                            <li><a href="#/wellness">WELLNESS</a></li>
                            <li><a href="#/careers">CAREERS</a></li>
                            <li><a href="#/contributors">CONTRIBUTORS</a></li>
                            <li><a href="#/advertise">ADVERTISE</a></li>
                            <li><a href="#/contact">CONTACT US</a></li>
                            <li style="display: none" id="adminLink"><a href="#/admin">ADMIN</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-md-push-4 footerborderdot footerwidthmobi">
                        <contact-form></contact-form>
                    </div>

                    <div class="col-md-4 col-md-pull-3 sitetopbarcontent text-center footerborderdot">
                        <div class="sitetopbarsocial hidden-xs hidden-sm">
                            <ul class="list-inline sitesocialmediaicon">
                                <li class="railwaylightfontfamily fontletterspasing sitesocialmediaicontext">CONNECT WITH US</li>
                                <li><a target="_blank" class="facebook" href="http://www.facebook.com/dermveda"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="http://twitter.com/dermveda"><i class="fa fa-twitter"></i></a></li>
                                <li><a target="_blank" class="inkedin" href="http://www.linkedin.com/company/dermveda"><i class="fa fa-linkedin"></i></a></li>
                                <li><a target="_blank" href="http://plus.google.com/107263644809435040330"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                            <div class="gap"></div>
                        </div>
                        <div class="clearfix"></div>

                        <newsletter position="footer"></newsletter>

                    </div>


                </div>

                <div class="clearfix"></div>

            </div>

            <div class="footercontentbottomwrap hidden-xs hidden-sm">
                <div class="col-md-12 railwaylightfontfamily footercontentbottomwrapcont">
                    <div class="pull-left fotterabout">
                        <span class="fottercontenttitle">ABOUT US</span>
                        <p>DERM is derived from the Latin word dermatology and refers to skin wellness. VEDA is the Sanskrit word for knowledge. Together, DERMVEDA represents the essence of our vision of harmony. We believe that health is a personal journey.
                            There is no one size fits all or single equation. The choices we make impact our health and well-being. We realize that the more informed we are, the better we can make decisions that are best for us. We hope to provide knowledge
                            and resources that help everyone reach skin harmony.</p>
                    </div>
                    <div class="pull-left dottedborderleft fotterabout">
                        <span class="fottercontenttitle">Mission Statement</span>
                        <p>Dermveda is dedicated to the promotion of high quality, holistic information about skin health and wellness, integrating Eastern and Western medical perspectives through education, research, and product review.</p>
                        <p>We strive to offer balanced, accurate, and scientifically proven information to help empower choices for healthy living. With a team of dermatologists and physicians in collaboration with alternative medical practitioners, we bridge
                            Western research and medicine to personalized approaches of Eastern medicine to integrate traditional and modern science and bring a new interdisciplinary approach to skin care. </p>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="footercopyrite">
                <div class="col-md-12 sitefooterpading ">
                    <ul class="list-inline pull-left copyritelinks ralewayextralightextra">
                        <li><a href="#/privacy">PRIVACY</a></li>
                        <li><a class="privacypolicy" href="#/terms">TERMS & CONDITIONS</a></li>
                    </ul>
                    <div class="text-center footercopyritetext proximalightfontfamily">all content copyright 2016, dermveda</div>
                </div>
            </div>

            <div class="footerpageshare text-center">
                <div class="sitetopbarsocial shareicons">
                    <span>SHARE <span class="hidden-xs hidden-sm">THIS PAGE</span></span>
                    <a title="Share this on linkedin" onclick="shareOnSocial('li')" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a title="Share this via email" onclick="shareOnSocial('mail')" target="_blank"><i class="fa fa-envelope"></i></a>
                    <a title="Share this on twitter" onclick="shareOnSocial('twi')" target="_blank"><i class="fa fa-twitter"></i></a>

                    <a title="Share this on facebook" onclick="shareOnSocial('fb')" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a title="Share this on google+" onclick="shareOnSocial('gp')" target="_blank"><i class="fa fa-plus"></i></a>
                </div>
            </div>
        </footer>
    </div>
    <div class="preloderwrap ng-hide" data-ng-show="hidePreloderWrapRoot">
              <svg version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
              <circle fill="#48905e" stroke="none" cx="15" cy="50" r="10">
                <animate
                  attributeName="opacity"
                  dur="1s"
                  values="0;1;0"
                  repeatCount="indefinite"
                  begin="0.1"/>
              </circle>
              <circle fill="#48905e" stroke="none" cx="45" cy="50" r="10">
                <animate
                  attributeName="opacity"
                  dur="1s"
                  values="0;1;0"
                  repeatCount="indefinite"
                  begin="0.2"/>
              </circle>
              <circle fill="#48905e" stroke="none" cx="75" cy="50" r="10">
                <animate
                  attributeName="opacity"
                  dur="1s"
                  values="0;1;0"
                  repeatCount="indefinite"
                  begin="0.3"/>
              </circle>
            </svg> 
            <div class="imageprossing railwaysemibold">Please Wait. Facial analysis in progress...  
            </div>
            <div class="clearfix"></div>
</div>
   <!--  <div class="preloderwrap" style="display:none" id="indexpreloderwrap">
        <div class="imageprossing">Please Wait. Facial analysis in progress.
            <img alt="Facial analysis in progress" src="images/preload.png">
        </div>

    </div> -->
    <div class="preloderwrap" style="display:none" id="indexpreloderwrap">
      <svg version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
            <circle fill="#48905e" stroke="none" cx="15" cy="50" r="10">
              <animate
                attributeName="opacity"
                dur="1s"
                values="0;1;0"
                repeatCount="indefinite"
                begin="0.1"/>
            </circle>
            <circle fill="#48905e" stroke="none" cx="45" cy="50" r="10">
              <animate
                attributeName="opacity"
                dur="1s"
                values="0;1;0"
                repeatCount="indefinite"
                begin="0.2"/>
            </circle>
            <circle fill="#48905e" stroke="none" cx="75" cy="50" r="10">
              <animate
                attributeName="opacity"
                dur="1s"
                values="0;1;0"
                repeatCount="indefinite"
                begin="0.3"/>
            </circle>
          </svg>
          <div class="imageprossing railwaysemibold">Please Wait. Facial analysis in progress...</div>
          <div class="clearfix"></div>
    </div>
    <!-- Backto Top Button -->
    <a class="sitebactotop" href="javascript:void(0)" style="display: none"></a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script type="text/javascript" src="js/libs/FileSaver/FileSaver.min.js"></script>
    <script type="text/javascript" src="js/jquery.base64.js"></script>
    <script type="text/javascript" src="js/libs/jsPDF/jspdf.min.js"></script>
    <script type="text/javascript" src="js/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/sweet-alert.min.js"></script>
    <script src="js/jquery.cropit.js"></script>
    <script src="js/angular-facebook.js"></script>

    <!-- <script src="app-services/user.service.local-storage.js"></script>

<script src="home/home.controller.js"></script>
<script src="login/login.controller.js"></script>
<script src="register/register.controller.js"></script> -->

    <script src="js/function.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $(document).scroll(function() {
                var stickyNavTop = $('header').prop('offsetTop');
                var scrollTop = $(window).scrollTop();
                if (scrollTop > stickyNavTop) {

                    $('header').addClass('sticky');
                    $('.shareicons').addClass('stickyfotter')
                } else {
                    $('header').removeClass('sticky')
                    $('.shareicons').removeClass('stickyfotter')
                }
            });

            if (localStorage.role == "ADMIN") {
                $("#adminLink").show();
            }

            $('.tabcaruncelhome').slick({
                slidesToShow: 1,
                arrows: true,
                centerMode: true,
                Default: 'ease',
                fade: true,
                speed: 800,
                focusOnSelect: true
            });

            $('body').click(function(event) {
                var clickover = $(event.target);
                var _opened = $(".navbar-collapse").attr("aria-expanded");
                if (_opened == 'true' && !clickover.hasClass("navbar-toggle")) {
                    $("button.navbar-toggle").click();
                }
            });

            // Site Top Search Control
            var submitIcon = $('.searchbox-icon');
            var inputBox = $('.searchbox-input');
            var searchBox = $('.searchbox');
            var isOpen = false;
            submitIcon.click(function() {

                if (isOpen == false) {
                    $(".sitesocialmediaicondiv, .signupmobile, .mobileserchhide").hide();
                    searchBox.addClass('searchbox-open');
                    $('#searcwithcont').addClass('addpadcontrol');
                    inputBox.focus();
                    isOpen = true;
                } else {
                    searchBox.removeClass('searchbox-open');
                    $('#searcwithcont').removeClass('addpadcontrol');
                    $(".sitesocialmediaicondiv, .signupmobile, .mobileserchhide").fadeIn(1000);
                    inputBox.focusout();
                    inputBox.val('');
                    isOpen = false;

                }

            });

            submitIcon.mouseup(function() {
                return false;
            });
            searchBox.mouseup(function() {
                return false;
            });
            $(document).mouseup(function() {
                if (isOpen == true) {
                    $('.searchbox-icon').css('display', 'block');
                    submitIcon.click();
                    $(".sitesocialmediaicondiv").fadeIn(1000);
                }
            });


            $(window).scroll(function() {
                if ($(this).scrollTop() > 200) {
                    $('.sitebactotop').fadeIn();
                } else {
                    $('.sitebactotop').fadeOut();
                }
            });
            $('.sitebactotop').click(function() {
                $("html, body").animate({
                    scrollTop: 0
                }, 1000);
                return false;
            });
        });
    </script>
    <script src="js/jquery.bxslider.js"></script>
    <script src="js/TweenMax.min.js"></script>
    <script src="js/ScrollToPlugin.min.js"></script>

    
</body>

</html>
