<div class="titleHeader beautyheader clearfix">
  <div class="col-md-3 maintitlebg">
    <h1>Beauty</h1>
  </div>
  <div class="clearfix"></div>
  <div class="col-md-9 col-md-push-3 featuredtitle clearfix">
    <h2>{{featured.title}}</h2>
    <p>{{featured.description}}</p>
    <a ng-href="#/{{featured.articleId}}"><button type="button" class="btn allformbtn anvirateguler">MORE</button></a>
  </div>
</div>

<div class="sitecontainer" ng-show="skinAndHairSection.mainArticle && bodyCareSection.mainArticle">

  <div class="sitecontentsecdiv floatleft">
    <div class="bdTitle railwaylightfontfamily">
      <!--<div class="bredcrumbtext">
        <span class="sitetextblue fontweightbold">You are in:</span>
        <a class="sitetextgreen" href="#/categoryResults/beauty">Beauty</a>
      </div>-->
      <h3>Natural Skincare</h3>
    </div>
  </div>

  <div class="sitesidebarright floatright  sitemiddleoptionsec" ng-include="'partials/common/action_bar.html'"></div>
  <div class="clearfix"></div>

</div>

<div class="sitecontainer" ng-show="skinAndHairSection.mainArticle && bodyCareSection.mainArticle">
  <div class="sitecontentsec sitecontentsecdiv floatleft">
    <div class="sitemiddlecontent">
      <div class="articles">

        <div class="articleGroup">

          <div class="mainArticle">
            <article>
              <div class="image" ng-show="skinAndHairSection.mainArticle.thumbnail">
                <a ng-href="#/{{skinAndHairSection.mainArticle.articleId}}"><img alt="image" ng-src="{{skinAndHairSection.mainArticle.thumbnail}}"></a>
                <div class="titleLink">
                  <h4><a href="#/{{skinAndHairSection.mainArticle.articleId}}">{{skinAndHairSection.mainArticle.title}}</a></h4>
                  <!--  image and more link same clickble entities and related with thubniels -->
                  <div class="titleLinkancher">
                    <div class="titleLinkancher"><a href="#/{{skinAndHairSection.mainArticle.articleId}}">MORE</a></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="discription">{{skinAndHairSection.mainArticle.description}}</div>
              <a class="viewAll viewallmob" href="#/categoryResults/{{convertToEval(skinAndHairSection.mainArticle.taxanomy)}}">Browse All Natural Skincare Articles</a>
            </article>
          </div>

          <div class="subArticle">
            <article ng-repeat="article in skinAndHairSection.subArticles | limitTo:4">
              <div class="image" ng-show="article.thumbnail">
                <a ng-href="#/{{article.articleId}}"><img alt="" ng-src="{{article.thumbnail}}"></a>
              </div>
              <div class="discription">
                <p>
                  <a class="articlediscription" ng-href="#/{{article.articleId}}">{{article.title | limitTo:60}}</a>
                  <a class="beautymore" href="#/{{article.articleId}}">MORE</a>
                </p>
              </div>
            </article>
          </div>

          <div class="clearfix"></div>
        </div>

        <div class="articleGroup">
          <!--    <h3>Skintervention: <span>Body, Makeup, & More</span></h3>    -->
          <h3>Skintervention</h3>

          <div class="mainArticle">
            <article>
              <div class="image" ng-show="bodyCareSection.mainArticle.thumbnail">
                <a ng-href="#/{{bodyCareSection.mainArticle.articleId}}"><img alt="" ng-src="{{bodyCareSection.mainArticle.thumbnail}}"></a>
                <div class="titleLink">
                  <h4><a href="#/{{bodyCareSection.mainArticle.articleId}}">{{bodyCareSection.mainArticle.title}}</a></h4>
                  <!--  image and more link same clickble entities and related with thubniels -->
                  <div class="titleLinkancher">
                    <a href="#/{{bodyCareSection.mainArticle.articleId}}">MORE</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="discription">{{bodyCareSection.mainArticle.description}}</div>
              <a class="viewAll viewallmob" href="#/categoryResults/{{convertToEval(bodyCareSection.mainArticle.taxanomy)}}">BROWSE ALL Skintervention Articles</a>
            </article>
          </div>

          <div class="subArticle">
            <article ng-repeat="article in bodyCareSection.subArticles | limitTo:4">
              <div class="image" ng-show="article.thumbnail">
                <a ng-href="#/{{article.articleId}}"><img alt="" ng-src="{{article.thumbnail}}"></a>
              </div>
              <div class="discription">
                <p>
                  <a class="articlediscription" ng-href="#/{{article.articleId}}">{{article.title | limitTo:60}}</a>
                  <a class="beautymore" href="#/{{article.articleId}}">MORE</a>
                </p>
              </div>
            </article>
          </div>

          <div class="clearfix"></div>
        </div>

        <div ng-show="featuredGuestSection.mainArticle" class="articleGroup">
          <h3>Featured Guests</h3>

          <div class="mainArticle">
            <article>
              <div class="image" ng-show="featuredGuestSection.mainArticle.thumbnail">
                <a ng-href="#/{{featuredGuestSection.mainArticle.id}}"><img alt="" ng-src="{{featuredGuestSection.mainArticle.thumbnail}}"></a>
                <div class="titleLink">
                  <h4>{{featuredGuestSection.mainArticle.title}}</h4>
                  <!--  image and more link same clickble entities and related with thubniels -->
                  <div class="titleLinkancher"><a href="#/{{featuredGuestSection.mainArticle.id}}">MORE</a></div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="discription">{{featuredGuestSection.mainArticle.description}}</div>
              <a class="viewAll viewallmob" href="#/categoryResults/{{convertToEval(featuredGuestSection.mainArticle.taxanomy)}}">BROWSE ALL Featured Guests</a>
            </article>
          </div>

          <div class="subArticle">
            <article ng-repeat="article in featuredGuestSection.subArticles">
              <div class="image" ng-show="article.thumbnail">
                <a ng-href="#/{{article.articleId}}"><img alt="" ng-src="{{article.thumbnail}}"></a>
              </div>
              <div class="discription">
                <p>
                  <a class="articlediscription" ng-href="#/{{article.articleId}}">{{article.title | limitTo:60}}</a>
                  <a class="beautymore" href="#/{{article.articleId}}">MORE</a>
                </p>
              </div>
            </article>
          </div>

          <div class="clearfix"></div>
        </div>

      </div>

      <div class="clearfix"></div>

      <div class="sitecontentaccodian sitecontentaccodianfaq railwaylightfontfamily beauty">
        <div class="panel-group" role="tablist" aria-multiselectable="true">
          <div class="panel-group accodianpannel">
            <div class="panel sitepanel-default">

              <div class="panel-heading headingpan05">
                <a id="accodianpan05" class="accodianheadding" data-toggle="collapse" data-parent="#accordion" href="">DEAR DERMVEDA</a>
              </div>

              <div id="collapse5" class="panel-collapse collapse in">
                <div class="panel-body ">
                  <ul>
                    <li ng-repeat="faq in faqs">

                      <div class="quesImg" ng-show="faq.thumbnail">
                        <img src="{{faq.thumbnail}}" alt="">
                      </div>

                      <div class="quesDetail">
                        <h4>{{faq.title}}</h4>
                        <p>{{faq.Question | htmlToPlaintext}}</p>
                        <span>{{faq.author}}</span>
                        <div class="clearfix"></div>
                        <div style="display:none" class="answer">
                          <p ng-bind-html="faq.answer"></p>
                        </div>
                      </div>

                      <button id="" class="btn allformbtn viewAnswerbtn" type="button">VIEW ANSWER</button>
                      <div class="clearfix"></div>
                      <button id="" class="btn allformbtn hideAnswerbtn hidden" type="button">HIDE ANSWER</button>
                      <div class="clearfix"></div>

                    </li>
                  </ul>

                </div>

                <div class="articlepaginate avenirnext_bold"></div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="faqsection" class="faqquestionwrap beautyformwrap">
        <faq-form type="Derdermveda Submition"></faq-form>
      </div>

      <div class="clearfix"></div>

    </div>
  </div>

  <!-- Sidebar Section -->
  <div class="sitesidebarright floatright sitesidebar">
    <newsletter position="side"></newsletter>
  </div>
</div>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-75233028-1', 'auto');
    ga('send', 'pageview');
</script>
