<div class="sitebannersection">
  <div class="col-md-8 paddingleftnone">
          <h1 class="bannertitle content-push railwayextralightfontfamily">{{title}}</h1>
  
  </div>
   <div class="clearfix"></div>
</div>
<div class="col-md-12">
<div class="sitecontentsec">
    <div class="paddingtopbottom">
    <div class="legalcontent">
      <p class="railwaylightfontfamily maincontentp" ng-bind-html="content"> </p>
    </div>  
    </div>
  </div>
  </div>

