<div class="contentarticlesort">
    <div class="categorypage colorbgdivwrap railwaylightfamily">
        <div class="colorbgdiv logoalighclass">
            <h1 class="railwaythinfamily">Category Results</h1>
            <h2 class="railwaylightfamily">{{resultTitle.substr(0, 1) | uppercase }}{{replaceDash(resultTitle.substr(1, resultTitle.length))}}</h2>
        </div>
    </div>
    <div class="sitecontainer">
        <div class="floatleft sitecontentsecdiv">

            <div class="articlefilterwrap">
                <div class="imageswitcher floatleft">
                    <span class="sitelightgraytext">IMAGES:<a id="imageon" ng-init="showImages=true" ng-click="showImages=true" class="activeLink" ng-class="{'activeLink':showImages === true}" href="">ON</a>/<a ng-class="{'activeLink':showImages === false}" id="imageoff" ng-click="showImages=false" href="">OFF</a></span>
                </div>
                <div class="filterbtndiv floatright">

                    <div class="btn-group filterbtngroup floatright floatrightxs">
                        <button type="button" class="btn dropdown-toggle filterdropdown-toggle" data-toggle="dropdown">
                            <span data-bind="label">MOST POPULAR</span>&nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu filterdropdown" role="menu">
                            <li><a href="" ng-click="setMostRecentFilter('pubwfCreationDate')">MOST RECENT</a></li>
                            <li><a href="" ng-click="setAZFilter('displayName')">A TO Z</a></li>

                        </ul>
                    </div>
                    <div class="floatright floatrightxs filterbtndivlabel">FILTER BY</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="sitecontentsec sitecontentsecdiv floatleft">
            <div class="sitemiddlecontent">
                <div class="sitecontentaccodian sitecontentaccodianfaq railwaylightfontfamily beauty">
                    <ul>
                        <li ng-repeat="item in resultItems | slice:from:to | orderBy:predicate:rev">
                            <div class="quesImg" ng-show="showImages">
                                <a href="javascript:void(0);" ng-click="urlService.navigate(item.id)"><img ng-src="{{item.items['dermveda:mainimage'].link.url}}" alt=""></a>
                            </div>
                            <div class="quesDetail">
                                <h4><a href="javascript:void(0);" ng-click="urlService.navigate(item.id)">{{item.items['dermveda:title']}}</a></h4>
                                <p>{{item.items['dermveda:introduction']}}</p>
                                <div class="s" style="font-style:italic;"><span class="sitetextblue">Categorized in:&nbsp</span><a href="#/categoryResults/{{item.items['hippotaxonomy:keys'][0].substr(0, 1) | uppercase }}{{replaceDash(item.items['hippotaxonomy:keys'][0].substr(1, item.items['hippotaxonomy:keys'][0].length))}}"
                                        ng-hide="item.items['hippotaxonomy:keys'][0].includes('internal')" class="sitetextgreen">{{item.items['hippotaxonomy:keys'][0].substr(0, 1) | uppercase }}{{replaceDash(item.items['hippotaxonomy:keys'][0].substr(1, item.items['hippotaxonomy:keys'][0].length))}}</a>
                                    <div
                                        class="hidden-lg hidden-sm"></div> <span class="sitetextblue paddingleftcls">Tagged in:</span>

                                <a ng-repeat="(indx, tagItem) in item.items['hippostd:tags']" href="#/tag/{{tagItem.substr(0, 1) | uppercase }}{{replaceDash(tagItem.substr(1, tagItem.length))}}/page/1/filter/mr" class="sitetextgreen">{{tagItem.substr(0, 1) | uppercase }}{{replaceDash(tagItem.substr(1, tagItem.length))}}<span ng-if="item.items['hippostd:tags'].length > 1 && indx != item.items['hippostd:tags'].length - 1">,&nbsp</span></a>

                            </div>
                </div>
                <div class="clearfix"></div>
                </li>
                </ul>
                <div class="articlepaginate avenirnext_bold">
                    <ul>
                        <li><a href="" ng-show="currentPage > 1" ng-click="chagePage('prev')">&#60;</a></li>


                        <li ng-repeat="page in pages | limitTo:10" ng-click="chagePage(page)"><a href="">{{page}}</a></li>
                        <li><a href="" ng-show="currentPage < pages.length" ng-click="chagePage('next')">&#62;</a></li>
                    </ul>
                </div>



            </div>


            <div class="clearfix"></div>



        </div>
    </div>


    <div class="sitesidebarright floatright sitesidebar">
        <div class="newsLetter">
            <div class="contsidebartitle railwaylightfontfamily">Get Dermveda News</div>
            <span class="contsidebartext avenirnext_italic">Subscribe to our email newsletter for useful tips, valuable resources & the latest updates within the health arena.</span>
            <div class="marginclass"></div>
            <div class="input-group sitesignuptext signupform willnesspage">
                <input type="text" class="form-control railwaylightfontfamily" placeholder="ENTER YOUR EMAIL">
                <span class="input-group-btn">
        <button class="btn proximalightfontfamily" type="button">SIGNUP</button>
      </span>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 sitemiddlecontentdivbottom">
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>
