<div class="sitefaqmob">
    <div class="sitebannersection">
        <div class="col-md-8 col-sm-6 paddingleftnone">
            <h1 class="bannertitle content-push railwayextralightfontfamily">{{document.items['dermveda:title']}}</h1>
            <p class="bannercontent content-push-para railwaylightfontfamily">
                {{document.items['dermveda:introduction']}}</p>

        </div>
        <!--  <div>
            <a href="javascript:void(0)" class="imagezoombtn" data-toggle="modal" data-target="#myModal">
            </a>
        </div> -->
        <div class="col-md-4  col-sm-6 bannerdiv paddingrightnone">
            <div class="detailimagediv">
                <a id="mainbannerimg" data-target="#myModal" data-toggle="modal">
                    <img alt="{{document.items['dermveda:altText']}}" class="sliderimg sliderhomeimg img-responsive" src="{{document.items['dermveda:mainimage'].link.url}}" alt="banner">
                    <!-- Image Credit -->
                    <div id="imagecreditid" class="detailimagediscipt railwaysemibold hide">Image courtesy of John Smith Photography</div>
                </a>
            </div>
            <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close popupclose" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close Modal</span></button>
                            <img alt="dry-skin" class="img-responsive" src="{{document.items['dermveda:mainimage'].link.url}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>`
        <div class="clearfix"></div>
    </div>

    <div class="sitemiddleoptionsec sitecontainer">
        <div class="paddingtopbottomoptionpanl">
            <div class="col-md-8">

                <div ng-class="{'col-sm-7':accordions.length != 0, 'col-sm-12':accordions.length == 0, 'faqshow':faqs.length != 0}" class="railwaylightfontfamily">

                    <div class="pull-left siteoptionpaneltext siteopouthname author">
                        <div ng-show="document.items['dermveda:author'][0]['items']['dermveda:author']" class=""><span class="sitetextblue">By: <span class="dermauthlink" data-ng-click="showAuthorsPopUp = !showAuthorsPopUp">The Dermveda Team</span></span>
                        </div>
                        <a data-target="#authormore" data-toggle="modal" class="morePopup" href=""></a>
                    </div>
                    <!-- Auther Popup Section Start -->
                    <div class="popover authorpopover fade bottom in show" data-ng-show="showAuthorsPopUp">
                        <div class="arrow"></div>
                        <div class="popover-content railwaysemibold">
                            <div ng-show="document.items['dermveda:author'][0]['items']['dermveda:author']">
                                <h3>Written By:</h3>
                                <span ng-repeat="writer in document.items['dermveda:author']">
                                    <a href="" ng-href="{{writer['items']['dermveda:link']['link']['id']}}" ng-hide="writer['items']['dermveda:link']['link']['type']=='invalid'">{{writer['items']['dermveda:author']}}</a>
                                    <span ng-show="writer['items']['dermveda:link']['link']['type']=='invalid'">{{writer['items']['dermveda:author']}}</span>
                                </span>
                            </div>
                            <div ng-show="document.items['dermveda:editedby']['items']['dermveda:author']">
                                <h3>Edited By:</h3>
                                <span ng-hide="document.items['dermveda:editedby']['items']['dermveda:link']['link']['type'] == 'invalid'">
                                    <a href="" ng-href="{{document.items['dermveda:editedby']['items']['dermveda:link']['link']['id']}}">{{document.items['dermveda:editedby']['items']['dermveda:author']}}</a>
                                </span>
                                <span ng-show="document.items['dermveda:editedby']['items']['dermveda:link']['link']['type'] == 'invalid'">
                                    {{document.items['dermveda:editedby']['items']['dermveda:author']}}
                                </span>
                            </div>
                            <div ng-show="document.items['dermveda:reviewedby']['items']['dermveda:author']">
                                <h3>Reviewed By:</h3>
                                <span ng-hide="document.items['dermveda:reviewedby']['items']['dermveda:link']['link']['type']=='invalid'">
                                    <a ng-href="{{document.items['dermveda:reviewedby']['items']['dermveda:link']['link']['id']}}">{{document.items['dermveda:reviewedby']['items']['dermveda:author']}}</a>
                                </span>
                                <span ng-show="document.items['dermveda:reviewedby']['items']['dermveda:link']['link']['type']=='invalid'">
                                    {{document.items['dermveda:reviewedby']['items']['dermveda:author']}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- Auther Popup Section End -->
                    <div class="pull-left siteoptionpaneltext faq-menu scrollermenu scrollermenu  floatlefttxs siteopufaq" ng-show="faqs.length != 0">
                        <a id="accodianpan05btn" class="sitetextgreen sitecommentcount" href="javascript:void(0)" ng-click="goToFaq()">View The FAQ</a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="bredcrumbtext">
                        <span class="sitetextblue fontweightbold">You are in:</span>
                        <a ng-repeat="tax in document.items['hippotaxonomy:keys']" class="sitetextgray" href="#/categoryResults/{{tax}}" ng-hide="tax.includes('internal')">{{replaceDash(tax) | capitalizeFirstLetter}} <span class="sitetextgray">></span> </a>

                        <a class="sitetextgray" data-ng-if="document.items['dermveda:metatitle'] == ''" href="">{{document.items['dermveda:title']}}</a>
                        <a class="sitetextgray" data-ng-if="document.items['dermveda:metatitle'] != ''" href="">{{document.items['dermveda:metatitle']}}</a>
                    </div>
                </div>
                <div class="col-sm-5 scrollermenu iconscrollermenu" ng-show="accordions.length != 0">
                    <div class="scrollermenuwrap accordmenu">
                        <a href="javascript:void(0)" ng-repeat="accord in accordions">
                            <i class="ico-site ico-iconser01">
                                <div class="icon-{{accord.iconclass}}" ng-click="clickTriggerIcon(this, true)"></div>
                            </i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-5 actionbarsocialmedia iconscrollermenu hide">
                    <div class="scrollermenuwrap" ng-show="accordions.length == 0">
                        <ul class="list-inline sitesocialmediaicon">
                            <li>
                                <a class="facebook" href="https://www.facebook.com/dermveda" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/dermveda" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a class="inkedin" href="https://www.linkedin.com/company/dermveda" target="_blank">
                                    <i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/107263644809435040330" target="_blank"><i class="fa fa-google-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-4 padright0  actionsidebarmob">
                <div class="col-md-12 padright0 sitefullscreendivwrap">
                    <div class="floatright sitefullscreendiv">
                        <a id="fullscreenicon" href="javascript:void(0);">
                            <img src="images/fullscrennicon.png" alt="">
                        </a>
                    </div>
                    <div class="floatright sitefontadjustdiv">
                        <div class="sitetextgray sitefontadjustinner proximalightfontfamily">
                            <span class="smalltitlefontsize">
                                <a id="smallfont" href="javascript:void(0);">A</a>
                            </span>
                            <span class="commontitlefontsize">
                                <a id="mediumfont" href="javascript:void(0);">A</a>
                            </span>
                            <span class="largetitlefontsize">
                                <a id="largefont" href="javascript:void(0);">A</a>
                            </span>
                        </div>
                    </div>
                    <div class="floatright rightbordersite" ng-class="{'addfavfontclick':isFavoriteItem==true}">
                        <a class="sitetextgray addfavfont railwaylightfontfamily" ng-hide="isFavoriteItem" ng-click="addFavourite(document.id);" href="javascript:void(0);">ADD TO FAVORITES</a>
                        <a class="sitetextgray addfavfont railwaylightfontfamily" ng-show="isFavoriteItem" ng-class="{'addfavfontclick':isFavoriteItem==true}" ng-click="removeFavorite(document.id);" href="javascript:void(0);">REMOVE FAVORITES</a>
                    </div>


                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="sitemiddlecontent sitecontainer">
        <div class="sitecontentsec sitecontentsecdiv floatleft">
            <div class="sitecontentleftpad">
                <p class="railwaylightfontfamily maincontentp" ng-bind-html="content"></p>
                <!-- <p class="maincontentp railwaylightfontfamily">Interestingly, western and alternative medicine disciplines approach dry skin differently but appear to reach similar conclusions on the causes and management of dry skin.</p>
                <p class="maincontentp railwaylightfontfamily">In western (allopathic) and naturopathic medicine, dry skin is understood as a problem with the skin’s barrier leading to an increase in water loss through the skin. In ayurvedic medicine skin dryness is perceived as an excess of vata on one hand and lack of kapha, rasa and ojas on the other – which in turn leads to excessive dryness of the skin. In traditional Chinese medicine, dryness is considered the result of consumption of yin, blood, and fluids of the body that is a result of both external and internal imbalances.</p>
                  <ul class="maincontetul railwaylightfontfamily">
                      <li>
                      Is my skin prone to dryness? Learn more from our <a href="#" class="sitetextgreen avenirnext_demi">Dermveda Skin Meter.</a>
                      </li>
                      <li>
                      Related topics:
                        <a href="#" class="sitetextgreen avenirnext_demi">Soaps, Steroid Creams, Moisturizers </a>
                      </li>
                      <li>
                      Find a local
                        <a href="#" class="sitetextgreen avenirnext_demi">Practitioner or Physician.</a>
                      </li>
                  </ul> -->
                <div ng-if="accordions.length != 0">
                    <h2 class="sitetextbluelight railwaylightfontfamily titleh2fonts">Want to learn more?</h2>
                    <h3 class="sitetextbluelight railwaylightfontfamily titleh3fonts">Choose the medical approach below that suits your preference.</h3>
                </div>
                <div class="clearfix"></div>

                <div class="sitecontentaccodian railwaylightfontfamily" ng-show="accordions.length != 0">
                    <div class="panel-group panel-group-tablist" role="tablist" aria-multiselectable="true">
                        <div class="panel-group accodianpannel">
                            <div class="panel sitepanel-default" ng-repeat="accord in accordions">
                                <div class="panel-heading heading-{{accord.iconclass}}">
                                    <a class="accodianheadding" name="hello" data-toggle="collapse" data-parent="#accordion" data-trigger="{{accord.iconclass}}" href="javascript:void(0)" ng-click="clickTrigger(this, $index)">
                                        <span class="accodianpanel">{{accord.title}}</span>
                                        <div class="sitepanelicon pull-right"><i class="fa fa-angle-left"></i></div>
                                    </a>
                                </div>
                                <div id="{{accord.iconclass}}" class="panel-collapse collapse">
                                    <div class="panel-body detailaccodiancontent" ng-bind-html="accord.content" style="overflow-y: hidden; height: {{accordHeight[$index]}}">
                                        {{accord.content}}
                                    </div>
                                    <button class="btn btn-default readmorebox railwaylightfontfamily" ng-hide="accordHeight[$index] == 'auto'" ng-click="expandAccord($index)">Read More About this approach</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- Article ReadMore Buttton Start -->
                <div class="clearfix"></div>
                <h3 class="readmorebox railwaylightfontfamily hide">Read More About this approach</h3>
                <!-- Article ReadMore Buttton End -->

                <div class="clearfix"></div>

                <div class="dashedborderspace"></div>

                <div class="fullcitedboxwrap railwaylightfontfamily">

                    <br>
                    <p class="railwaylightfontfamily">
                        The material on this web site is provided for educational purposes only, and is not to be used for medical advice, diagnosis, or treatment. Use of this site is subject to our <ins><a href="/web/#/terms">terms &#38; conditions</a></ins>                        and <ins><a href="/web/#/privacy">privacy policy</a></ins>. <ins><a href="/web/#/disclaimer">See additional information</a></ins>.
                    </p>


                    <div class="sitecontentaccodian sitecontentaccodianfaq  sitecontentaccodianfaqtop railwaylightfontfamily">
                        <div class="panel-group" role="tablist" aria-multiselectable="true">
                            <div class="panel-group accodianpannel">
                                <div class="panel sitepanel-default">
                                    <div class="panel-heading headingpan05">

                                        <a id="accodianpan06" class="accodianheadding" data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)" ng-click="clickRefTrigger('collapse6')"><span class="accodianpanel hidden-xs">VIEW A COMPLETE LIST OF CITED REFERENCES
                                            </span><span class="accodianpanel visible-xs">VIEW REFERENCES
                                            </span> <div class="sitepanelicon pull-right"><i class="fa fa-angle-left"></i>
                                            </div></a>

                                    </div>
                                    <div id="collapse6" class="panel-collapse collapse">
                                        <div class="panel-body railwaylightfontfamily" ng-bind-html="document.items['dermveda:references'].content">
                                            {{document.items['dermveda:references'].content}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sitecontentaccodian sitecontentaccodianfaq railwaylightfontfamily" ng-if="faqs.length != 0">
                        <div class="panel-group" role="tablist" aria-multiselectable="true">
                            <div class="panel-group accodianpannel">
                                <div class="panel sitepanel-default">
                                    <div class="panel-heading headingpan05">
                                        <a id="accodianpan05" class="accodianheadding" data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)" ng-click="clickRefTrigger('collapse5')"><span class="accodianpanel">View Our FAQs

                                            </span> <div class="sitepanelicon pull-right"><i class="fa fa-angle-left"></i>
                                            </div></a>

                                    </div>
                                    <div id="collapse5" class="panel-collapse collapse">
                                        <div class="panel-body railwaylightfontfamily">
                                            <div ng-repeat="faq in faqs">
                                                <h3>{{faq.question}}</h3>
                                                <p class="maincontentp" ng-bind-html="faq.answer">
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="faqsection" class="faqquestionwrap" ng-if="faqs.length != 0">
                        <h3 class="avenirnext_demi">{{questionFormTitle}}</h3>
                        <faq-form ng-show="document.items['dermveda:FAQ_Form']" type="Article FAQ Submition"></faq-form>
                    </div>
                </div>
                <div class="clearfix"></div>


                <div class="fullcitedboxcontent railwaylightfontfamily">


                    <span class="sitetextblue">Categorized in:</span>
                    <a ng-repeat="(indx, tagItem) in document.items['hippotaxonomy:keys']" href="#/categoryResults/{{tagItem}}" ng-hide="tagItem.includes('internal')" class="sitetextgreen">{{tagItem.substr(0, 1) | uppercase}}{{replaceDash(tagItem.substr(1, tagItem.length)).replace('internal', '')}}<span ng-if="document.items['hippotaxonomy:keys'].length > 1 && indx != document.items['hippotaxonomy:keys'].length - 1">,&nbsp</span></a>



                    <span class="sitetextblue paddingleftcls">Tagged in:</span>
                    <a href="#/tag/{{tag}}/page/1/filter/mr" class="sitetextgreen" ng-repeat="tag in document.items['hippostd:tags']">{{tag}}<span ng:show="($index+1) != document.items['hippostd:tags'].length">,&nbsp;</span></a>
                </div>



                <div class="contentpaddingtopnews scrollerinner">
                    <ul class="nav nav-pills sitetabcontentsec railwaylightfontfamily">

                        <li><a href="javascript:void(0)" data-target="#1a" data-toggle="tab">RELATED ARTICLES</a></li>
                        <li><a href="javascript:void(0)" data-target="#2a" data-toggle="tab">MOST READ</a></li>
                        <li><a href="javascript:void(0)" data-target="#3a" class="lasttabset" data-toggle="tab">A TO Z</a></li>
                    </ul>
                    <div class="tab-content clearfix">
                        <div class="tab-pane tabcontentdiv active" id="1a">
                            <div class="tabcaruncel">

                                <div class="controw" ng-repeat="related in relatedArticles">
                                    <div class="pull-left caruncelimg">
                                        <a href="#/{{related.id}}"><img alt="" width="130" class="img-responsive" ng-src="{{related['items']['dermveda:mainimage']['link']['url']}}"></a>
                                    </div>
                                    <div class="pull-left caruncelcontent railwaysemibold">{{related['items']['dermveda:title']}}
                                        <span class="relateddescription">{{related['items']['dermveda:introduction'] | limitTo:90}}</span>
                                        <a href="#/{{related.id}}" class="tabcaruncelredmore"><i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane tabcontentdiv" id="2a">

                            <div class="tabcaruncel">

                                <div class="controw" ng-repeat="mostRead in mostReads">
                                    <div class="pull-left caruncelimg">
                                        <a href="#/{{mostRead.articleId}}"><img alt="" width="130" class="img-responsive" ng-src="{{mostRead.imageURL}}"></a>
                                    </div>
                                    <div class="pull-left caruncelcontent railwaysemibold">{{mostRead.title}}
                                        <span class="relateddescription">{{mostRead.introduction | limitTo:90}}</span>
                                        <a href="#/{{mostRead.articleId}}" class="tabcaruncelredmore"><i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>


                            </div>


                        </div>
                        <div class="tab-pane tabcontentdiv" id="3a">

                            <div class="tabcaruncel">

                                <div class="controw" ng-repeat="AtoZarticle in AtoZarticles">
                                    <div class="pull-left caruncelimg">
                                        <a href="#/{{AtoZarticle.articleId}}"><img alt="" width="130" class="img-responsive" ng-src="{{AtoZarticle.imageURL}}"></a>
                                    </div>
                                    <div class="pull-left caruncelcontent railwaysemibold">{{AtoZarticle.title}}
                                        <span class="relateddescription">{{AtoZarticle.introduction | limitTo:90}}</span>
                                        <a href="#/{{AtoZarticle.articleId}}" class="tabcaruncelredmore"><i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="tab-pane tabcontentdiv" id="4a">
                            <div class="tabcaruncel">

                                <!--
                                        <div class="controw"><div class="pull-left caruncelimg"><img alt="" class="img-responsive" src="images/news01.jpg">
                                            </div>
                                            <div class="pull-left caruncelcontent railwaysemibold">Title of the article will go in
                                        this area. Title of the article
                                        will go here.
                                        <a href="#" class="tabcaruncelredmore"><i class="fa fa-angle-right"></i></a>
                                          </div>
                                        </div>
                                -->

                                <!--
                                        <div class="controw"><div class="pull-left caruncelimg"><img  alt="" class="img-responsive" src="images/news01.jpg"></div>
                                          <div class="pull-left caruncelcontent railwaysemibold">Title of the article will go in
                                          this area. Title of the article
                                          will go here.
                                          <a href="#" class="tabcaruncelredmore"><i class="fa fa-angle-right"></i>
                                          </a>
                                          </div>
                                        </div>
                                -->

                                <!--
                                        <div class="controw"><div class="pull-left caruncelimg"><img  alt="" class="img-responsive" src="images/news01.jpg"></div>
                                          <div class="pull-left caruncelcontent railwaysemibold">Title of the article will go in
                                          this area. Title of the article
                                          will go here.
                                          <a href="#" class="tabcaruncelredmore"><i class="fa fa-angle-right"></i></a>
                                          </div>
                                        </div>
                                -->
                                <!--
                                        <div class="controw"><div class="pull-left caruncelimg"><img  alt="" class="img-responsive" src="images/news01.jpg"></div>
                                          <div class="pull-left caruncelcontent railwaysemibold">Title of the article will go in
                                            this area. Title of the article
                                            will go here.
                                            <a href="#" class="tabcaruncelredmore"><i class="fa fa-angle-right"></i></a>
                                            </div>

                                        </div>
                                -->

                            </div>
                        </div>
                    </div>
                </div>


                <!-- <div id="commentsection" class="webcomment proximalightfontfamily contentpaddingtop">

                <div class="commentborder"><div class="pull-left comment01">0 Comments</div><div class="pull-left comment02">dermveda.com</div><div class="pull-right comment02">Login <i class="fa fa-caret-down"></i>

                </div>

                <div class="clearfix"></div>
                </div>
                <div class="commentsecend"><div class="pull-left comment03"><i class="fa fa-heart"></i>
                Recommend</div><div class="pull-left comment04"><i class="fa fa-share-square-o"></i>
                Share</div><div class="pull-right comment03">Sort By Best <i class="fa fa-caret-down"></i>

                </div>

                <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="comentprofilepic pull-left"><img  alt="" class="img-responsive" src="images/commentpic.jpg"></div>
                <div class="commentbox pull-left proximalightfontfamily"><input class="form-control commenyboxtxt" type="text" placeholder="Start the discussion.."></div>

                </div>
                -->

            </div>
        </div>
    </div>

    <div class="sitesidebarrightvideo floatright">
        <div class="featuredvidwrap" ng-repeat="video in document.items['dermveda:dermveda_video_']">
            <div class="featuredvtitle railwaymedium" ng-show="$first">Featured Video</div>
            <div class="embedvideodiv">
                <div data-ng-bind-html="video.items['dermveda:vcode']"></div>

            </div>
            <div class="featuredvdiscrip railwaysemibold">{{video.items['dermveda:vdescription']}}</div>

        </div>
    </div>
    <div class="sitesidebarright floatright sitesidebar">
        <div class="paddingtopbottom">
            <newsletter position="side"></newsletter>
        </div>
    </div>
</div>

<div class="clearfix"></div>
</div>



<!-- <p>{{document.items['relateddocs:docs'].related}}</p>
<p><li ng-repeat="tag in document.items['hippostd:tags']">{{tag}}</li></p>
<p><div ng-repeat="accordion in document.items['myhippoproject:accordion']"><h2>{{accordion.items['myhippoproject:title']}}</h2>
<p>{{accordion.items['myhippoproject:content']}}</p>
</div></p>
<div ng-bind-html="content"></div> -->




<div id="addfavmodal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modalpopupaddfav">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close popupclose" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close Modal</span></button>
                <h2 class="railwayreguler">Please Sign In or Sign Up to add favorites</h2>
                <div class="modalbuttons">
                    <a class="usersignubtn railwayboldfont" ng-click="navigateToSignUpForm()" href="javascript:void(0);">SIGN UP</a>
                    <a class="usersiginbtn railwayboldfont" ng-click="openSigninForm();" href="javascript:void(0)">SIGN IN</a>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>
</div>


<div id="addfavmodalsucces" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modalpopupaddfav">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close popupclose" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close Modal</span></button>
                <h2 class="railwayreguler">{{msg}}</h2>

            </div>
        </div>
    </div>
</div>



<div id="authormore" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modalpopupaddfav">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close popupclose" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close Modal</span></button>
                <div class="pull-left siteoptionpaneltext siteopouthname author popup">
                    <div class="pull-left "><span class="sitetextblue">By:</span> <a id="autheridlink" href="javascript:void(0);">The Dermveda Team</a> ssssss
                        <div id="popover222356" class="popover fade bottom in" role="tooltip" style="top: 55px; left: 989px; display: block;">
                            <div class="arrow" style="left: 70.3125%;"></div>
                            <div class="popover-content">
                                dfdsfsfsfsfsfsdfsdf
                            </div>
                        </div>










                        <!-- <a ng-href="#/{{document.items['dermveda:author'][0]['items']['dermveda:link']['link']['id']}}" class="sitetextgreen fontweightbold">{{document.items['dermveda:author'][0]['items']['dermveda:author']}}</a> --></div>
                    <!--  <div class="pull-left " ng-show="document.items['dermveda:editedby']['items']['dermveda:author']"><span class="sitetextblue">Edited By:</span><a ng-href="#/{{document.items['dermveda:editedby']['items']['dermveda:link']['link']['id']}}" class="sitetextgreen fontweightbold">{{document.items['dermveda:editedby']['items']['dermveda:author']}}</a></div> -->
                    <!-- <div class="pull-left " ng-show="document.items['dermveda:reviewedby']['items']['dermveda:author']"><span class="sitetextblue">Reviewed By:</span><a ng-href="#/{{document.items['dermveda:reviewedby']['items']['dermveda:link']['link']['id']}}" class="sitetextgreen fontweightbold">{{document.items['dermveda:reviewedby']['items']['dermveda:author']}}</a></div> -->


                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
