<div class="sitefaqmob">   
    <div class="sitebannersection">
        <div class="col-md-8  col-sm-6 paddingleftnone">
            <h1 class="bannertitle content-push railwayextralightfontfamily">{{title}}</h1>

        </div>
        <div class="col-md-4  col-sm-6 bannerdiv paddingrightnone">
        <a data-target="#myModal" data-toggle="modal">
            <img class="sliderimg sliderhomeimg" ng-src="{{imgSrc}}" alt="banner">
        </a>
            <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close popupclose" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close Modal</span></button>
                            <img alt="dry-skin" class="img-responsive" src="{{imgSrc}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="sitemiddleoptionsec sitecontainer">
        <div class="paddingtopbottomoptionpanl">
            <div class="col-md-8">
                <div class="col-md-7 col-sm-7 railwaylightfontfamily">
            
                </div>
                <div class="col-md-5  col-sm-5 scrollermenu" ng-show="accordions.length != 0">
                    <div class="scrollermenuwrap accordmenu" >
                        <a href="javascript:void(0)" ng-repeat="accord in accordions">
                            <i class="ico-site ico-iconser01">
                                <div class="icon-{{accord.iconclass}}" ng-click="clickTriggerIcon(this, true)"></div>
                            </i>
                        </a>
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 actionbarsocialmedia iconscrollermenu">
                    <div class="scrollermenuwrap" ng-show="accordions.length == 0">
                    <ul class="list-inline sitesocialmediaicon">
                        <li>
                        <a class="facebook" href="https://www.facebook.com/dermveda" target="_blank">
                        <i class="fa fa-facebook"></i>
                        </a>
                        </li>
                        <li>
                        <a href="https://twitter.com/dermveda" target="_blank">
                        <i class="fa fa-twitter"></i>
                        </a>
                        </li>
                        <li>
                        <a class="inkedin" href="https://www.linkedin.com/company/dermveda" target="_blank">
                        <i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                        <a href="https://plus.google.com/107263644809435040330" target="_blank"><i class="fa fa-google-plus"></i></a>
                        </li>
                    </ul>
                </div>
                </div>

            </div>
            <div class="col-md-4 padright0  actionsidebarmob">
                <div class="col-md-12 padright0 sitefullscreendivwrap">
                    <div class="floatright sitefullscreendiv">
                        <a id="fullscreenicon" href="javascript:void(0);">
                            <img src="images/fullscrennicon.png" alt="">
                        </a>
                    </div>
                    <div class="floatright sitefontadjustdiv">
                        <div class="sitetextgray sitefontadjustinner proximalightfontfamily">
                            <span class="smalltitlefontsize">
                                <a id="smallfont" href="javascript:void(0);">A</a>
                            </span>
                            <span class="commontitlefontsize">
                                <a id="mediumfont" href="javascript:void(0);">A</a>
                            </span>
                            <span class="largetitlefontsize">
                                <a id="largefont" href="javascript:void(0);">A</a>
                            </span>
                        </div>
                    </div>
                    <div class="floatright rightbordersite" ng-class="{'addfavfontclick':isFavoriteItem==true}">
                        <a class="sitetextgray addfavfont railwaylightfontfamily" ng-hide="isFavoriteItem" ng-click="addFavourite(document.id);" href="javascript:void(0);">ADD TO FAVORITES</a>
                        <a class="sitetextgray addfavfont railwaylightfontfamily" ng-show="isFavoriteItem" ng-class="{'addfavfontclick':isFavoriteItem==true}" ng-click="removeFavorite(document.id);" href="javascript:void(0);">REMOVE FAVORITES</a>
                    </div>
                         

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="sitemiddlecontent sitecontainer" >
        <div class="sitecontentsec sitecontentsecdiv floatleft">
            <div class="paddingtopbottom sitecontentleftpad">
                <p class="railwaylightfontfamily maincontentp" ng-bind-html="content"></p>
            </div>
        </div>
    </div>
</div>

