<div class="contentarticlesort">
    <div class="categorypage colorbgdivwrap railwaylightfamily">
        <div class="colorbgdiv logoalighclass">
            <h1 class="railwaythinfamily">Featured Guests</h1>
            <h2 class="railwaylightfamily">{{resultTitle.substr(0, 1) | uppercase }}{{resultTitle.substr(1, resultTitle.length)}}</h2>
        </div>
    </div>
    <div class="sitecontainer">
        <div class="floatleft sitecontentsecdiv">

            <div class="articlefilterwrap">
                <div class="imageswitcher floatleft">
                    <span class="sitelightgraytext">IMAGES:<a id="imageon" ng-init="showImages=true" ng-click="showImages=true" class="activeLink" ng-class="{'activeLink':showImages === true}" href="">ON</a>/<a ng-class="{'activeLink':showImages === false}" id="imageoff" ng-click="showImages=false" href="">OFF</a></span>
                </div>
                <div class="filterbtndiv floatright">

                    <div class="btn-group filterbtngroup floatright floatrightxs">
                        <button type="button" class="btn dropdown-toggle filterdropdown-toggle" data-toggle="dropdown">
                            <span data-bind="label">MOST POPULAR</span>&nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu filterdropdown" role="menu">
                            <li><a href="" ng-click="setMostRecentFilter('pubwfCreationDate')">MOST RECENT</a></li>
                            <li><a href="" ng-click="setAZFilter('displayName')">A TO Z</a></li>

                        </ul>
                    </div>
                    <div class="floatright floatrightxs filterbtndivlabel">FILTER BY</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="floatright sitesidebarright">
            <div class="actionbar">
                <div class="floatright sitefullscreendiv">
                    <a id="fullscreenicon" href="#">
                        <img src="images/fullscrennicon.png" alt="">
                    </a>
                </div>
                <div class="floatright sitefontadjustdiv">
                    <div class="sitetextgray sitefontadjustinner proximalightfontfamily">
                        <span class="smalltitlefontsize">
                <a id="smallfont" href="#">A</a>
              </span>
                        <span class="commontitlefontsize">
                <a id="mediumfont" href="#">A</a>
              </span>
                        <span class="largetitlefontsize">
                <a id="largefont" href="#">A</a>
              </span>
                    </div>
                </div>
                <div class="floatright rightbordersite hide">
                    <a class="sitetextgray addfavfont railwaylightfontfamily" href="#">ADD TO FAVORITES</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


        <div class="sitecontentsec sitecontentsecdiv floatleft">
            <div class="sitemiddlecontent">
                <div class="sitecontentaccodian sitecontentaccodianfaq railwaylightfontfamily beauty">
                    <ul>
                        <li ng-repeat="item in resultItems | slice:from:to | orderBy:predicate:rev">
                            <div class="quesImg" ng-show="showImages">
                                <a href="#/{{item.id}}"><img ng-src="{{item.items['dermveda:mainimage'].link.url}}" alt=""></a>
                            </div>
                            <div class="quesDetail">
                                <h4><a href="#/{{item.id}}">{{item.items['dermveda:title']}}</a></h4>
                                <p ng-bind-html="item.items['dermveda:introduction']"></p>
                                <div class="s" style="font-style:italic;">
                                    <span class="sitetextblue">Categorized in:&nbsp</span>
                                    <a href="#/categoryResults/{{tax}}" ng-hide="tax.includes('internal')" class="sitetextgreen" ng-repeat="(indx,tax) in item.items['hippotaxonomy:keys']">{{tax.substr(0, 1) | uppercase }}{{replaceDash(tax.substr(1, tax.length))}}
                                      <span ng-if="item.items['hippotaxonomy:keys'].length > 1 && indx != item.items['hippotaxonomy:keys'].length - 1">,&nbsp</span>
                                    </a>
                                    <div class="hidden-lg hidden-sm"></div>
                                    <span class="sitetextblue paddingleftcls">Tagged in:</span>
                                    <a ng-repeat="(indx, tagItem) in item.items['hippostd:tags']" href="#/tag/{{tagItem.substr(0, 1) | uppercase }}{{replaceDash(tagItem.substr(1, tagItem.length))}}/page/1/filter/mr" class="sitetextgreen">{{tagItem.substr(0, 1) | uppercase }}{{replaceDash(tagItem.substr(1, tagItem.length))}}
                                          <span ng-if="item.items['hippostd:tags'].length > 1 && indx != item.items['hippostd:tags'].length - 1">,&nbsp</span>
                                    </a>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                    <div class="articlepaginate avenirnext_bold">
                        <ul>
                            <li><a href="" ng-show="currentPage >= 1" ng-click="chagePage('prev')">&#60;</a></li>

                            <li ng-repeat="page in pages | limitTo:10" ng-class="{paginateselect:currentPage+1==page}">
                                <a href="">{{page}}</a></li>
                            <li><a href="" ng-show="currentPage < pages.length - 1" ng-click="chagePage('next')">&#62;</a></li>
                        </ul>
                    </div>

                </div>


                <div class="clearfix"></div>



            </div>
        </div>


        <div class="sitesidebarright floatright sitesidebar">
            <newsletter position="side"></newsletter>
        </div>
        <div class="clearfix"></div>

    </div>

    <div class="clearfix"></div>
