<link href="css/sweetalert.css" rel="stylesheet">
<script src="js/sweet-alert.min.js"></script>

<div class="signuppagebg">
    <div class="sitemiddlelow signupdiv" ng-show="tokenValid">
        <h1 class="railwayextralightfontfamily">Reset Password!</h1>
        <div id="token" ></div>
        <div class="sitemiddlelow signupforminner">
            <div class="alert alert-warning alert-dismissible hidden" role="alert">
                User regsitration failed. Please try again..
            </div>

            <form name="reEnterPassword">
                <input id="newPass" class="form-control proximalightfontfamily" required type="password" placeholder="*NEW PASSWORD" name="NewPass" ng-model="regData.newPass">
                <input id="confirmPass" class="form-control proximalightfontfamily" required ng-change="(regData.newPass === regData.confirmPass) ? reEnterPassword.ConfirmPass.$setValidity('mismatch', true) : reEnterPassword.ConfirmPass.$setValidity('mismatch', false)" type="password" placeholder="*CONFIRM PASSWORD" name="ConfirmPass" ng-model="regData.confirmPass">
                <p class="validationerrorbox" ng-show="reEnterPassword.ConfirmPass.$error.mismatch">Passwords did not match.</p>
                <p class="validationerrorbox" ng-show="reEnterPassword.ConfirmPass.$error.required && reEnterPassword.$dirty">All fields required.</p>
                <button class="btn signupbtn railwayboldfont" type="button" ng-click="resetPassword()" type="button">Confirm password reset</button>
            </form>
        </div>

    </div>
</div>


<div class="sitefullwrap">
    <div class="clearfix"></div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-75233028-1', 'auto');
        ga('send', 'pageview');

    </script>