<div class="sitefullwrap contentpanelhelth">
    <div class="azheadingwrap railwaylightfamily">
        <div class="colorbgdiv logoalighclass">
            <h1>Health A-Z</h1>
            <h2>Conditions & Treatments</h2>
        </div>
        <div class="imgbgdiv">
            <ul class="logoalighclass">
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='a'}" ng-click="changeSkinConditionLetter('a')" href="">A</a></li>
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='b'}" ng-click="changeSkinConditionLetter('b')" href="">B</a></li>
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='c'}" ng-click="changeSkinConditionLetter('c')" href="">C</a></li>
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='d'}" ng-click="changeSkinConditionLetter('d')" href="">D</a></li>
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='e'}" ng-click="changeSkinConditionLetter('e')" href="">E</a></li>
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='f'}" ng-click="changeSkinConditionLetter('f')" href="">F</a></li>
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='g'}" ng-click="changeSkinConditionLetter('g')" href="">G</a></li>
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='h'}" ng-click="changeSkinConditionLetter('h')" href="">H</a></li>
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='i'}" ng-click="changeSkinConditionLetter('i')" href="">I</a></li>
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='j'}" ng-click="changeSkinConditionLetter('j')" href="">J</a></li>
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='k'}" ng-click="changeSkinConditionLetter('k')" href="">K</a></li>
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='l'}" ng-click="changeSkinConditionLetter('l')" href="">L</a></li>
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='m'}" ng-click="changeSkinConditionLetter('m')" href="">M</a></li>
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='n'}" ng-click="changeSkinConditionLetter('n')" href="">N</a></li>
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='o'}" ng-click="changeSkinConditionLetter('o')" href="">O</a></li>
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='p'}" ng-click="changeSkinConditionLetter('p')" href="">P</a></li>
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='q'}" ng-click="changeSkinConditionLetter('q')" href="">Q</a></li>
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='r'}" ng-click="changeSkinConditionLetter('r')" href="">R</a></li>
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='s'}" ng-click="changeSkinConditionLetter('s')" href="">S</a></li>
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='t'}" ng-click="changeSkinConditionLetter('t')" href="">T</a></li>
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='u'}" ng-click="changeSkinConditionLetter('u')" href="">U</a></li>
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='v'}" ng-click="changeSkinConditionLetter('v')" href="">V</a></li>
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='w'}" ng-click="changeSkinConditionLetter('w')" href="">W</a></li>
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='x'}" ng-click="changeSkinConditionLetter('x')" href="">X</a></li>
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='y'}" ng-click="changeSkinConditionLetter('y')" href="">Y</a></li>
                <li><a ng-class="{pageselect:skinConditionSearchLetter=='z'}" ng-click="changeSkinConditionLetter('z')" href="">Z</a></li>
            </ul>
        </div>
    </div>
    <div class="logoalighclass">
        <div class="colequalleft floatleft healthpaginate floatleftxs">
            <h3 class="innerpagelefttitle railwaythinfamily">Skin Conditions</h3>
            <div class="skinconditiondiv anvirateguler">

                <a ng-repeat="condition in skinConditions | slice:skinConditionFrom:skinConditionTo" href="#/{{condition['articleId']}}">{{condition['title']}}</a>
                <div class="articlepaginate avenirnext_bold">
                    <ul>
                        <li><a href="" ng-show="skinConditionsCurrentPage > 1" ng-click="changeSkinConditionPage('prev', $event)">&#60;</a></li>

                        <li ng-show="skinConditionPages.length > 1" ng-class="{paginateselect:skinConditionsCurrentPage==page}" ng-repeat="page in skinConditionPages | limitTo:10"><a ng-click="changeSkinConditionPage(page, $event)" href="">{{page}}</a></li>
                        <li><a href="" ng-show="skinConditionsCurrentPage < skinConditionPages.length" ng-click="changeSkinConditionPage('next', $event)">&#62;</a></li>
                    </ul>
                </div>
            </div>

            <h3 class="innerpagelefttitle extramargintop railwaythinfamily">Deepen Your Knowledge</h3>
            <div class="skinconditiondiv anvirateguler">

                <a ng-repeat="knowledge in deepenKnowledgeItems | slice:deepenKnowledgeFrom:deepenKnowledgeTo" href="#/{{knowledge['id']}}">{{knowledge['displayName']}}</a>
            </div>
            <div class="articlepaginate avenirnext_bold bordernonepage">
                <ul>
                    <li><a href="" ng-show="deepenKnowledgeCurrentPage > 1" ng-click="changeKnowledgePage('prev')">&#60;</a></li>

                    <li ng-show="deepenKnowledgePages.length > 1" ng-class="{paginateselect:deepenKnowledgeCurrentPage==page}" ng-repeat="page in deepenKnowledgePages | limitTo:10"><a ng-click="changeKnowledgePage(page)" href="">{{page}}</a></li>
                    <li><a href="" ng-show="deepenKnowledgeCurrentPage < deepenKnowledgePages.length" ng-click="changeKnowledgePage('next')">&#62;</a></li>
                </ul>
            </div>
        </div>
        <div class="colequalright contentrightbox floatleft healthpage floatleftxs">
            <div class="textstylebox anvirateguler">SKIN SYMPTOM EDUCATOR</div>
            <div class="homeboxcontentarealeft">
                <h2 class="railwayboldfont">Experiencing Skin Problems?</h2>
                <ul class="railwayreguler">
                    <li>1. Select your skin symptoms</li>
                    <li>2. See possible causes</li>
                </ul>
                <p class="railwayreguler">Discover articles, tips and resources related to your skin symptoms</p>
                <a class="tabcaruncelhomelearnmore railwayboldfont" href="#/educator-symptoms-disclaimer">GET STARTED</a>
            </div>
            </br>
            </br>
            </br>
            <div class="homeboxcontentarearight">
                <img src="images/homeboxleftimage.jpg" alt="Try Our Skin Symptom Educator">
            </div>
            <div class="clearfix"></div>
            <br/>
            <div class="textstylebox anvirateguler extramarginbottompanel">FEATURED GUESTS</div>


            <div class="subArticle">
                <article ng-repeat="guest in featuredGuests | limitTo:3">
                    <div class="image">
                        <a href="#/{{guest.articleId}}"><img alt="" ng-src="{{guest.imageURL}}"></a>
                    </div>
                    <div class="discription">
                        <a class="titlelink" href="#/{{guest.articleId}}"><span class="anvirategulerdemi">{{guest.title}}</span></a>
                        <p class="fgdes">{{guest.introduction | htmlToPlaintext | slice:0:200}}...
                            <a class="anvirategulerdemi beautymore" href="#/{{guest.articleId}}">MORE</a>
                        </p>
                    </div>
                </article>
                <a href="#/featured-guests" class="viewalallfethurdbtn anvirategulerdemi">VIEW ALL FEATURED GUESTS</a>
            </div>




        </div>
    </div>
    <div class="clearfix"></div>
    <div class="logoalighclass">
        <div class="homebottomboxwrapinner railwaysemibold">
            <div class="col-md-3 col-xs-6 paddingnoneboth homebottomboxriteborder paddinrightmob">
                <div class="imageboxposition">
                    <a href="#/2bc8c364-f9d2-4093-b424-eb8f4b416928">
                        <img class="original" alt="Western Medicine" src="images/homebottomboxbg01.png">
                        <img class="hoverimage" alt="Western Medicine" src="images/homebottomboxbg01hover.png">

                    </a>
                </div>
                <h3>Western Medicine</h3>
                <a class="tabcaruncelhomelearnmore railwayboldfont" href="#/2bc8c364-f9d2-4093-b424-eb8f4b416928">LEARN MORE</a>
            </div>
            <div class="col-md-3 col-xs-6 paddingnoneboth homebottomboxriteborder">
                <div class="imageboxposition">
                    <a href="#/c66a2fb8-b398-49da-bb3f-4737203319c3">
                        <img class="original" alt="Ayurvedic Medicine" src="images/homebottomboxbg02.png">
                        <img class="hoverimage" alt="Ayurvedic Medicine" src="images/homebottomboxbg02hover.png">
                    </a>
                </div>
                <h3>Ayurvedic Medicine</h3>
                <a class="tabcaruncelhomelearnmore railwayboldfont" href="#/c66a2fb8-b398-49da-bb3f-4737203319c3">LEARN MORE</a>
            </div>
            <div class="col-md-3 col-xs-6 paddingnoneboth homebottomboxriteborder paddinrightmob">
                <div class="imageboxposition">
                    <a href="#/bafbf956-9f7a-47c1-81af-e27bf3ca4883">
                        <img class="original" alt="Traditional Chinese Medicine" src="images/homebottomboxbg03.png">
                        <img class="hoverimage" alt="Traditional Chinese Medicine" src="images/homebottomboxbg03hover.png">
                    </a>
                </div>
                <h3><span class="hidden-xs hidden-sm">Traditional<br></span> Chinese Medicine</h3>
                <a class="tabcaruncelhomelearnmore railwayboldfont" href="#/bafbf956-9f7a-47c1-81af-e27bf3ca4883">LEARN MORE</a>
            </div>
            <div class="col-md-3 col-xs-6 paddingnoneboth">
                <div class="imageboxposition">
                    <a href="#/4904bea0-678d-4db3-81d0-3db11dd308f3">
                        <img class="original" alt="Naturopathic Medicine" src="images/homebottomboxbg04.png">
                        <img class="hoverimage" alt="Naturopathic Medicine" src="images/homebottomboxbg04hover.png">
                    </a>
                </div>
                <h3>Naturopathic Medicine</h3>
                <a class="tabcaruncelhomelearnmore railwayboldfont" href="#/4904bea0-678d-4db3-81d0-3db11dd308f3">LEARN MORE</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


    <div class="clearfix"></div>
