<div class="sitefullwrap">

    <div class="mainbannrdiv">


        <ul class="bxslider">
            <li><img alt="Go Beyond Skin Deep" src="images/homebanner02.jpg" /></li>
            <!-- <li><img alt="Go Beyond Skin Deep" src="images/homebanner02.jpg" /></li> -->

        </ul>


        <div class="mainbannrdivtitle">
            <h1 class="railwaylightfontfamily">The Skin Education Resource</h1></div>
        <div class="mainsitesearchdiv" ng-controller="SearchBarController">
            <form class="form-inline mainsearchform" method="post" name="middleForm">
                <input id="searchText" ng-model="form.searchItemInner" name="headerBannerSearch" type="text" class="searchcontentkey railwayreguler inputfontstyle" placeholder="Search our Library of Skin Health, Beauty, and Wellness Content">

                <!--            <select id="queryList" class="searchcontenttopic railwayreguler inputfontstyle">
              <option value="none" disabled selected>Choose a Topic</option>
              <option value="health">Health</option>
              <option value="beauty">Beauty</option>
              <option value="Featured Guests">Featured Guests</option>
              <option value="Emerging Research and Trends">Emerging Research and Trends</option>
              <option value="wellness">Our Story</option>
            </select>-->

                <button ng-click="submitSearchBtn();" type="submit" class="btn searchcontenttopicbtn railwaysemibold ">Search</button>

            </form>
        </div>
    </div>
</div>


<div class="sitefullwrap">
    <div class="hometopboxarea">
        <a href="#/educator-symptoms-disclaimer">
            <div class="col-md-6 col-sm-6 homeboxpaddingleft hidden-xs floatleftxs">
                <div class="homeboxlefttopbox railwayreguler">Experiencing Skin Problems?</div>
            </div>
        </a>
        <a href="#/skin-type-profiler">
            <div class="col-md-6 col-sm-6 homeboxpaddingright hidden-xs floatleftxs">
                <div class="homeboxlefttopbox homeboxlefttopboxborderleft railwayreguler">Curious About Your Skin Type?</div>
            </div>
        </a>

        <div class="clearfix"></div>

        <div class="flexcontentdiv">

            <div class="col-md-6 col-sm-6 homeboxleft homeboxpaddingleft">
                <a href="#/educator-symptoms-disclaimer">
                    <div class="homeboxcontentarea">
                        <div class="homeboxlefttopbox railwayreguler hidden-sm hidden-lg">Experiencing Skin Problems?</div>
                        <div class="homeboxdinamicdiv">

                            <div class="homeboxcontentarealeft">
                                <h2 class="railwayboldfont">Try Our Skin Symptom Educator</h2>
                                <ul class="railwayreguler">
                                    <li>1. Select your skin symptoms</li>
                                    <li>2. See possible causes</li>
                                </ul>
                                <p class="railwayreguler">Discover articles, tips and resources related to your skin symptoms.</p>
                            </div>

                            <div class="homeboxcontentarearight">
                                <img alt="Try Our Skin Symptom Educator" src="images/homeboxleftimage.jpg">
                            </div>

                            <div class="clearfix"></div>
                        </div>
                </a>

                <a href="#/educator-symptoms-disclaimer" class="homeboxmorebtn railwayboldfont">Find Out What’s Bothering You</a>
                </div>
            </div>

            <a href="#/skin-type-profiler">
                <div class="col-md-6 col-sm-6 homeboxleft homeboxpaddingright homeboxlefttopboxborderleftgray">
                    <div class="homeboxlefttopbox homeboxlefttopboxborderleft railwayreguler hidden-sm hidden-lg">Curious About Your Skin Type?</div>
                    <div class="homeboxdinamicdiv">
                        <div class="homeboxcontentarea">

                            <div class="homeboxcontentarealeft">
                                <h2 class="railwayboldfont">Try Our Skin Type Profiler</h2>
                                <ul class="railwayreguler">
                                    <li>1. Answer 3 questions</li>
                                    <li>2. Upload your photo</li>
                                </ul>
                                <p class="railwayreguler">Learn about your skin composition and customize our content to your needs.</p>
                            </div>

                            <div class="homeboxcontentarearight">
                                <ul class="bxslider">
                                    <li><img alt="Try Our Skin Symptom Educator" src="images/homeboxrighttimage.jpg"></li>
                                    <li><img alt="Try Our Skin Symptom Educator" src="images/homeboxrighttimage1.jpg"></li>
                                </ul>
                            </div>

                            <div class="clearfix"></div>

            </a>
            <a href="#/skin-type-profiler" class="homeboxmorebtnright railwayboldfont">Analyze Your Skin Type</a>
            </div>
            </div>
            </div>
        </div>

        <div class="clearfix"></div>

    </div>

    <div class="homescrollermenu">
        <a href="#homeaccodianwrapscroll" class="homemoddlescroller"></a>
    </div>

    <div id="homeaccodianwrapscroll" class="homeaccodianwrap">
        <div class="homeaccodianwrapdivtext">
            <h2 class="railwayreguler">A New Holistic Approach to Skin Care</h2>
            <p class="railwayreguler">Whether you are looking for a quick tip or deep dive, our one stop skin shop has it all. Our interdisciplinary team bridges Western and Eastern medicine and cosmetics to combine ancient traditions with modern research. Rather than a one size
                fits all approach, our unique approach allows you to make the best choices for your skin and overall wellness.</p>
            <div class="dottetedborder">
                <h3 class="railwayreguler railwaysemibold contenth3class">Start browsing our in-depth articles below</h3>
            </div>

            <div class="clearfix"></div>

            <div class="hometabwrap">

                <ul class="nav nav-pills homesitetabcontentsec railwayreguler">
                    <li class="active leftbordernone">
                        <li class="active leftbordernone">
                            <a href="javascript:void(0)" data-tabtrigger="featured" data-toggle="tab" ng-click="loadArticlesToSlider('featured')">FEATURED GUESTS</a>
                        </li>
                        <li>

                            <a href="javascript:void(0)" data-tabtrigger="news" data-toggle="tab" ng-click="loadArticlesToSlider('erat')">EMERGING RESEARCH</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-tabtrigger="education" data-toggle="tab" ng-click="loadArticlesToSlider('health')">HEALTH</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-tabtrigger="beauty" data-toggle="tab" ng-click="loadArticlesToSlider('beauty')">BEAUTY</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-tabtrigger="cata-z" class="lasttabset" data-toggle="tab" ng-click="loadArticlesToSlider('wellness')">WELLNESS</a>
                        </li>
                    </li>
                </ul>

                <div class="tab-pane active" id="1a">
                    <div class="tabcaruncelhome"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="homescrollermenu">
        <a href="#homebottomboxwrapid" class="homemoddlescroller"></a>
    </div>

    <div id="homebottomboxwrapid" class="homebottomboxwrap">
        <div class="homeaccodianwrapdivtext homebottomboxwrapdiv">
            <h2 class="railwayreguler">Integrated Expertise Shared by Skin Specialists</h2>
            <p class="railwayreguler">We aim to provide the most extensive library of original skin health content written by respected dermatologists and alternative medicine practitioners with training from around the world. We are committed to scientifically proven and results
                oriented skin care tips and practices which you can tailor to your personal health needs and preferences.</p>

            <div class="homebottomboxwrapinner railwaysemibold">
                <div class="col-md-3 col-xs-6 paddingnoneboth homebottomboxriteborder paddinrightmob">

                    <div class="imageboxposition">
                        <a href="#/2bc8c364-f9d2-4093-b424-eb8f4b416928">
                            <img class="original" alt="Western Medicine" src="images/homebottomboxbg01.png">
                            <img class="hoverimage" alt="Western Medicine" src="images/homebottomboxbg01hovercol.png">
                        </a>
                    </div>

                    <h3>Western Medicine</h3>

                    <a class="tabcaruncelhomelearnmore railwayboldfont" href="#/2bc8c364-f9d2-4093-b424-eb8f4b416928" >LEARN MORE</a>
                </div>

                <div class="col-md-3 col-xs-6 paddingnoneboth homebottomboxriteborder paddinleftmob">

                    <div class="imageboxposition">
                        <a href="#/c66a2fb8-b398-49da-bb3f-4737203319c3">
                            <img class="original" alt="Ayurvedic Medicine" src="images/homebottomboxbg02.png">
                            <img class="hoverimage" alt="Ayurvedic Medicine" src="images/homebottomboxbg02hovercol.png">
                        </a>
                    </div>

                    <h3>Ayurvedic Medicine</h3>

                    <a class="tabcaruncelhomelearnmore railwayboldfont" href="#/c66a2fb8-b398-49da-bb3f-4737203319c3">LEARN MORE</a>
                </div>

                <div class="col-md-3 col-xs-6 paddingnoneboth homebottomboxriteborder paddinrightmob">

                    <div class="imageboxposition">
                        <a href="#/bafbf956-9f7a-47c1-81af-e27bf3ca4883">
                            <img class="original" alt="Traditional Chinese Medicine" src="images/homebottomboxbg03.png">
                            <img class="hoverimage" alt="Traditional Chinese Medicine" src="images/homebottomboxbg03hovercol.png">
                        </a>
                    </div>

                    <h3><span class="hidden-xs hidden-sm">Traditional<br/></span> Chinese Medicine</h3>

                    <a class="tabcaruncelhomelearnmore railwayboldfont" href="#/bafbf956-9f7a-47c1-81af-e27bf3ca4883">LEARN MORE</a>
                </div>

                <div class="col-md-3 col-xs-6 paddingnoneboth paddinleftmob">

                    <div class="imageboxposition">
                        <a href="#/4904bea0-678d-4db3-81d0-3db11dd308f3">
                            <img class="original" alt="Naturopathic Medicine" src="images/homebottomboxbg04.png">
                            <img class="hoverimage" alt="Naturopathic Medicine" src="images/homebottomboxbg04hovercol.png">
                        </a>
                    </div>

                    <h3>Naturopathic Medicine</h3>

                    <a class="tabcaruncelhomelearnmore railwayboldfont" href="#/4904bea0-678d-4db3-81d0-3db11dd308f3">LEARN MORE</a>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

    <div class="homemoddlelow"></div>

    <div class="homebottomsignupwrap railwayreguler">
        <p>Sign up for your free Dermveda account today and get access to all of our skin tools and educational resources.</p>
        <a class="homebottomsignubtn railwayboldfont" href="#/signup"><span>SIGN UP</span></a>
    </div>

    <div class="homemoddlelow"></div>

</div>

<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-75233028-1', 'auto');
    ga('send', 'pageview');
</script>
