<div class="sitebannersection">
  <div class="col-md-8 paddingleftnone">
          <h1 class="bannertitle content-push railwayextralightfontfamily">{{title}}</h1>
          <p class="bannercontent content-push-para railwaylightfontfamily">
          </p>
  </div>
   <div class="clearfix"></div>
</div>

<div class="sitemiddlecontent sitecontainer" >
  <div class="sitecontentsec">
    <div class="paddingtopbottom sitecontentsec sitecontentleftpad">
      <p ng-bind-html="content"> </p>
    <div class="clearfix"></div>

</div>
</div>

