<div class="signuppagebg">
    <div class="sitemiddlelow signupdiv" ng-show="dataLoaded">
        <h1 class="railwayextralightfontfamily profiletitle">Your Profile</h1>


        <div class="userprofiletabs">
            <ul class="nav nav-tabs proximalightfontfamily" id="profiletab">
                <li class="active" id="account-settings-tab"><a href="javascript:void(0)" data-tab="home" data-toggle="tab">ACCOUNT SETTINGS</a></li>
                <li class="borderclasstab" id="skin-symptoms-tab" ng-show="profile.skinConditionsTab"><a id="symptomsToggle" href="javascript:void(0)" data-tab="symptoms" data-toggle="tab">SKIN SYMPTOMS</a></li>
                <li class="borderclasstab" id="skin-types-tab" data-ng-init="hideImageProcessing=false" ng-show="profile.skinIssuesTab"><a id="stpToggle" href="javascript:void(0)" data-tab="profile" data-toggle="tab">SKIN TYPE</a></li>
                <li class="borderclasstab" ng-show="favorites.length > 0"><a href="javascript:void(0)" data-tab="messages" data-toggle="tab">FAVORITES</a></li>

            </ul>

            <div id='content' class="tab-content profiletabcontent">
                <div class="tab-pane fade in active" id="home">

                    <h2 class="railwayreguler">Change your account settings<br /> & preferences below</h2>
                    <div ng-show="status===200" class="alert alert-success alert-dismissible" role="alert">
                        Profile saved successfully.
                    </div>
                    <div ng-show="status && status!==200" class="alert alert-warning alert-dismissible" role="alert">
                        Profile saving failed. Please try again.
                    </div>
                    <div class="sitemiddlelow signupforminner">
                        <form name="forfile">
                        <input class="form-control proximalightfontfamily" name="firstName" required type="text" ng-model="profile.firstname">
                        <label class="profileinpusdis proximalightfontfamily">FIRST NAME</label>
                        <input class="form-control proximalightfontfamily" name="lastName" required type="text" ng-model="profile.lastname">
                        <label class="profileinpusdis proximalightfontfamily">LAST NAME</label>
                        <input class="form-control proximalightfontfamily" name="email" required type="email" ng-model="profile.email" readonly="readonly">
                        <label class="profileinpusdis proximalightfontfamily">EMAIL</label>

                        <div class="signupleft">
                            <select class="proximalightfontfamily" name="gender" required ng-model="profile.gender">
                                <option selected="" disabled="" value="">GENDER</option>
                                <option ng-value="male">MALE</option>
                                <option ng-value="female">FEMALE</option>
                            </select>
                            <label class="profileinpusdis proximalightfontfamily">GENDER</label>
                        </div>
                        <div class="signupright">
                            <select class="proximalightfontfamily" name="yob" ng-model="profile.yob">
                                <option ng-repeat="n in years | orderBy:'-toString()'" value="{{n}}">{{n}}</option>
                            </select>
                            <label class="profileinpusdis proximalightfontfamily">YEAR OF BIRTH</label>
                        </div>
                        <div class="clearfix"></div>
                        <h3 class="profileh3">AREAS OF INTEREST</h3>
                        <div class="checkboxstyleswrap">
                            <div class="checkboxstyles checkboxdivsleft">
                                <input checked="" id="check1" type="checkbox" ng-model="profile.interests.check1" name="check" value="check1">
                                <label class="proximalightfontfamily inputchecked" for="check1">Acne</label>
                                <div></div>
                                <input id="check2" type="checkbox" name="check" ng-model="profile.interests.check2" value="check2">
                                <label class="proximalightfontfamily" for="check2">Anti-Aging</label>
                                <div></div>
                                <input id="check3" type="checkbox" name="check" ng-model="profile.interests.check3" value="check3">
                                <label class="proximalightfontfamily" for="check3">Antioxidants</label>
                                <div></div>
                                <input checked="" id="check4" type="checkbox" ng-model="profile.interests.check4" name="check" value="check4">
                                <label class="proximalightfontfamily" for="check4">Eczema</label>
                                <div></div>
                                <input id="check5" type="checkbox" name="check" ng-model="profile.interests.check5" value="check5">
                                <label class="proximalightfontfamily" for="check5">Hair</label>
                                <div></div>
                                <input id="check6" type="checkbox" name="check" ng-model="profile.interests.check6" value="check6">
                                <label class="proximalightfontfamily" for="check6">Natural</label>
                                <div></div>
                                <input id="check7" type="checkbox" name="check" ng-model="profile.interests.check7" value="check7">
                                <label class="proximalightfontfamily" for="check7">Psoriasis</label>
                            </div>
                            <div class="checkboxstyles checkboxdivsright">
                                <input id="check8" type="checkbox" name="check" ng-model="profile.interests.check8" value="check8">
                                <label class="proximalightfontfamily" for="check8">Skin Cancer</label>
                                <div></div>
                                <input id="check9" type="checkbox" name="check" ng-model="profile.interests.check9" value="check9">
                                <label class="proximalightfontfamily" for="check9">Sun Protection</label>
                                <div></div>
                                <input checked="" id="check10" type="checkbox" name="check" ng-model="profile.interests.check10" value="check10">
                                <label class="proximalightfontfamily" for="check10">Ayurvedic Medicine</label>
                                <div></div>
                                <input id="check11" type="checkbox" name="check" ng-model="profile.interests.check11" value="check11">
                                <label class="proximalightfontfamily" for="check11">Traditional Chinese Medicine</label>
                                <div></div>
                                <input id="check12" type="checkbox" name="check" ng-model="profile.interests.check12" value="check12">
                                <label class="proximalightfontfamily" for="check12">Naturopathic Medicine</label>
                                <div></div>
                                <input id="check13" type="checkbox" name="check" ng-model="profile.interests.check13" value="check13">
                                <label class="proximalightfontfamily" for="check13">Conventional (Western) Medicine</label>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <button ng-click="update();" class="btn signupbtn railwayboldfont" type="button">SAVE CHANGES</button>
                        </form>
                    </div>

                </div>
                <div class="tab-pane fade skintabcontent" id="profile">
                        <div class="skintabcontent skinresulttabcont">
                            <div class="skintabwrap">
                                <div class="skintabdivleft">
                                    <h4 class="anvirateguler">Type: <span>{{profile.skinIssueObj.skin_rank}}</span></h4>
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#accmodal01">
                                      <img id="skinimgres" alt="dermveda" src="{{profile.skinIssueObj.imageURL}}" data-ng-class="skin-img-res" width="50" height="50" style="border-radius: 50%"></a>
                                    <a class="skinimagepopup" href="javascript:void(0)" data-toggle="modal" data-target="#accmodal01"><i class="fa fa-search-plus"></i></a>
                                    <div id="accmodal01" class="modal fade" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <button type="button" class="close popupclose" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close Modal</span></button>
                                                    <img alt="" class="img-responsive" src="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="skintabdivright skinmeterrightdiv text-center">
                                    <div class="skinrankmeter" style="margin-left:330px"></div>
                                    <img id="skinimgresbig" class="skinmeterimg" alt="SKIN INDEX" src="images/skin_scale/skin-index_{{profile.skinIssueObj.skin_rank}}.jpg">
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="skintabwrapsec">
                                <div class="skintabsecleft">
                                    <h4 class="anvirateguler">My Skin is:</h4>
                                    <div class="checkboxstyles radio">
                                        <div ng-repeat="answer in profile.answers">
                                            <input id="{{'check-'+$index}}" type="radio" name="{{'check-'+$index}}" value="{{'check-'+$index}}">
                                            <label class="anvirateguler" for="{{'check-'+$index}}">{{answer}}</label>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="skintabsecright">
                                    <div class="medicinetypetabs">
                                        <ul class="nav nav-tabs medicinetypetabsul">
                                            <li class="active">
                                                <a href="javascript:void(0)" data-toggleTab="myprofile" data-toggle="tab">

                                                    <img id="profileimghover" class="tabshoverimg" alt="my profile" src="{{profile.skinIssueObj.imageURL}}" style="display: block;">


                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" data-toggleTab="westernmedicine" data-toggle="tab">
                                                    <img class="tabshoverimg" alt="western medicine" src="images/tabimage02.jpg" style="display: none;">
                                                    <img ng-init="imgsrc = ''" ng-mouseenter="imgsrc='images/tabimage02.jpg'" ng-mouseleave="imgsrc='images/tabimage02hov.jpg'" class="tabsoriginalimg" alt="western medicine" src="images/tabimage02hov.jpg" ng-src = "{{imgsrc}}">


                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" data-toggleTab="ayurvedicmedicine" data-toggle="tab">
                                                    <img class="tabshoverimg" alt="ayurvedic medicine" src="images/tabimage03.jpg" style="display: none;">
                                                    <img ng-init="imgsrc2 = ''" ng-mouseenter="imgsrc2='images/tabimage03.jpg'" ng-mouseleave="imgsrc2='images/tabimage03hov.jpg'" ng-src = "{{imgsrc2}}" class="tabsoriginalimg" alt="ayurvedic medicine" src="images/tabimage03hov.jpg">

                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" data-toggleTab="traditionalchinesemedicine" data-toggle="tab">
                                                    <img class="tabshoverimg" alt="traditional chinese medicine" src="images/tabimage04.jpg" style="display: none;">
                                                    <img ng-init="imgsrc3 = ''" ng-mouseenter="imgsrc3='images/tabimage04.jpg'" ng-mouseleave="imgsrc3='images/tabimage04hov.jpg'" ng-src = "{{imgsrc3}}" class="tabsoriginalimg" alt="traditional chinese medicine" src="images/tabimage04hov.jpg">

                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" data-toggleTab="naturopathicmedicine" data-toggle="tab">
                                                    <img class="tabshoverimg" alt="naturopathic medicine" src="images/tabimage05.jpg" style="display: none;">
                                                    <img ng-init="imgsrc4 = ''" ng-mouseenter="imgsrc4='images/tabimage05.jpg'" ng-mouseleave="imgsrc4='images/tabimage05hov.jpg'" ng-src = "{{imgsrc4}}" class="tabsoriginalimg" alt="naturopathic medicine" src="images/tabimage05hov.jpg">

                                                </a>
                                            </li>
                                        </ul>

                                        <div id='tabContentEdit' class="tab-content">
                                            <div class="medicinetypetabcontent anvirateguler tab-pane fade in active testClass" id="myprofile">
                                                <h4>My Analysis:</h4>
                                                <p>{{profile.skinIssueObj.my_med}}</p>
                                            </div>
                                            <div class="medicinetypetabcontent anvirateguler tab-pane fade in " id="westernmedicine">
                                                <h4>Western Medicine:</h4>
                                                <p>{{profile.skinIssueObj.western_med}}</p>
                                            </div>
                                            <div class="medicinetypetabcontent anvirateguler tab-pane fade in " id="ayurvedicmedicine">
                                                <h4>Ayurvedic Medicine:</h4>
                                                <p>{{profile.skinIssueObj.aryurvedic_med}}</p>
                                            </div>
                                            <div class="medicinetypetabcontent anvirateguler tab-pane fade in " id="traditionalchinesemedicine">
                                                <h4>Traditional Chinese Medicine:</h4>
                                                <p>{{profile.skinIssueObj.trad_chinese_med}}</p>
                                            </div>
                                            <div class="medicinetypetabcontent anvirateguler tab-pane fade in    " id="naturopathicmedicine">
                                                <h4>Naturopathic Medicine:</h4>
                                                <p>{{profile.skinIssueObj.naturopathic_med}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                            </div>

                    <span class="skintypeinfo anvirateguler">Need to change your Skin Type Profile. Click below to Re-analyze.</span>
                    <div class="skinpaddingconrt">
                        <a href="#/skin-type-profiler"><button class="btn signupbtn railwayboldfont" type="button">RE-ANALYZE</button></a>
                    </div>

            <div class="clearfix"></div>
        </div>
                </div>
                <div class="tab-pane fade skintabcontent" id="symptoms">
                    <div class="sitemiddlelow">
                        <div class="educaterresultwrap">
                            <div class="educaterresulttpdiv railwaysemibold">
                                <div class="educaterresulttpdivleft floatleft floatleftxs paddingnoneboth educationresultleft">

                                    <h3>YOUR SYMPTOMS</h3>
                                    <div class="educatericonselect">
                                        <ul>
                                            <li ng-repeat="answer in profile.answers_1">{{answer}}</li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="educaterresulttpdivlmiddle floatleft floatleftxs paddingnoneboth resultborder">
                                    <h3>ANATOMICAL SITES</h3>
                                    <div class="educatericonselect">
                                        <ul>
                                            <li ng-repeat="answer in profile.answers_2">{{answer}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="educaterresulttpdivright floatleft floatleftxs paddingnoneboth">
                                    <h3>SYMPTOM PATTERN</h3>
                                    <div class="educatericonselect">
                                        <ul>
                                            <li ng-repeat="answer in profile.answers_3">{{answer}}</li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                                       <div class="skinsymtomdistext anvirateguler col-md-12"><p>
                                    Not sure about what you see or is what you are looking for not showing up?  Try going back and selecting more symptoms. It's also not uncommon to have something that looks different or is a variation of what is shown here. These samples are only examples of common skin conditions. There are also less common skin conditions that may not necessarily be represented here.
                                </p></div>
                                <div class="col-md-12 skinsymtomresdis anvirategulerdemi">
                                    Click on the result below to learn more about these conditions.
                                </div>
                            <div class="proximalightfontfamily" ng-repeat="conditionsArr in profile.skinConditionList">
                                <div class="educaterresultbox floatleft floatleftxs educaterresultboxmargin" ng-repeat="condition in conditionsArr">
                                      <a href="{{condition.articleURL}}" data-ng-if="condition.articleURL.length>0">
                                        <div class="divbg" style="{{ 'background: url(/web'+condition.imageURL +') no-repeat;background-size: contain;'}}"></div>
                                        </a>
                                      <div data-ng-if="condition.articleURL.length==null || condition.articleURL== ''" class="divbg" style="{{ 'background: url(/web'+condition.imageURL +') no-repeat;background-size: contain;'}}"></div>
                                    <div class="textmobpad educationrstxt">
                                    <a data-ng-if="condition.articleURL.length>0" href="{{condition.articleURL}}">{{condition.conditionName}}</a>
                                    <span data-ng-if="condition.articleURL.length==null || condition.articleURL== ''">{{condition.conditionName}}</span>
                                  </div>
                                </div>
                                <div class="clearfix"></div>

                            </div>
                            <div class="eductionviewmore anvirategulerdemi" ng-click="loadMore()" ng-show="profile.skinConditionListRemain.length"><a href="">(view more results)</a></div>
                            <div class="skintabwrapsec sitefullscreendivwrap"></div>
                            <div class="clearfix"></div>


                            <span class="skintypeinfo anvirateguler">Need to check your symptoms again? Click below to Re-analyze.</span>
                            <div class="skinpaddingconrt commentsecend">
                                <a href="#/educator-symptoms"><button class="btn signupbtn railwayboldfont" type="button">RE-ANALYZE</button></a>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>


                </div>
                <div class="tab-pane fade favoritessection" id="messages">

                    <h2 ng-show="favorites.length > 0" class="railwayreguler">Manage Your Favorites</h2>
                    <div class="favoritessectionwrap anvirateguler">
                        <div class="favoritesbookmarkdiv" ng-repeat="article in favorites">
                            <div class="favoritesbookmarkdivleft">
                                <a target="_blank" ng-href="#/{{article.articleId}}">{{article.title}}</a>

                            </div>
                            <div class="favoritesbookmarkdivright">
                                <a class="bookmarkremove" ng-click="removeFavorite(article.articleId)" href="javascript:void(0);"></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
