<div class="educaterbg" ng-controller="LoginController">
    <div class="sitemiddlelow educaterdiv">
        <h1 class="railwaythinfamily educatertitle">Skin Type Profiler</h1>
        <h2 class="proximalightfontfamily educatesubtitle">LOG IN OR SIGN UP TO SAVE YOUR RESULTS</h2>

        <div class="educaterlogindiv">
            <div class="col-md-6 col-sm-6 paddingnoneboth educaterlogindivleft floatleftxs">

                <form name="loginForm" ng-hide="forgetPassword">
                  <h3 class="railwayreguler">Already a Member?</h3>
                  <p class="anvirateguler">Great! Simply sign in below to
                      <br/> save your Skin Symptom results
                      <br/> into your account profile.</p>
                      <div class="alert alert-danger validationerrorbox railwayreguler" id="loginError" ng-bind-html="loginFormMsg" ng-hide="!loginFormMsg"></div>
                  <div id="loginformdivbottom" class="loginforminner">
                      <input class="form-control proximalightfontfamily" ng-model="username" name="username" required type="text" placeholder="YOUR EMAIL ADDRESS">
                      <input class="form-control proximalightfontfamily" ng-model="password" name="password" required type="password" placeholder="YOUR PASSWORD" ng-keyup="$event.keyCode == 13 && clickSignIn()">
                      <button class="btn loginbtn railwayboldfont" type="button" ng-click="clickSignIn()">GO</button>
                      
                      <span>or ...</span>
                      <a class="fbLogin" href="" ng-click="loginWithFacebook()"><img alt="Login with facebook" src="images/fblarge.png"></a>
                      <a id="forgetpasslinkbottom" class="avenirnext_italic forgetpass" href="javascript:void(0)" ng-click="forgetPassword = !forgetPassword">(Trouble logging in? Click here.)</a>
                  </div>
                </form>
                <form name="resetForm" ng-hide="!forgetPassword">
                  <div id="forgetpassdivbottom" class="forgetpassinner">
                      <h3 class="railwayreguler">Forgot password?</h3>
                      <p class="anvirateguler">Enter your email below & you will be sent a link to reset it</p>
                      <input id="forget_email" ng-model="resetEmail" required name="reset_email" class="form-control proximalightfontfamily" type="email" placeholder="YOUR EMAIL ADDRESS">
                      <button ng-show="resetForm.forget_email.$valid && resetEmail != ''" class="btn loginbtn railwayboldfont" type="button" ng-click="resetPassword()">SEND LINK</button>
                      <p id="resetError" class="resetError anvirateguler" ng-bind-html="resetMsg"></p>
                      <a id="loginformlinkbottom" class="avenirnext_italic forgetpass" href="javascript:void(0)" ng-click="forgetPassword = !forgetPassword">(Go back to login screen...)</a>
                  </div>
              </form>


            </div>
            <div class="col-md-6 col-sm-6 paddingnoneboth educaterlogindivright floatleftxs">
                <h3 class="railwayreguler">Not a Member yet?</h3>
                <p class="anvirateguler">
                    <span class="anvirategulerdemiitlic">Don’t Miss Out!</span>
                    <br/> Signup only takes 1 minute and
                    <br/> gives you access to all these
                    <br/> great features & more, available
                    <br/>
                    <span class="anvirategulerdemi">for Members Only:</span>
                </p>
                <ul class="anvirategulerdemiitlic">
                    <li>Join a community of like-minded people interested in integrated health</li>
                    <li>Personalize the content you view based on your skin type</li>
                    <li>Receive custom tips and recommended reading</li>
                    <li>Learn first about new research, products and events</li>
                    <li>Contribute to development of future content and product reviews</li>

                </ul>

                <a class="memberclick railwayboldfont" href="#/signup" ng-click="">BECOME A MEMBER</a>
            </div>
            <div class="clearfix"></div>

        </div>



        <div class="clearfix"></div>


    </div>
</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-75233028-1', 'auto');
    ga('send', 'pageview');

</script>
