<link href="css/sweetalert.css" rel="stylesheet">
<script src="js/sweet-alert.min.js"></script>

<div class="signuppagebg">
    <div class="sitemiddlelow signupdiv">
        <h1 class="railwayextralightfontfamily">Sign Up</h1>
        <h2 class="railwayreguler">Sign up for your free Dermveda account today
and get access to all of our skin tools<br/>
and educational resources.
</h2>
        <div class="sitemiddlelow signupforminner">
            <div class="alert alert-warning alert-dismissible" role="alert" ng-show="infoMsg">
                <div ng-bind="errorMsg" class="validationerrorbox railwayreguler"></div>
            </div>
            <form method="post" ng-submit="userRegistration(regData)" name="signUpForm" novalidate>
                <input class="form-control proximalightfontfamily" type="text" placeholder="*FIRST NAME" name="firstName" ng-model="regData.firstName" ng-class="{'error':(submitted && signUpForm.firstName.$invalid)}" required>
                <input class="form-control proximalightfontfamily" type="text" placeholder="*LAST NAME" name="lastName" ng-model="regData.lastName" ng-class="{'error':(submitted && signUpForm.lastName.$invalid)}" required>
                <input class="form-control proximalightfontfamily" type="email" placeholder="*EMAIL ADDRESS" name="email" ng-model="regData.email" ng-class="{'error':(submitted && signUpForm.email.$invalid && signUpForm.email.$error.email)}" required>
                <input class="form-control proximalightfontfamily" type="email" placeholder="*CONFIRM EMAIL ADDRESS" name="confirmEmail" ng-model="regData.confirmEmail" ng-class="{'error':(submitted && signUpForm.confirmEmail.$invalid)}" required>
                <input class="form-control proximalightfontfamily paddingcontrol" name="password" type="password" placeholder="*CHOOSE A PASSWORD" ng-model="regData.password" ng-class="{'error':(submitted && signUpForm.password.$invalid)}" required>
                <div class="dashedborderspace"></div>
                <span class="signupoptinal railwayreguler">(Optional Fields)</span>
                <div class="signupleft">
                    <select class="proximalightfontfamily" ng-model="regData.gender">
                        <option selected="" disabled="" value="">GENDER</option>
                        <option ng-value="male">MALE</option>
                        <option ng-value="female">FEMALE</option>
                    </select>
                </div>
                <div class="signupright">
                    <select class="proximalightfontfamily" ng-model="regData.yob" ng-options="label for label in years | orderBy:'-toString()'">
                        <option selected="" disabled="" value="">YEAR OF BIRTH</option>

                    </select>

                </div>
                <div class="clearfix"></div>
                <h3>AREAS OF INTEREST</h3>
                <div class="checkboxstyleswrap">
                    <div class="checkboxstyles checkboxdivsleft">
                        <input id="check1" type="checkbox" name="check1" ng-model="regData.interests.check1" value="check1">
                        <label class="proximalightfontfamily" for="check1">Acne</label>
                        <div></div>
                        <input id="check2" type="checkbox" name="check2" ng-model="regData.interests.check2" value="check2">
                        <label class="proximalightfontfamily" for="check2">Anti-Aging</label>
                        <div></div>
                        <input id="check3" type="checkbox" name="check3" ng-model="regData.interests.check3" value="check3">
                        <label class="proximalightfontfamily" for="check3">Antioxidants</label>
                        <div></div>
                        <input id="check4" type="checkbox" name="check4" ng-model="regData.interests.check4" value="check4">
                        <label class="proximalightfontfamily" for="check4">Eczema</label>
                        <div></div>
                        <input id="check5" type="checkbox" name="check5" ng-model="regData.interests.check5" value="check5">
                        <label class="proximalightfontfamily" for="check5">Hair</label>
                        <div></div>
                        <input id="check6" type="checkbox" name="check6" ng-model="regData.interests.check6" value="check6">
                        <label class="proximalightfontfamily" for="check6">Natural</label>
                        <div></div>
                        <input id="check7" type="checkbox" name="check7" ng-model="regData.interests.check7" value="check7">
                        <label class="proximalightfontfamily" for="check7">Psoriasis</label>
                    </div>
                    <div class="checkboxstyles checkboxdivsright">
                        <input id="check8" type="checkbox" name="check8" ng-model="regData.interests.check8" value="check8">
                        <label class="proximalightfontfamily" for="check8">Skin Cancer</label>
                        <div></div>
                        <input id="check9" type="checkbox" name="check9" ng-model="regData.interests.check9" value="check9">
                        <label class="proximalightfontfamily" for="check9">Sun Protection</label>
                        <div></div>
                        <input id="check10" type="checkbox" name="check10" ng-model="regData.interests.check10" value="check10">
                        <label class="proximalightfontfamily" for="check10">Ayurvedic Medicine</label>
                        <div></div>
                        <input id="check11" type="checkbox" name="check11" ng-model="regData.interests.check11" value="check11">
                        <label class="proximalightfontfamily" for="check11">Traditional Chinese Medicine</label>
                        <div></div>
                        <input id="check12" type="checkbox" name="check12" ng-model="regData.interests.check12" value="check12">
                        <label class="proximalightfontfamily" for="check12">Naturopathic Medicine</label>
                        <div></div>
                        <input id="check13" type="checkbox" name="check13" ng-model="regData.interests.check13" value="check13">
                        <label class="proximalightfontfamily" for="check13">Conventional (Western) Medicine</label>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="checkboxstyles bottomgapsingnup">
                    <input id="newsLetter" type="checkbox" ng-model="newsLetter">
                    <label class="proximalightfontfamily signupagree" for="newsLetter">YES, I WOULD LIKE TO RECEIVE THE DERMVEDA NEWSLETTER</label>
                </div>
                <div class="checkboxstyles bottomgapsingnup">
                    <input id="check14" type="checkbox" name="check" value="check14" ng-model="regData.agreed">
                    <label class="proximalightfontfamily signupagree" for="check14">*i agree to the dermveda terms & conditions <a target="_blank" href="#/terms">(view here)</a></label>
                </div>
                <input class="btn signupbtn railwayboldfont" type="submit" value="SIGN UP" />
            </form>
        </div>

    </div>
</div>


<div class="sitefullwrap">
    <div class="clearfix"></div>
