<div class="contentarticlesort searchresultpage">
    <div class="categorypage colorbgdivwrap railwaylightfamily">
         <div class="colorbgdiv logoalighclass">
            <h1>Tag Results</h1>
             <h2 class="railwaylightfamily">{{terms.substr(0)}}</h2>
            
        </div>
    </div>

    <div class="sitecontainer">
        <div class="floatleft sitecontentsecdiv">
            <div class="articlefilterwrap">
                <div ng-show="total != 0" class="imageswitcher floatleft">
                    <span class="sitelightgraytext">IMAGES:<a id="imageon" class="activelink" href="javascript:void(0)" ng-click="images=true">ON</a>/<a id="imageoff" href="javascript:void(0)" ng-click="images=false">OFF</a></span>
                </div>
                <div class="filterbtndiv floatright">
                    <div class="btn-group filterbtngroup floatright floatrightxs">
                        <button type="button" class="btn dropdown-toggle filterdropdown-toggle" data-toggle="dropdown">
                            <span data-bind="label" ng-hide="filterLable">MOST RECENT</span>&nbsp;<span class="caret"></span>
                            <span data-bind="label" ng-show="filterLable">{{filterLable}}</span>&nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu filterdropdown" role="menu">
                            <li><a href="javascript:void(0)" ng-click="filterResults('mr', 'MOST RECENT');">MOST RECENT</a></li>
                            <li><a href="javascript:void(0)" ng-click="filterResults('a_z', 'A TO Z');">A TO Z</a></li>
                        </ul>
                    </div>
                    <div class="floatright floatrightxs filterbtndivlabel">SORT BY</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="floatright sitesidebarright">
            <div class="actionbar">
                <div class="floatright sitefullscreendiv">
                    <a id="fullscreenicon" href="">
                        <img src="images/fullscrennicon.png" alt="">
                    </a>
                </div>
                <div class="floatright sitefontadjustdiv">
                    <div class="sitetextgray sitefontadjustinner proximalightfontfamily">
                        <span class="smalltitlefontsize">
                            <a id="smallfont" href="">A</a>
                        </span>
                        <span class="commontitlefontsize">
                            <a id="mediumfont" href="">A</a>
                        </span>
                        <span class="largetitlefontsize">
                            <a id="largefont" href="">A</a>
                        </span>
                    </div>
                </div>
                <!--                  <div class="floatright rightbordersite">
                                      <a class="sitetextgray addfavfont railwaylightfontfamily" href="javascript:void(0)">ADD TO FAVORITES</a>
                                  </div>-->
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="sitecontentsec sitecontentsecdiv floatleft">
            <div class="sitemiddlecontent">
                <div id="searchresults" class="sitecontentaccodian sitecontentaccodianfaq railwaylightfontfamily beauty">
                    <h4 class="contsidebartitle nosearch" ng-show="total == 0">{{noresults}}</h4>
                    <div class="loading"></div>
                    <ul>
                        <li ng-repeat="item in search">
                            <div class="quesImg" ng-show="(images==true && item.image)">
                                <a href="#/{{item.id}}">
                                  <img ng-src="{{imageURL+item.image.replace('/rest','rest')}}" alt="Dry Skin">
                                </a>
                            </div>
                            <div class="quesDetail" style="font-style:italic;">
                                <h4>
                                  <a href="#/{{item.id}}">
                                    {{item.title}}
                                  </a>
                                </h4>
                                <p>{{item.introduction}}</p>
                                <div class="s">
                                    <span class="sitetextblue" >
                                      Categorized in:&nbsp;</span>

                                      <a class="sitetextgreen" href="#/categoryResults/{{tax}}" ng-hide="tax.includes('internal')" ng-repeat="tax in item.taxonomies">
                                        {{tax.substr(0, 1) | uppercase }}{{tax.substr(1)}}
                                        <span ng-hide="$last">,&nbsp;</span>
                                      </a>
                                    <span ng-show="item.tags.length > 0"><span class="sitetextblue paddingleftcls">Tagged in:&nbsp;</span><a ng-hide="tax.includes('internal')" ng-repeat="tag in item.tags" class="sitetextgreen" href="#/tag/{{tag | notag}}/page/{{pageNumber}}/filter/{{filter}}">{{tag | notag}}<span ng-hide="$last">,&nbsp;</span></a></span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>

                    <div class="articlepaginate avenirnext_bold" ng-show="total != 0">
                        <ul>
                            <li><a ng-click="firstPage()" href="javascript:void(0)">&#60;</a></li>
                            <li ng-class="{'paginateselect':pageNumber==key+1}" ng-repeat="(key, val) in getNumber(pages) track by $index"><a ng-href="{{searchBase}}{{key+1}}/filter/{{filter}}" href="javascript:void(0)">{{key+1}}</a></li>
                            <li><a ng-click="lastPage()" href="javascript:void(0)">&#62;</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="sitesidebarright floatright sitesidebar">
            <div class="newsLetter">
                <div class="contsidebartitle railwaylightfontfamily">Get Dermveda News</div>
                <span class="contsidebartext avenirnext_italic">Subscribe to our email newsletter for useful tips, valuable resources & the latest updates within the health arena.</span>
                <div class="marginclass"></div>
                <div class="input-group sitesignuptext signupform willnesspage">
                    <input type="text" class="form-control railwaylightfontfamily" placeholder="ENTER YOUR EMAIL">
                    <span class="input-group-btn">
                        <button class="btn proximalightfontfamily" type="button">SIGNUP</button>
                    </span>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 sitemiddlecontentdivbottom">
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
