  <div class="contentarticlesort">   
    <div class="colorbgdivwrap categorypage railwaylightfamily">
      <div class="colorbgdiv tagcattitle logoalighclass">
        <h1 class="railwaythinfamily">Tag Results</h1>
        <h2 class="railwaylightfamily">Eczema</h2>
      </div>
    </div>

    <div class="sitecontainer">
   <div class="floatleft sitecontentsecdiv">  

                         <div class="articlefilterwrap">
             <div class="imageswitcher floatleft">
          <span class="sitelightgraytext">IMAGES:<a id="imageon" class="activelink" href="#">ON</a>/<a id="imageoff" href="#">OFF</a></span>
        </div>
        <div class="filterbtndiv floatright">
                
               <div class="btn-group filterbtngroup floatright floatrightxs">
          <button type="button" class="btn dropdown-toggle filterdropdown-toggle" data-toggle="dropdown">
                   <span data-bind="label">MOST POPULAR</span>&nbsp;<span class="caret"></span>
                 </button>
                 <ul class="dropdown-menu filterdropdown" role="menu">
                   <li><a href="#">MOST RECENT</a></li>
                   <li><a href="#">A TO Z</a></li>
                   <li><a href="#">MOST POPULAR</a></li>
                 </ul>
                 </div>
                 <div class="floatright floatrightxs filterbtndivlabel">FILTER BY</div>
        </div>
         <div class="clearfix"></div>
        </div> 


   </div> 
   <div class="floatright sitesidebarright">  
<div class="actionbar">
                  <div class="floatright sitefullscreendiv">
                    <a id="fullscreenicon" href="#">
                      <img src="images/fullscrennicon.png" alt="">
                    </a>
                  </div>
                  <div class="floatright sitefontadjustdiv">
                    <div class="sitetextgray sitefontadjustinner proximalightfontfamily">
                        <span class="smalltitlefontsize">
                          <a id="smallfont" href="#">A</a>
                        </span>
                        <span class="commontitlefontsize">
                          <a id="mediumfont" href="#">A</a>
                        </span>
                        <span class="largetitlefontsize">
                          <a id="largefont" href="#">A</a>
                        </span>
                    </div>
                  </div>
                  <div class="floatright rightbordersite">
                      <a class="sitetextgray addfavfont railwaylightfontfamily" href="#">ADD TO FAVORITES</a>
                  </div>
                  <div class="clearfix"></div>    
            </div>
   </div>    
      <div class="sitecontentsec sitecontentsecdiv floatleft"> 
        <div class="sitemiddlecontent">
          <div class="sitecontentaccodian sitecontentaccodianfaq railwaylightfontfamily beauty">
          <ul>
            <li>
                <div class="quesImg">
              <a href="#"><img src="images/A1_will01.jpg" alt="Dry Skin"></a>
              </div>
                <div class="quesDetail">
                  <h4><a href="#">Title of question will go in this space</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quam turpis, maximus auctor quam ut, malesu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quam turpis, maximus auctor quam ut, malesu.</p>
                  <div class="willnesscatgorydisp"><span class="sitetextblue">Categorized in:</span><a class="sitetextgreen" href="category_results.html">Dry Skin</a><div class="hidden-lg hidden-sm"></div>  <span class="sitetextblue paddingleftcls">Tagged in:</span><a class="sitetextgreen" href="tag_results.html">Western Medicine</a></div>
                </div>
                <div class="clearfix"></div>

            </li>

               <li>
                <div class="quesImg">
              <img src="images/A1_will02.jpg" alt="Dry Skin">
              </div>
                <div class="quesDetail">
                  <h4><a href="#">Title of question will go in this space</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quam turpis, maximus auctor quam ut, malesu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quam turpis, maximus auctor quam ut, malesu.</p>
                  <div class="willnesscatgorydisp"><span class="sitetextblue">Categorized in:</span><a class="sitetextgreen" href="category_results.html">Dry Skin</a><div class="hidden-lg hidden-sm"></div>  <span class="sitetextblue paddingleftcls">Tagged in:</span><a class="sitetextgreen" href="tag_results.html">Western Medicine</a></div>
                </div>
                <div class="clearfix"></div>

            </li>
             <li>
                <div class="quesImg">
              <a href="#"><img src="images/A1_will01.jpg" alt="Dry Skin"></a>
              </div>
                <div class="quesDetail">
                  <h4><a href="#">Title of question will go in this space</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quam turpis, maximus auctor quam ut, malesu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quam turpis, maximus auctor quam ut, malesu.</p>
                  <div class="willnesscatgorydisp"><span class="sitetextblue">Categorized in:</span><a class="sitetextgreen" href="category_results.html">Dry Skin</a><div class="hidden-lg hidden-sm"></div>  <span class="sitetextblue paddingleftcls">Tagged in:</span><a class="sitetextgreen" href="tag_results.html">Western Medicine</a></div>
                </div>
                <div class="clearfix"></div>

            </li>

               <li>
                <div class="quesImg">
              <img src="images/A1_will02.jpg" alt="Dry Skin">
              </div>
                <div class="quesDetail">
                  <h4><a href="#">Title of question will go in this space</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quam turpis, maximus auctor quam ut, malesu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quam turpis, maximus auctor quam ut, malesu.</p>
                  <div class="willnesscatgorydisp"><span class="sitetextblue">Categorized in:</span><a class="sitetextgreen" href="category_results.html">Dry Skin</a><div class="hidden-lg hidden-sm"></div>  <span class="sitetextblue paddingleftcls">Tagged in:</span><a class="sitetextgreen" href="tag_results.html">Western Medicine</a></div>
                </div>
                <div class="clearfix"></div>

            </li>
             <li>
                <div class="quesImg">
              <a href="#"><img src="images/A1_will01.jpg" alt="Dry Skin"></a>
              </div>
                <div class="quesDetail">
                  <h4><a href="#">Title of question will go in this space</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quam turpis, maximus auctor quam ut, malesu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quam turpis, maximus auctor quam ut, malesu.</p>
                  <div class="willnesscatgorydisp"><span class="sitetextblue">Categorized in:</span><a class="sitetextgreen" href="category_results.html">Dry Skin</a><div class="hidden-lg hidden-sm"></div>  <span class="sitetextblue paddingleftcls">Tagged in:</span><a class="sitetextgreen" href="tag_results.html">Western Medicine</a></div>
                </div>
                <div class="clearfix"></div>

            </li>

               <li>
                <div class="quesImg">
              <img src="images/A1_will02.jpg" alt="Dry Skin">
              </div>
                <div class="quesDetail">
                  <h4><a href="#">Title of question will go in this space</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quam turpis, maximus auctor quam ut, malesu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quam turpis, maximus auctor quam ut, malesu.</p>
                  <div class="willnesscatgorydisp"><span class="sitetextblue">Categorized in:</span><a class="sitetextgreen" href="category_results.html">Dry Skin</a><div class="hidden-lg hidden-sm"></div>  <span class="sitetextblue paddingleftcls">Tagged in:</span><a class="sitetextgreen" href="tag_results.html">Western Medicine</a></div>
                </div>
                <div class="clearfix"></div>

            </li>

              
           

       
          </ul>

        
        <div class="articlepaginate avenirnext_bold">
  <ul>
  <li><a href="#">&#60;</a></li>   
  <li><a href="#">1</a></li>   
  <li class="paginateselect"><a href="#">2</a></li>  
  <li><a href="#">3</a></li>     
  <li><a href="#">4</a></li>      
  <li><a href="#">5</a></li>     
  <li><a href="#">&#62;</a></li> 
  </ul> 
</div>
      
    
  
</div>


<div class="clearfix"></div>

 

</div>
</div>
     
 <div class="sitesidebarright floatright sitesidebar">
  <div class="newsLetter">
    <div class="contsidebartitle railwaylightfontfamily">Get Dermveda News</div>
      <span class="contsidebartext avenirnext_italic">Subscribe to our email newsletter for useful tips, valuable resources & the latest updates within the health arena.</span>
      <div class="marginclass"></div>
      <div class="input-group sitesignuptext signupform willnesspage">
      <input type="text" class="form-control railwaylightfontfamily" placeholder="ENTER YOUR EMAIL">
      <span class="input-group-btn">
        <button class="btn proximalightfontfamily" type="button">SIGNUP</button>
      </span>
    </div>
    <div class="clearfix"></div>
   <div class="col-md-12 sitemiddlecontentdivbottom">
   </div>
  </div>
</div> 


</div>

 <div class="clearfix"></div>