<div class="sitebannersection">
  <div class="col-md-8 paddingleftnone">
          <h1 class="bannertitle content-push railwayextralightfontfamily">{{title}}</h1>
          <!-- <p class="bannercontent content-push-para railwaylightfontfamily">
          "Dermveda Website Terms And Conditions Of Use"</p> -->
  </div>
   <div class="clearfix"></div>
</div>
<div class="sitecontainer col-md-12">
<div class="sitecontentsec">
    <div class="paddingtopbottom">
    <div class="legalcontent">
      <p class="railwaylightfontfamily maincontentp" ng-bind-html="content"> </p>
     </div> 
    </div>
    </div>
 </div>
