<div class="signuppagebg">
<div class="sitemiddlelow signupdiv thankyoutextdiv">
<h1 class="railwayextralightfontfamily">Thank You!</h1>
<h2 class="railwayreguler">Your inquiry has been received and<br/>
a copy of your submission has been<br/>
sent to the email you provided.
</h2>
<h2 class="railwayreguler thankyoutext">A Dermveda representative<br/>
will be in touch with you shortly.
</h2>


</div>
</div>
