
<div class="titleHeader wilnessesbox clearfix">
  <div class="col-md-4 maintitlebg">
    <h1>Wellness</h1>
  </div>
  <div class="clearfix"></div>
  <div class="col-md-8 col-md-push-4 featuredtitle clearfix">
    <h2>{{featured.title}}</h2>
    <p>{{featured.description}}</p>
    <a href="#/{{featured.articleId}}"><button type="button" class="btn allformbtn anvirateguler">MORE</button></a>
  </div>
</div>

<div class="sitecontainer" ng-show="lifeStyle.mainArticle && dietAndNutrition.mainArticle">
  <div class="sitecontentsecdiv floatleft">
    <div class="bdTitle railwaylightfontfamily">
      <!-- <div class="bredcrumbtext">
        <span class="sitetextblue fontweightbold">You are in:</span>
        <a class="sitetextgreen" href="#/categoryResults/wellness">Wellness</a>
      </div> -->
      <h3 class="willnesstitlecol">Life Style</h3>
    </div>
  </div>
  <div class="sitesidebarright floatright  sitemiddleoptionsec" ng-include="'views/common/action_bar.html'"></div>
  <div class="clearfix"></div>
</div>

<div class="sitecontainer" ng-show="lifeStyle.mainArticle && dietAndNutrition.mainArticle">
  <div class="sitecontentsec sitecontentsecdiv floatleft">
    <div class="sitemiddlecontent">
      <div class="articles">

        <div class="articleGroup willnessarticlegroup">

          <div class="mainArticle">
            <article>
              <div class="image" ng-show="lifeStyle.mainArticle.thumbnail">
                <a href="#/{{lifeStyle.mainArticle.articleId}}"><img alt="image" ng-src="{{lifeStyle.mainArticle.thumbnail}}"></a>
                <div class="titleLink">
                  <h4><a href="#/{{lifeStyle.mainArticle.articleId}}">{{lifeStyle.mainArticle.title}}</a></h4>

                  <div class="titleLinkancher"><a href="#/{{lifeStyle.mainArticle.articleId}}">MORE</a></div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="discription">{{lifeStyle.mainArticle.description}}</div>
              <a class="viewAll" href="#/categoryResults/{{convertToEval(lifeStyle.mainArticle.taxanomy)[1]}}">BROWSE LIFESTYLE ARTICLES</a>
            </article>
          </div>

          <div class="subArticle">
            <article ng-repeat="article in lifeStyle.subArticles | limitTo:4">
              <div class="image" ng-show="article.thumbnail">
                <a href="#/{{article.articleId}}"><img alt="" ng-src="{{article.thumbnail}}"></a>
              </div>
              <div class="discription">
                <p>
                  <a class="articlediscription" href="#/{{article.articleId}}">{{article.title | limitTo:60}}</a>
                  <a class="" href="#/{{article.articleId}}">MORE</a>
                </p>
              </div>
            </article>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="articleGroup willnessarticlegroup">
          <h3 class="willnesstitlecol">Diet & Nutrition</h3>
          <div class="mainArticle">

              <div class="image" ngshow="dietAndNutrition.mainArticle.thumbnail">
                <a href="#/{{dietAndNutrition.mainArticle.articleId}}"><img alt="image" ng-src="{{dietAndNutrition.mainArticle.thumbnail}}"></a>
                <div class="titleLink">
                  <h4><a href="#/{{dietAndNutrition.mainArticle.articleId}}">{{dietAndNutrition.mainArticle.title}}</a></h4>

                  <div class="titleLinkancher"><a href="#/{{dietAndNutrition.mainArticle.articleId}}">MORE</a></div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="discription">{{dietAndNutrition.mainArticle.description}}</div>
              <a class="viewAll" href="#/categoryResults/{{convertToEval(dietAndNutrition.mainArticle.taxanomy)[1]}}">BROWSE LIFESTYLE ARTICLES</a>
            </article>
          </div>

          <div class="subArticle">
            <article ng-repeat="article in dietAndNutrition.subArticles | limitTo:4">
              <div class="image" ng-show="article.thumbnail">
                <a href="#/{{article.articleId}}"><img alt="" ng-src="{{article.thumbnail}}"></a>
              </div>
              <div class="discription">
                <p>
                  <a class="articlediscription" href="#/{{article.articleId}}">{{article.title | limitTo:60}}</a>
                  <a class="" href="#/{{article.articleId}}">MORE</a>
                </p>
              </div>
            </article>
          </div>

          <div class="clearfix"></div>
        </div>

<!--        <div ng-show="welnessFeaturedGuests.mainArticle" class="articleGroup willnessarticlegroup">
          <h3 class="willnesstitlecol">Featured Guests</h3>

          <div class="mainArticle">
            <article>
              <div class="image" ng-show="welnessFeaturedGuests.mainArticle.thumbnail">
                <a ng-href="#/{{welnessFeaturedGuests.mainArticle.articleId}}"><img alt="" src="{{welnessFeaturedGuests.mainArticle.thumbnail}}"></a>
                <div class="titleLink">
                  <h4><a href="#/{{welnessFeaturedGuests.mainArticle.articleId}}">{{welnessFeaturedGuests.mainArticle.title}}</a></h4>

                  <div class="titleLinkancher"><a href="#/{{welnessFeaturedGuests.mainArticle.articleId}}">MORE</a></div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="discription">{{welnessFeaturedGuests.mainArticle.description}}</div>
              <a class="viewAll" href="#/categoryResults/{{convertToEval(welnessFeaturedGuests.mainArticle.taxanomy)}}">VIEW ALL Featured Guests</a>
            </article>
          </div>

          <div class="subArticle">
            <article ng-repeat="article in welnessFeaturedGuests.subArticles">
              <div class="image" ng-show="article.thumbnail">
                <a href="#/{{article.articleId}}"><img alt="" src="{{article.thumbnail}}"></a>
              </div>
              <div class="discription">
                <p>
                  <a class="articlediscription" href="#/article.articleId">{{article.title | limitTo:60}}</a>
                  <a class="" href="#/{{article.articleId}}">MORE</a>
                </p>
              </div>
            </article>
          </div>

          <div class="clearfix"></div>
        </div>-->

      </div>

      <div class="clearfix"></div>

      <div class="sitecontentaccodian sitecontentaccodianfaq railwaylightfontfamily beauty">
        <div class="panel-group" role="tablist" aria-multiselectable="true">
          <div class="panel-group accodianpannel">
            <div class="panel sitepanel-default">

              <div class="panel-heading headingpan05">
                <a id="accodianpan05" class="accodianheadding" data-toggle="collapse" data-parent="#accordion" href="">herbal Corner</a>
              </div>

              <div id="collapse5" class="panel-collapse collapse in">
                <div class="panel-body ">
                  <ul>
                    <li ng-repeat="faq in faqs">
                      <div class="quesImg" ng-show="faq.thumbnail">
                        <a ng-href="#/{{faq.articleId}}"><img ng-src="{{faq.thumbnail}}" alt=""></a>
                      </div>

                      <div class="quesDetail">
                        <a href="#/{{faq.articleId}}"><h4>{{faq.title}}</h4></a>
                      </div>

                      <div class="clearfix hidden-lg"></div>

                      <div>
                        <p>{{faq.description}}</p>
                        <a href="#/{{faq.articleId}}"><button class="btn allformbtn" type="button">READ MORE</button></a>
                        <div class="willnesscatgorydisp" style="font-style:italic;">

                         <!--  <span class="sitetextblue">Categorized in:</span>
                          <span ng-repeat="tax in convertToEval(faq.taxanomy)" ng-hide="tax.includes('internal')">
                              <span ng-hide="$first">, &nbsp</span>
                              <a class="sitetextgreen" ng-href="#/categoryResults/{{tax}}">{{tax}}</a>
                          </span>
 -->
                          <span class="sitetextblue" style="color: #305e7d !important;">Categorized in:</span>
                          <span ng-show="convertToEval(faq.taxanomy).length > 0" ng-hide="tax.includes('internal')">
                              <a class="sitetextgreen" style="color: #5c8ba5 !important;" ng-href="#/categoryResults/{{convertToEval(faq.taxanomy)[1]}}">{{convertToEval(faq.taxanomy)}}</a>
                          </span>

                          <div class="clearfix hidden-lg hidden-sm"></div>
                          <span class="sitetextblue paddingleftcls">Tagged in:</span>
                          <span ng-repeat="tag in convertToEval(faq.tags)">
                              <a class="sitetextgreen"ng-href="#/tag/{{tag}}/page/1/filter/mr">{{(faq.tags)}}</a>
                              <span ng-hide="$last">, &nbsp</span>
                          </span>
                        </div>
                      </div>

                      <div class="clearfix"></div>

                    </li>
                  </ul>
                </div>

                <div class="articlepaginate avenirnext_bold"></div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="faqsection" class="faqquestionwrap beautyformwrap">

      </div>
      <div class="clearfix"></div>

    </div>
  </div>


  <div class="sitesidebarright floatright sitesidebar">
    <newsletter position="side"></newsletter>
    <div class="col-md-12 sitemiddlecontentdivbottom"></div>
  </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-75233028-1', 'auto');
  ga('send', 'pageview');
</script>
