
	<form name="contactForm" ng-hide="submitted">
	    <span class="sitetextblue railwaylightfontfamily footertexttiltetext">get in touch with us</span>
	    <input name="name" required ng-model="contact.name" class="form-control footerformstyle proximalightfontfamily contactformsfooter" type="text" placeholder="YOUR NAME">
	    <input name="email" ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' required ng-model="contact.email" class="form-control footerformstyle proximalightfontfamily contactformsfooter" type="email" placeholder="YOUR EMAIL">
	    <textarea name="message" required ng-model="contact.body" class="form-control footerformstyle proximalightfontfamily contactformsfooter" rows="3" placeholder="YOUR MESSAGE"></textarea>
	    <button class="btn allformbtn railwayboldfont" type="button" id="contactBtn" ng-class="(contactForm.email.$error.pattern || !contactForm.email.$dirty) || contactForm.email.$error.required ? 'hide' : 'show'" ng-disabled="contactForm.$invalid" ng-click="submit()">SUBMIT</button>

	    <p ng-show="submitted" class="messages success">Your message has been sent</p>
    <p class="messages error"></p>
	</form>
      <p ng-show="submitted" class="messages success">Your message has been sent. Thank you for contacting Dermveda.</p>

