<p ng-show="submitted" class="messages success">Your question has been sent. Thank you for contacting Dermveda.</p>
<form name="faqForm" ng-hide="submitted">
  <h3 class="avenirnext_demi">{{questionFormTitle}}</h3>
  <div class="faqquestionleft"> 
  <input required ng-model="faq.name" name="name" class="form-control footerformstyle railwaylightfontfamily faqspecial" type="text" placeholder="*YOUR NAME">
  <input required ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' ng-model="faq.email" name="email" class="form-control footerformstyle railwaylightfontfamily faqspecial" type="email" placeholder="*YOUR EMAIL">
  </div>
  <div class="faqquestionright">
  <textarea ng-model="faq.body" required name="question" class="form-control footerformstyle railwaylightfontfamily beautyfaq" placeholder="YOUR QUESTION" rows="3"></textarea>
</div>
 <button class="btn allformbtn railwayboldfont" ng-class="(faqForm.email.$error.pattern || !faqForm.email.$dirty) || faqForm.email.$error.required ? 'hide' : 'show'" ng-click="submit()" ng-disabled="faqForm.$invalid" type="button">SUBMIT</button>
<div class="clearfix"></div>

<span ng-show="submitted" class="messages success">You message has been sent </span>

</form>
