 <div class="newsLetter">
 <form name="newsLetterForm" ng-hide="subscribed">
 <div class="contsidebartitle railwaylightfontfamily">Get Dermveda News</div>
      <span class="contsidebartext avenirnext_italic">Subscribe to our email newsletter for useful tips, valuable resources & the latest updates within the health arena.</span>
      <div class="marginclass"></div>      
      <div class="input-group sitesignuptext signupform">     
        <input type="email" ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' ng-model="faq.email" name="email" class="form-control footerformstyle railwaylightfontfamily faqspecial" class="form-control railwaylightfontfamily" ng-model="newsletter.email" required placeholder="ENTER YOUR EMAIL">
        <span class="input-group-btn">
          <button class="btn proximalightfontfamily" ng-disabled="newsLetterForm.$invalid" ng-click="subscribe()" type="button">SIGNUP</button>
        </span>
     
    </div>
    <div class="clearfix"></div>
  
</form>
     <p ng-show="subscribed" class="messages success">Thank you for signing up!</p>
</div>