<div ng-hide="subscribed">
<span class="sitetextblue proximalightfontfamily footertexttiltetext">SIGN UP FOR DERMVEDA NEWS</span>
                 <div class="input-group  signupform footerdivsignup">
      <form name="newsLetterForm">
      <input type="email" ng-model="newsletter.email" name="email" ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' required class="form-control text-center" placeholder="ENTER YOUR EMAIL">
       <button class="btn allformbtn railwayboldfont" ng-class="(newsLetterForm.email.$error.pattern || !newsLetterForm.email.$dirty) || newsLetterForm.email.$error.required ? 'hide' : 'show'" ng-disabled="newsLetterForm.$invalid" ng-click="subscribe()" type="button">SIGNUP</button>
         <p ng-show="subscribed" class="messages success">You have successfuly subscribed to Dermveda newsletter</p>
    <p ng-show="alreadtsubscribed" class="messages error">Sorry you are already subscribed.</p>
       </form>
    </div>
</div>
<p ng-show="subscribed" class="messages success">Thank you for signing up!</p>