<div class="preloderwrap" data-ng-hide="hideImageProcessing" data-ng-init="hideImageProcessing=true">
          <svg version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
          <circle fill="#48905e" stroke="none" cx="15" cy="50" r="10">
            <animate
              attributeName="opacity"
              dur="1s"
              values="0;1;0"
              repeatCount="indefinite"
              begin="0.1"/>
          </circle>
          <circle fill="#48905e" stroke="none" cx="45" cy="50" r="10">
            <animate
              attributeName="opacity"
              dur="1s"
              values="0;1;0"
              repeatCount="indefinite"
              begin="0.2"/>
          </circle>
          <circle fill="#48905e" stroke="none" cx="75" cy="50" r="10">
            <animate
              attributeName="opacity"
              dur="1s"
              values="0;1;0"
              repeatCount="indefinite"
              begin="0.3"/>
          </circle>
        </svg>
        <div class="imageprossing">Please Wait...</div>
        <div class="clearfix"></div>
</div>

<div class="educaterbg">
    <div class="sitemiddlelow educaterdiv">
        <h1 class="railwaythinfamily educatertitle">Skin Type Profiler</h1>
        <h2 class="proximalightfontfamily educatesubtitle">YOUR SKIN TYPE RESULTS</h2>
        <div class="skintabcontent skinresulttabcont" style="position: relative;">
            <div class="skintabwrap">
                <div class="skintabdivleft">
                    <h4 class="anvirateguler">Type: <span>{{skin_rank}}</span></h4>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#accmodal01">
                      <img id="skinimgres" alt="dermveda" src="{{skinImage}}" data-ng-class="skinImgClass" style="border-radius: 50%"></a>
                    <a class="skinimagepopup" href="javascript:void(0)" data-toggle="modal" data-target="#accmodal01"><i class="fa fa-search-plus"></i></a>
                    <div id="accmodal01" class="modal fade" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close popupclose" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close Modal</span></button>
                                    <img alt="" class="img-responsive" src="{{skinImage}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="skintabdivright skinmeterrightdiv text-center">
                    <img id="skinimgresbig" class="skinmeterimg" alt="SKIN INDEX" src="images/skin_scale/skin-index_{{skin_rank}}.jpg">
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="skintabwrapsec">
                <div class="skintabsecleft">
                    <h4 class="anvirateguler">My Skin is:</h4>
                    <div class="checkboxstyles radio">
                        <div ng-repeat="answer in answerList">
                            <input id="{{'check-'+$index}}" type="radio" name="{{'check-'+$index}}" value="{{'check-'+$index}}">
                            <label class="anvirateguler" for="{{'check-'+$index}}">{{answer}}</label>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="skintabsecright">
                    <div class="medicinetypetabs">
                        <ul class="nav nav-tabs medicinetypetabsul">
                            <li class="active">
                                <a href="javascript:void(0)" data-toggle="tab" data-ng-click="swithTab('myprofile')">

                                    <img id="profileimghover" data-ng-class="profileImgClass" class="tabshoverimg" alt="my profile" src="{{skinImage}}">

                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-ng-click="swithTab('westernmedicine')" data-toggle="tab">
                                    <img class="tabshoverimg" alt="western medicine" src="images/tabimage02.jpg" style="display: none;">
                                    <img ng-init="imgsrc = ''" ng-mouseenter="imgsrc='images/tabimage02.jpg'" ng-mouseleave="imgsrc='images/tabimage02hov.jpg'" class="tabsoriginalimg" alt="western medicine" src="images/tabimage02hov.jpg" ng-src = "{{imgsrc}}">

                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-ng-click="swithTab('ayurvedicmedicine')" data-toggle="tab">
                                    <img class="tabshoverimg" alt="ayurvedic medicine" src="images/tabimage03.jpg" style="display: none;">
                                    <img ng-init="imgsrc2 = ''" ng-mouseenter="imgsrc2='images/tabimage03.jpg'" ng-mouseleave="imgsrc2='images/tabimage03hov.jpg'" ng-src = "{{imgsrc2}}" class="tabsoriginalimg" alt="ayurvedic medicine" src="images/tabimage03hov.jpg">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-ng-click="swithTab('traditionalchinesemedicine')" data-toggle="tab">
                                    <img class="tabshoverimg" alt="traditional chinese medicine" src="images/tabimage04.jpg" style="display: none;">
                                    <img ng-init="imgsrc3 = ''" ng-mouseenter="imgsrc3='images/tabimage04.jpg'" ng-mouseleave="imgsrc3='images/tabimage04hov.jpg'" ng-src = "{{imgsrc3}}" class="tabsoriginalimg" alt="traditional chinese medicine" src="images/tabimage04hov.jpg">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-ng-click="swithTab('naturopathicmedicine')" data-toggle="tab">
                                    <img class="tabshoverimg" alt="naturopathic medicine" src="images/tabimage05.jpg" style="display: none;">
                                    <img ng-init="imgsrc4 = ''" ng-mouseenter="imgsrc4='images/tabimage05.jpg'" ng-mouseleave="imgsrc4='images/tabimage05hov.jpg'" ng-src = "{{imgsrc4}}" class="tabsoriginalimg" alt="naturopathic medicine" src="images/tabimage05hov.jpg">
                                </a>
                            </li>
                        </ul>

                        <div id='content' class="tab-content">
                            <div class="medicinetypetabcontent anvirateguler tab-pane fade in active" id="myprofile">
                                <h4>My Analysis:</h4>
                                <p>{{my_med}}</p>
                            </div>
                            <div class="medicinetypetabcontent anvirateguler tab-pane fade in" id="westernmedicine">
                                <h4>Western Medicine:</h4>
                                <p>{{western_med}}</p>
                            </div>
                            <div class="medicinetypetabcontent anvirateguler tab-pane fade in" id="ayurvedicmedicine">
                                <h4>Ayurvedic Medicine:</h4>
                                <p>{{aryurvedic_med}}</p>
                            </div>
                            <div class="medicinetypetabcontent anvirateguler tab-pane fade in" id="traditionalchinesemedicine">
                                <h4>Traditional Chinese Medicine:</h4>
                                <p>{{trad_chinese_med}}</p>
                            </div>
                            <div class="medicinetypetabcontent anvirateguler tab-pane fade in" id="naturopathicmedicine">
                                <h4>Naturopathic Medicine:</h4>
                                <p>{{naturopathic_med}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="profileresbtndiv">
                <a class="startover railwayboldfont floatleft floatleftxs" href="#/skin-type-profiler">START OVER</a>
                <a class="saveprofile railwayboldfont floatleft floatleftxs" href="javascript:void(0)" ng-click="saveToProfile()">
                SAVE TO PROFILE
                <span class="profilebtnarrow"></span>
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>




    </div>
</div>
