<style>
    .cropit-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
        width: 250px;
        height: 250px;
    }

    .cropit-preview-image-container {
        cursor: move;
    }

    .image-size-label {
        margin-top: 10px;
    }

    input, .export {
        display: block;
    }

    button {
        margin-top: 10px;
    }
    .center {
        margin: auto;
        border: 3px solid #73AD21;
        padding: 10px;
    }
</style>

<!-- <div class="preloderwrap" data-ng-hide="hidePreloderWrap" data-ng-init="hidePreloderWrap=true">
          <svg version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
          <circle fill="#48905e" stroke="none" cx="15" cy="50" r="10">
            <animate
              attributeName="opacity"
              dur="1s"
              values="0;1;0"
              repeatCount="indefinite"
              begin="0.1"/>
          </circle>
          <circle fill="#48905e" stroke="none" cx="45" cy="50" r="10">
            <animate
              attributeName="opacity"
              dur="1s"
              values="0;1;0"
              repeatCount="indefinite"
              begin="0.2"/>
          </circle>
          <circle fill="#48905e" stroke="none" cx="75" cy="50" r="10">
            <animate
              attributeName="opacity"
              dur="1s"
              values="0;1;0"
              repeatCount="indefinite"
              begin="0.3"/>
          </circle>
        </svg>
        <div class="imageprossing">Please Wait...</div>
        <div class="clearfix"></div>
</div> -->

<div class="educaterbg">
    <div class="sitemiddlelow educaterdiv">
        <h1 class="railwaythinfamily educatertitle">Skin Type Profiler</h1>

        <div class="educateraccodian">
            <div class="sitecontentaccodian sitecontentaccodianfaq proximalightfontfamily">
                <div class="tablist" role="tablist" aria-multiselectable="true">
                    <div class="panel-group accodianpannel" id="head_collapse01">
                        <div class="panel sitepanel-default">
                            <div class="panel-heading" ng-click="onNextTab('collapse02', 'collapse01')">

                                <a id="accodianpan01" class="accodianheadding" data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)" data-toggleTab="collapse1"><span class="accodianno avenirnext_bold">1</span>WHAT BEST DESCRIBES YOUR SKIN?</a>

                            </div>
                            <div id="collapse01" class="panel-collapse collapse in">
                                <div class="panel-body ">
                                    <div id="loginError" class="railwayboldfont alert alert-warning alert-dismissible hidden validationerrorbox railwayreguler " role="alert">
                                        Please select one from each dropdown to proceed..
                                    </div>
                                    <div class="skindiscribediv">
                                        <h4 class="railwaylightfamily">Choose one from each dropdown</h4>

                                        <div class="btn-group filterbtngroup proximalightfontfamily" ng-repeat="question in QuestionsAndAnswers">
                                            <button id="{{'Question-' + question.questionID}}" type="button" class="btn dropdown-toggle filterdropdown-toggle" data-toggle="dropdown">
                                                <span data-bind="label" class="selectlabel">{{question.questionText}}...</span>&nbsp;<span class="caret"></span>
                                            </button>
                                            <ul id="{{'QuestionUL-' + question.questionID}}" class="dropdown-menu filterdropdown skinopp" role="menu">
                                                <li ng-click="toggleDropdown()"class="dropdown" ng-repeat="answer in question.questionAnswer"><a href="javascript:void(0)" data-answerID="{{answer.answerID}}">{{answer.answerText}}</a></li>
                                            </ul>
                                        </div>
                                        <a class="educatenextbtn railwayboldfont" href="javascript:void(0)" ng-click="onNextTab('collapse01', 'collapse02')">NEXT<span class="educatenextbtnarrow"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tablist" role="tablist" aria-multiselectable="true">
                    <div class="panel-group accodianpannel" id="head_collapse02">
                        <div class="panel sitepanel-default">
                            <div class="panel-heading" ng-click="onNextTab('collapse01', 'collapse02')">
                                <a id="accodianpan02" class="accodianheadding collapsed" data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)" data-toggleTab="collapse02"><span class="accodianno avenirnext_bold">2</span>UPLOAD YOUR PHOTO</a>

                            </div>

                            <div id="collapse02" class="panel-collapse collapse">
                                <div class="panel-body ">
                                    <div id="loginError" class="railwayboldfont alert alert-warning alert-dismissible hidden validationerrorbox railwayreguler " role="alert">
                                        Please select a photo to proceed..
                                    </div>
                                    <div class="imageuploadersec railwaysemibold">
                                        <div class="skinimagepointer">
                                            <div class="skinimagepointermark" ng-hide="hideWatermark"></div>
                                            <img id="imageuploader" alt="skin image" src="images/imageuploader.jpg" />
                                            <img class="uploaddskinimage hide" alt="skin image" src="images/imageuploaderreal.jpg" />

                                        </div>
                                        <h4>Must be a forward facing photo<br/>
                                            Higher resolution = better results</h4>

                                        <div class="fileupload fileupload-new railwayboldfont" data-provides="fileupload" ng-click="openFileChooser()">
                                            <span id="imageuploadbtn" style="margin-bottom:10px" class="btn btn-file"><span class="fileupload-new">UPLOAD PHOTO</span>
                                            </span>
                                            <span class="fileupload-preview"></span>

                                        </div>
                                        <a style="margin-bottom:10px" class="imagedeletebtn hide" ng-click="deletePhoto()" href="">DELETE PHOTO</a>
                                        <span class="btn btn-file" ng-click="takePhoto()"><span>TAKE PHOTO</span>
                                        </span>
                                        <ul class="nextprvbtnul">
                                        <li>
                                            <a ng-click="onNextTab('collapse02', 'collapse01')" class="educatenextbtnprev startover railwayboldfont" href="javascript:void(0)">PREVIOUS <span class="educatenextbtnarrow"></span></a>
                                        </li>
                                        <li class="nextbtnli">
                                            <a class="educatenextbtn railwayboldfont" href="javascript:void(0)" ng-click="analyseQA()">FINISH<span class="educatenextbtnarrow"></span></a>
                                        </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade skintabcontent" id="profile">
            </div>
            <div class="tab-pane fade favoritessection" id="messages">
            </div>
        </div>
    </div>

    <div id="imagecropdiv" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Crop Image</h4>
                </div>
                <div class="modal-body">
                    <div class="image-editor">
                      <input type="file" id="imageFile" class="cropit-image-input" style="margin-bottom: 10px">
                        <div class="cropit-preview center" ></div><br>
                        <span id="uploadError" class="railwayboldfont alert alert-warning alert-dismissible hidden validationerrorbox railwayreguler " role="alert" style="color: #ffa6ac;text-align:center;display: block;"></span>
                        <div class="railwayboldfont alert alert-warning alert-dismissible hidden validationerrorbox railwayreguler" role="alert" style="margin-top:10px" id="uploadError"></div>


                        <div class="image-size-label">
                            Resize image
                        </div>
                        <input type="range" class="cropit-image-zoom-input">
                        <button class="rotate-ccw btn btn-default">Rotate counterclockwise</button>
                        <button class="rotate-cw btn btn-default">Rotate clockwise</button>
                        <br>
                        <!--
                                                <button class="export">Export</button>-->
                    </div>
                </div>
                <div class="modal-footer">
                        <button type="button" id="close_id" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id = "save_id" class="btn btn-primary export pull-right">Save changes</button>
                </div>
            </div>

        </div>

    </div>


    <div id="takePhotoDiv" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Take Photo</h4>
                </div>
                <div class="modal-body">
                    <div class="image-editor">
                        <input type="hidden" class="cropit-image-input" id="imageInput">
                        <div class="cropit-preview center" >

                            <div id="my_camera"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                        <button id="closeBtn" type="button" class="btn btn-default" data-dismiss="modal" ng-click="showCamera=true">Close</button>
                        <button type="button" ng-click = "takeSnap()" class="btn btn-primary export pull-right" data-dismiss="modal">Take Photo</button>
                </div>
            </div>

        </div>

    </div>

</div>
