<div class="actionbar">
                  <div class="floatright sitefullscreendiv">
                    <a id="fullscreenicon" href="javascript:void();">
                      <img src="images/fullscrennicon.png" alt="">
                    </a>
                  </div>
                  <div class="floatright sitefontadjustdiv">
                    <div class="sitetextgray sitefontadjustinner proximalightfontfamily">
                        <span class="smalltitlefontsize">
                          <a id="smallfont" href="javascript:void();">A</a>
                        </span>
                        <span class="commontitlefontsize">
                          <a id="mediumfont" href="javascript:void();">A</a>
                        </span>
                        <span class="largetitlefontsize">
                          <a id="largefont" href="javascript:void();">A</a>
                        </span>
                    </div>
                  </div>
                  <div class="floatright rightbordersite">
                      <a class="sitetextgray addfavfont railwaylightfontfamily" href="javascript:void();">ADD TO FAVORITES</a>
                  </div>
                  <div class="clearfix"></div>    
            </div>