<div class="educaterbg">
    <div class="sitemiddlelow educaterdiv">
        <h1 class="railwaythinfamily educatertitle educatertitlemob">Skin Symptom Educator</h1>
        <h2 class="proximalightfontfamily educatesubtitle educatertitlemob">YOUR SKIN SYMPTOM RESULTS</h2>
        <div class="educaterresultwrap">
            <div class="educaterresulttpdiv railwaysemibold">
                <div class="educaterresulttpdivleft floatleft floatleftxs paddingnoneboth educationresultleft">

                    <h3>YOUR SYMPTOMS</h3>
                    <div class="educatericonselect">
                        <ul>
                            <li ng-repeat="answer in answers_1">{{answer}}</li>
                        </ul>
                    </div>

                </div>
                <div class="educaterresulttpdivlmiddle floatleft floatleftxs paddingnoneboth resultborder">
                    <h3>ANATOMICAL SITES</h3>
                    <div class="educatericonselect">
                        <ul>
                            <li ng-repeat="answer in answers_2">{{answer}}</li>
                        </ul>
                    </div>
                </div>
                <div class="educaterresulttpdivright floatleft floatleftxs paddingnoneboth">
                    <h3>SYMPTOM PATTERN</h3>
                    <div class="educatericonselect">
                        <ul>
                            <li ng-repeat="answer in answers_3">{{answer}}</li>
                        </ul>
                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
             
                                          <div class="skinsymtomdistext anvirateguler col-md-12"><p>
                                    Not sure about what you see or is what you are looking for not showing up?  Try going back and selecting more symptoms. It's also not uncommon to have something that looks different or is a variation of what is shown here. These samples are only examples of common skin conditions. There are also less common skin conditions that may not necessarily be represented here.
                                </p></div>
                                <div class="col-md-12 skinsymtomresdis anvirategulerdemi">
                                    Click on the result below to learn more about these conditions.
                                </div>
            <div class="proximalightfontfamily">
                <div class="educaterresultbox floatleft floatleftxs" ng-repeat="condition in skinConditionList">
                    <a ng-if="condition.articleURL != ''" ng-href="{{condition.articleURL}}"><div class="divbg" style="{{ 'background: url(/web'+ condition.imageURL +') no-repeat;background-size: contain;'}}"></div></a>
                    <a ng-if="condition.articleURL == ''" href=""><div class="divbg" style="{{ 'background: url('+ condition.imageURL +') no-repeat;background-size: contain;'}}"></div></a>
                    <div ng-if="condition.articleURL != ''" class="textmobpad educationrstxt"><a ng-href="{{condition.articleURL}}">{{condition.conditionName}}</a></div>
                    <div ng-if="condition.articleURL == ''" class="textmobpad educationrstxt"><a href="">{{condition.conditionName}}</a></div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="eductionviewmore anvirategulerdemi" data-ng-attempt="attempt" ng-click="loadMore()" ng-show="skinConditionListRemain.length"><a href="">(view more results)</a></div>

            <div class="profileresbtndiv">
                <a class="startover railwayboldfont floatleft floatleftxs" href="#/educator-symptoms/">START OVER</a>
                <a class="saveprofile railwayboldfont floatleft floatleftxs" href="javascript:void(0)" ng-click="saveQA()">
                SAVE TO PROFILE
                <span class="profilebtnarrow"></span>
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
</div>
