<div class="educaterbg">
    <div class="sitemiddlelow educaterdiv">
        <h1 class="railwaythinfamily educatertitle educatertitlemob">Skin Symptom Educator</h1>


        <div class="educateraccodian">
            <div class="sitecontentaccodian sitecontentaccodianfaq sitecontentaccodianmob proximalightfontfamily">
                <div class="tablist" role="tablist" aria-multiselectable="true">
                  <div class="panel-group accodianpannel" id="head_collapse1">
                        <div class="panel sitepanel-default">
                            <div class="panel-heading" ng-click="switchTab('collapse02', 'collapse1')">

                                <a id="accodianpan01" class="accodianheadding" data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)"><span class="accodianno avenirnext_bold">1</span>CHOOSE YOUR SYMPTOMS</a>

                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body symselectmob">
                                <div id="loginError" class="railwayboldfont alert alert-warning alert-dismissible hidden validationerrorbox railwayreguler " role="alert">
                                    Please select at least one symptom to proceed..
                                </div>
                                <div class="col-md-12 skinsymtomdis anvirategulerdemi">
                                    Select at least one from each of the following columns for better results
                                </div>

                                    <div class="col-md-3 col-sm-3 col-xs-6 paddingnoneboth educaterleft">
                                    <div class="skinsymtomsuntitle">color</div>
                                        <div class="checkboxstyles">
                                            <div ng-repeat="answer in question1_1Answers">
                                                <input id="{{'check1-' + answer.answerID}}" type="checkbox" name="check" value="{{'check1-' + answer.answerID}}" data-answerID="{{answer.answerID}}">
                                                <label class="proximalightfontfamily" for="{{'check1-' + answer.answerID}}">{{answer.answerText}}</label>
                                                <div></div>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="educatermiddle col-md-3 col-sm-3 col-xs-6 col-sm-push-4 paddingnoneboth">
                                      <div class="skinsymtomsuntitle">feature</div>
                                        <div class="checkboxstyles">
                                            <div ng-repeat="answer in question1_3Answers">
                                                <input id="{{'check1-' + answer.answerID}}" type="checkbox" name="check" value="{{'check1-' + answer.answerID}}" data-answerID="{{answer.answerID}}">
                                                <label class="proximalightfontfamily" for="{{'check1-' + answer.answerID}}">{{answer.answerText}}</label>
                                                <div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="educaterlast col-md-3 col-sm-3 col-xs-12 col-sm-pull-3 paddingnoneboth">
                                    <div class="skinsymtomsuntitle">texture</div>
                                        <div class="checkboxstyles">
                                            <div ng-repeat="answer in question1_2Answers">
                                                <input id="{{'check1-' + answer.answerID}}" type="checkbox" name="check" value="{{'check1-' + answer.answerID}}" data-answerID="{{answer.answerID}}">
                                                <label class="proximalightfontfamily" for="{{'check1-' + answer.answerID}}">{{answer.answerText}}</label>
                                                <div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                    <a class="educatenextbtn railwayboldfont" href="javascript:void(0)" ng-click="onNextTab('collapse1', 'collapse02')">NEXT<span class="educatenextbtnarrow"></span></a>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tablist" role="tablist" aria-multiselectable="true">
                    <div class="panel-group accodianpannel" id="head_collapse02">
                        <div class="panel sitepanel-default">
                            <div class="panel-heading" ng-click="switchTab('collapse1', 'collapse02')">
                                <a id="accodianpan02" class="accodianheadding collapsed" data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)"><span class="accodianno avenirnext_bold">2</span>CHOOSE ANATOMICAL SITES</a>

                            </div>
                            <div id="collapse02" class="panel-collapse collapse">
                                 <div class="panel-body symselectmob symselectmobdivcon">

                                <div id="loginError" class="railwayboldfont alert alert-warning alert-dismissible hidden validationerrorbox railwayreguler " role="alert">
                                    Please select at least one anatomical site to proceed..
                                </div>
                            


                                     <div class="col-md-3 col-xs-6 paddingnoneboth educaterleft floatleftxs">
                                        <div class="checkboxstyles">
                                            <div ng-repeat="answer in question2_1Answers">
                                                <input id="{{'check2-' + answer.answerID}}" type="checkbox" name="check" value="{{'check2-' + answer.answerID}}" data-answerID="{{answer.answerID}}">
                                                <label ng-click="locateSite(answer.answerText)" class="proximalightfontfamily" for="{{'check2-' + answer.answerID}}">{{answer.answerText}}</label>
                                                <div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="educatermiddle col-md-3 paddingnoneboth floatleftxs">
                                        <div class="checkboxstyles">
                                            <div ng-repeat="answer in question2_2Answers">
                                                <input id="{{'check2-' + answer.answerID}}" type="checkbox" name="check" value="{{'check2-' + answer.answerID}}" data-answerID="{{answer.answerID}}">
                                                <label ng-click="locateSite(answer.answerText)" class="proximalightfontfamily" for="{{'check2-' + answer.answerID}}">{{answer.answerText}}</label>
                                                <div></div>
                                            </div>
                                        </div>
                                    </div>
                                      <div class="col-md-3 col-xs-12 text-center paddingnoneboth skinimgmob skindroselecter">
                                            <div class="skininfection back back_area hide"></div>
                                            <div class="skininfection chest_area chest hide"></div>
                                            <div class="skininfection neck_area neck hide"></div>
                                            <div class="skininfection rhand_area hands hide"></div>
                                            <div class="skininfection lhand_area hands hide"></div>
                                            <div class="skininfection larm_area arms hide"></div>
                                            <div class="skininfection rarm_area arms hide"></div>
                                            <div class="skininfection llegs_area legs hide"></div>
                                            <div class="skininfection rlegs_area legs hide"></div>
                                            <div class="skininfection lfeet_area feet hide"></div>
                                            <div class="skininfection rfeet_area feet hide"></div>
                                            <div class="skininfection abdomen_area abdomen hide"></div>
                                            <div class="skininfection armpitl_area armpits hide"></div>
                                            <div class="skininfection armpitr_area armpits hide"></div>
                                            <div class="skininfection face_area face hide"></div>
                                            <div class="skininfection scalp_area scalp hide"></div>
                                            <div class="skininfection eyel_area eye hide"></div>
                                            <div class="skininfection eyer_area eye hide"></div>
                                            <div class="skininfection mouth_area mouth hide"></div>
                                            <div class="skininfection lips_area lips hide"></div>
                                            <div class="skininfection genitalia_area groinbuttocks hide"></div>

                                    </div>
                                    <div class="clearfix"></div>

                                         <ul class="nextprvbtnul">
                                    <li>
                                     <a ng-click="switchTab('collapse02', 'collapse1')" class="educatenextbtnprev startover railwayboldfont prevespecmob" href="javascript:void(0)">PREVIOUS <span class="educatenextbtnarrow"></span></a>
                                    </li>
                                     <li class="nextbtnli">
                                     <a class="educatenextbtn railwayboldfont nextimagalignbtn" href="javascript:void(0)" ng-click="onNextTab0('collapse02', 'collapse03')">NEXT<span class="educatenextbtnarrow"></span></a>
                                    </li>
                                    </ul>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tablist" role="tablist" aria-multiselectable="true">
                    <div class="panel-group accodianpannel" id="head_collapse03">
                        <div class="panel sitepanel-default">
                            <div class="panel-heading" ng-click="switchTab('collapse02', 'collapse03')">
                                <a id="accodianpan03" class="accodianheadding collapsed" data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)"><span class="accodianno avenirnext_bold">3</span>CHOOSE PATTERN</a>

                            </div>
                            <div id="collapse03" class="panel-collapse collapse">
                                <div class="panel-body educaterfinel">
                                <div class="educaterselecter">
                                     <div class="educaterselecterbg floatleftxsedu hidden-lg hidden-sm hidden-iphone6"></div>
                                        <ul class="skintypeselect hidden-xs show-iphone6">
                                            <li class="skinfocal" ng-click="clickPatternItem($event)"><a data-val="LOCAL" href=""></a></li>
                                            <li class="skindiffuse" ng-click="clickPatternItem($event)"><a data-val="DIFFUSE" href=""></a></li>
                                            <li class="skinliner" ng-click="clickPatternItem($event)"><a data-val="LINEAR" href=""></a></li>
                                            <li class="skinsingleles" ng-click="clickPatternItem($event)"><a data-val="SINGLE LESION" href=""></a></li>
                                            <li class="skinmanyles" ng-click="clickPatternItem($event)"><a data-val="MANY LESIONS" href=""></a></li>
                                        </ul>
                                        <ul class="educaterselectul anvirategulerdemi hidden-xs col-sm-12 paddingnoneboth show-iphone6">
                                            <li ng-click="clickPatternItem($event)" data-val="LOCAL" class="active"><span class="arrowskinselect"></span><span class="arrowskinselecttext" data-val="LOCAL">LOCAL</span></li>
                                            <li ng-click="clickPatternItem($event)" data-val="DIFFUSE"><span class="arrowskinselect"></span><span class="arrowskinselecttext" data-val="DIFFUSE">DIFFUSE</span></li>
                                            <li ng-click="clickPatternItem($event)" data-val="LINEAR"><span class="arrowskinselect"></span><span class="arrowskinselecttext" data-val="LINEAR">LINEAR</span></li>
                                            <li ng-click="clickPatternItem($event)" data-val="SINGLE LESION"><span class="arrowskinselect"></span><span class="arrowskinselecttext" data-val="SINGLE LESION">SINGLE<br/>LESION</span></li>
                                            <li ng-click="clickPatternItem($event)" data-val="MANY LESIONS"><span class="arrowskinselect"></span><span class="arrowskinselecttext" data-val="MANY LESIONS">MANY<br/>LESIONS</span></li>
                                        </ul>
                                        <div class="clearfix hidden-xs hidden-iphone6"></div>
                                       <div class="btn-group hidden-iphone6 filterbtngroup anvirateguler floatleftxsedu">
                                            <button type="button" class="btn dropdown-toggle filterdropdown-toggle educaterdropdown_toggle" data-toggle="dropdown">
                                                <span data-bind="label" class="selectlabel">LOCAL</span>&nbsp;<span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu filterdropdown" role="menu">
                                                <li ng-repeat="answer in question3_1Answers | orderBy : 'answerID'"><a href="javascript:void(0)" ng-click="clickPatternItem($event, true)" data-position="{{answer.position}}" data-answertext="{{answer.answerText}}">{{answer.answerText}}</a></li>
                                            </ul>
                                        </div>
                                        </div>

                                    <div class="clearfix"></div>
                                    <center><p ng-hide="ques2Answered && ques1Answered" class="messages success">Please select at least one answer from each section above to continue.</p></center>
                                    <ul class="nextprvbtnul">
                                    <li>
                                      <a ng-click="switchTab('collapse03', 'collapse02')" class="educatenextbtnprev startover railwayboldfont" href="javascript:void(0)">PREVIOUS <span class="educatenextbtnarrow"></span></a>
                                    </li>
                                    <li class="nextbtnli">
                                        <a ng-show="ques2Answered && ques1Answered" class="educatenextbtn railwayboldfont" href="javascript:void(0)" ng-click="finishQA()">FINISH<span class="educatenextbtnarrow"></span></a>
                                    </li>

                                    </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="tab-pane fade skintabcontent" id="profile">

            </div>
            <div class="tab-pane fade favoritessection" id="messages">



            </div>

        </div>

    </div>
</div>
