<div class="educaterbg">
    <div class="sitemiddlelow educaterdiv">
        <h1 class="railwaythinfamily educatertitle educatertitlemob">Skin Symptom Educator</h1>
        <div class="educateraccodian">
            <div class="sitecontentaccodian sitecontentaccodianfaq sitecontentaccodianmob proximalightfontfamily">
                <div class="tablist" role="tablist" aria-multiselectable="true">
                  <div class="panel-group accodianpannel" id="head_collapse1">
                        <div class="panel sitepanel-default">
                            <div class="panel-heading" ng-click="switchTab('collapse02', 'collapse1')">

                                <a id="accodianpan01" class="accodianheadding" data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)">DISCLAIMER</a>

                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                          <div class="sitemiddlelow anvirateguler ">
                          <div class="panel-body symselectmob">
                          <div class="disclamersec">
                              <p>This tool is for educational purposes only and is not to be used to make a diagnosis. You should always consult a physician or health professional when making health related decisions related to diagnosis and treatment. </p>
                              <a href="#/educator-symptoms">
                                  <button class="btn disclamerbtn railwayboldfont" type="button">PROCEED</button>
                              </a>
                              </div>
                              </div>
                          </div>

                            </div>
                        </div>
                    </div>
                </div>
                
                
                </div>

            </div>
        </div>

    </div>
</div>
